[2018-09-26 07:14] matthid commented on #2107
@mapfel Can you please upload your script file you wrote?

[2018-09-26 10:06] mapfel commented on #2107
it is exactly that one from the tutorial
https://fake.build/fake-gettingstarted.html

[2018-09-26 10:17] matthid commented on #2107
No I think something is different (maybe whitespace?). Can you please zip and upload the folder because something is different. Also the full fake output might be helpful. For me it looks like this:
![image](https://user-images.githubusercontent.com/1866463/46073747-0ea0d580-c186-11e8-8afe-26247f62bf5a.png)

[2018-09-26 11:30] matthid commented on #2107
@mapfel From your output it looks like some quotes got added in your setup/environment . Did you add some environment variables?

[2018-09-26 14:09] mapfel commented on #2107
attached a zip, including the fake scripts, my environment and the output
[fake.2107.zip](https://github.com/fsharp/FAKE/files/2420064/fake.2107.zip)

[2018-09-26 14:11] mapfel commented on #2107
your are right: it was the TARGET variable in my environment!
deleting it, and now I have a "green" output
wtf! strange
thanks guys for your efforts!!

[2018-09-26 14:34] matthid commented on #2107
@mapfel Yes sadly that is an historic artifact and still there because of backwards compat... Maybe we should warn if it is used.

[2018-09-26 16:32] mapfel commented on #2107
Yes, in case somebody tries to upgrade like me, he will run into the same situation. It was a very frustrating experience not to be able to run the Getting Started sample.
So FAKE should check the existence of that variable and display a meaningful warning. Would be nice.

[2018-09-26 19:28] BlythMeister commented on #2108
To extend this, error also doesn't work as status should be error.

[2018-09-26 19:59] matthid commented on #2108
@BlythMeister So when you (or any api you use) uses `traceError` you expect the build to fail?

[2018-09-26 20:01] BlythMeister commented on #2108
No, but reporting a message as an error message doesn't make build fail (I don't think)

There is another issue that when a target ends with a failure result, the TeamCity listener should post an build failure with the close block error message. (I think)

[2018-09-26 20:02] BlythMeister commented on #2108
As far as I know, in TeamCity 'ERROR' != 'FAILURE'

[2018-09-26 20:04] matthid commented on #2100
After discussing what the CLI should look like (`fake install`, `fake update`, `fake prepare`, `fake download`, `fake restore` ...) I'd accept a PR for this. From time to time I thought about this as well. (you should feel free to send a PR as changing the CLI shouldn't be a problem)

[2018-09-26 20:05] matthid commented on #2108
@BlythMeister Can you verified that?

[2018-09-26 20:06] otto-gebb commented on #2108
@BlythMeister A build definition has a setting in the "Failure conditions" that is looks like "Fail build when errors are logged".

[2018-09-26 20:09] BlythMeister commented on #2108
Ahh yeah, I never have that enabled 😂

[2018-09-26 20:10] matthid commented on #2108
The reason why I asked is because we tried to change stuff there in there past and usually people start to complain that there builds are failing (even when they should fix their builds)

[2018-09-26 20:13] matthid commented on #2108
Or put differently, when we decide to do it I'll probably close those issues with "by-design" or have a workaround ready ;)
We are not reverting afterwards like we did in the past (people can lock the old versions of the module), but we  should be sure we are doing the right thing.

[2018-09-26 20:14] matthid commented on #2108
We could for example add documentation for the TeamCity option if that already exists.

[2018-09-26 20:15] otto-gebb commented on #2108
We can start by changing just the behavior of `traceImportant`, that would generate a warning. Warnings do not fail the build. Can we?

[2018-09-26 20:17] matthid commented on #2108
@otto-gebb I just want to discuss and decide this once and for all, we changed to policy countless times in the past, reverted releases/prs and I want this to end :)

[2018-09-26 20:28] matthid commented on #2108
@BlythMeister Yes that would be very welcome, feel free to update the docs (=api docs for the [teamcity module](https://fake.build/apidocs/v5/fake-buildserver-teamcity.html) similar to the [TeamFoundation](https://fake.build/apidocs/v5/fake-buildserver-teamfoundation.html) one) as well (just link to official docs)

[2018-09-26 20:42] BlythMeister commented on #2108
@matthid this would extend on @otto-gebb pr to include trace error and a "block" ending with a failure.
@otto-gebb, I'll base my branch off of yours and raise it tomorrow. 👍

[2018-09-27 05:44] nojaf commented on #2100
Hi @matthid , thanks for the approval.
Could you give me some directions on getting started?
What should the cli look like? Could it be an option to just do something like `fake.exe paket <command>` and act accordingly?

[2018-09-27 06:14] matthid commented on #2100
That would be an even bigger change and probably be seen sceptical by some users. It would need a change similar to https://github.com/fsprojects/Paket/pull/3338 before we can start here

[2018-09-27 06:36] BlythMeister commented on #2100
If I understand your aim is to perform the compile stage of running fake.  Without running your script.

So why not use a similar syntax to ’fake run <script>‘ and do ’fake compile <script>‘

[2018-09-27 06:38] baronfel commented on #2100
An additional thought I had with @theangrybyrd tonight would be to package up that compiled version of the fake dll into a single deployable artifact somehow. Ideally a .net core static-linked exe, but that might not be feasible.

[2018-09-27 08:00] matthid commented on #2100
@baronfel Yes I thought about that as well, this is useful especially for release pipelines, however this is a separate issue imho

[2018-09-27 08:00] matthid commented on #2100
@BlythMeister I like `fake compile` as well

[2018-09-27 08:30] nojaf commented on #2100
@matthid just to be on the safe side, what does `fake compile` do for you?
I'd like something that installs my fake deps. Compile sounds like you will compile that fsx to a dll?

[2018-09-27 08:40] matthid commented on #2100
@nojaf Yes it would do everything, load all deps, generate intellisense files and compile the script (cached behind the scenes), such that everything is ready for `fake run`

[2018-09-27 08:41] matthid commented on #2100
And it really would be a `fake` specific operation and could have options like `fake compile --no-install` to skip the `paket install` step if needed

[2018-09-27 08:43] nojaf commented on #2100
Ok, would you mind writing out a small summary of all the commands. What each should do?
I could perhaps start then with `fake install` and `fake update`.

[2018-09-27 08:45] matthid commented on #2100
Imho the commands are different ways to solve the problem of this issue. I'll update the first post

[2018-09-27 09:00] matthid commented on #2100
Hope the suggestions make more sense now and capture the current discussions

[2018-09-27 13:55] softlion opened #2112 "MSBuild.build generates an incorrect command line (FAKE 5)"
### Description

The following script part generates a command line which fails, because the /p switch is inside a string:

[code]

Generates this command line, which fails:

[code]

### Repro steps

see above.

### Expected behavior

no fail.

### Actual behavior

[code]

### Known workarounds

A command which works would be the following one. The only difference is the quote.

/p:"target=..." in

[2018-09-27 13:58] matthid commented on #2112
From a command line escaping perspective there should be no difference between using the quotes after or before `:`

[2018-09-27 14:01] softlion commented on #2112
It seems the problem is caused by the comma ",1433"

[2018-09-27 14:03] softlion commented on #2112
If i write this command in terminal, and the comma ',1433' is removed, it does not work but it does not complain. If the comma is there, it complains. If the /p: is outside the quotes, it works fine.

[2018-09-27 14:18] matthid commented on #2112
maybe comma is a special syntax to start another argument in msbuild and there need to be additional quotes around the property value, no idea

[2018-09-27 14:51] matthid commented on #2112
By the way I think one workaround is to use environment variables instead of cli arguments. I think even dotnet cli is doing that for some stuff as there are dome edge cases impossible to escape properly

[2018-09-27 15:09] softlion commented on #2112
Dunno how to do that with env vars.

[2018-09-27 16:37] matthid commented on #2112
maybe @vbfox has an idea what's going on there?

[2018-09-27 16:55] #2107 closed

[2018-09-27 16:57] matthid commented on #2107
@mapfel Thanks for reporting, next version fake will tell when it uses the `target` environment variable.
Note that when looking thought the code I noticed that cli arguments are preferred so `fake build --target Default` should have worked as well.

[2018-09-27 17:17] matthid commented on #2112
@softlion Are you sure your workaround is doing what you want?

I just tried to reproduce this with:

[code]

[code]

And the other escaping indeed leads to the error you did report.

[2018-09-27 17:20] matthid commented on #2112
It seems with comma you can assign multiple properties with a single `/p`:
[code]

[code]

[2018-09-27 17:22] softlion commented on #2112
Yes the msbuild command is running fine when /p: is outside the double quotes. If it is inside, even if i remove the comma of ,1433 it does not work. Either with a message, or with no message at all (which is strange). I copy/pasted the command manually to verify while creating the workaround.

[2018-09-27 17:29] matthid commented on #2112
I think we will just add msbuild escaping here https://docs.microsoft.com/en-us/visualstudio/msbuild/msbuild-special-characters?view=vs-2017 (including comma) from my quick tests that seems to work the best

[2018-09-27 18:59] matthid commented on #1298
I'll try to consider this when someone ports the XamarinHelper to fake 5, for now I'm closing this as it is in the legacy codebase

[2018-09-27 18:59] #1298 closed

[2018-09-27 19:00] matthid commented on #1394
Closing issues in the legacy code base, feel free to re-open if this still exists in fake 5

[2018-09-27 19:00] #1394 closed

[2018-09-27 19:00] matthid commented on #1466
Closing issues in the legacy code base, feel free to re-open if this still exists in fake 5

[2018-09-27 19:00] #1466 closed

[2018-09-27 19:05] matthid commented on #1945
I think I'm closing this for now. I feel like the preferred way for "new style" projects is to call `dotnet test` or `dotnet run`, which are both supported. Maybe we just need `XUnit.buildArgs` (just like we added for other modules) then the user can build arguments if he needs to.
PRs which improve things are welcome

[2018-09-27 19:05] #1945 closed

[2018-09-27 19:10] matthid commented on #2039
We could just set the default to `false` which would change the behavior in fake to not pass the argument at all

[2018-09-27 19:10] #2039 closed

[2018-09-27 19:11] matthid commented on #2095
Any progress / interest in debugging this? Otherwise I'd assume we can close? Like I said everything is working on the gitlab runner we use for this repository...

[2018-09-27 19:19] #2073 closed

[2018-09-27 19:19] TheAngryByrd commented on #2095
Sorry been on vacation this week. Close it for now. I'll investigate later.

[2018-09-27 19:33] #2095 closed

[2018-09-27 19:43] #2085 closed

[2018-09-27 20:44] #2108 closed

[2018-09-28 04:25] ghost opened #2118 "Reduce download size of a fake build"
### Description

While investigating disk utilization on CI jobs, I found that the .nuget/packages/ folder is very large. Scrolling through the output of dotnet fake run build.fsx, I see that even before my project dependencies are restored (using `dotnet restore my.sln`), it seems the `.nuget/packages` folder grows to 600mb.

Each time a CI job is launched (say for example, inside microsoft dotne

[2018-09-28 04:49] abk-x commented on #2118
Just as a quick test, the following shows there is about 300MB of duplicated dependencies:

[code]

[2018-09-28 09:04] abk-x commented on #2118
Just to clear it up, it does indeed seem that the packages are being downloaded, not just referenced:
[code]

[2018-10-03 13:58] BlythMeister commented on #2007
we are going to need to come up with a solution for this sooner rather than later.

The new Fake.Sql.SqlServer module doesn't work because of this exact issue :(

[2018-10-03 15:16] BlythMeister commented on #2007
also, the workaround only works when using fake-cli.
when using dotnet-fake you can't pass `additional-deps` :(

So i've hit a brick wall trying to solve this :(

[2018-10-04 08:42] matthid commented on #2007
@BlythMeister The question is if we can achieve the same not at start of the dotnet core runtime but later when the code is already running. Another way would be to "restart" fake itself with the proper arguments once this situation is detected. This probably means we need to generate the additional-deps file ...

[2018-10-04 08:55] matthid commented on #2007
Ok I did a bit of digging and apparently restarting ourself is the only option right now:

https://github.com/dotnet/corefx/issues/21982#issuecomment-382338058

There seems to be an ongoing effort to support this scenario (If I actually understand that correctly): https://github.com/dotnet/designs/pull/47

[2018-10-04 10:11] matthid opened #2121 "When CurrentDirectory is changed fake fails to print warnings"
### Description

[code]

### Repro steps

Write a script which changes the current directory and then throws an exception

1. Run the script

### Expected behavior

Fake reports the exception and the compiler warnings

### Actual behavior

Fake hides the underlying error and prints an error about not  being able to find the warnings cache.

### Known workarounds

[code]

[2018-10-04 10:42] matthid commented on #2007
Just in case someone wants to step in. I tried the following (on windows x64):

* Call Kernel32.LoadLibrary before running the target
* Call Kernel32.AddDllPath (or AddDllBasePath) before running the target
* Set current directory to the directory containing sni.dll
* Set the PATH variable to a directory containing sni.dll

None worked so far (I'm not sure why they wouldn't)

[2018-10-05 09:56] BlythMeister opened #2122 "TraceSecrets Don't Always Work"
### Description

Text registered with a trace secret will print when opening and closing tags (and maybe other places)

### Repro steps

Register a secret
Do a trace with a description containing the secret

### Expected behavior

Secret doesn't show in console

### Actual behavior

Secret does show

[2018-10-05 10:04] matthid commented on #2122
Secrets also will show when external processes print the secrets (and the output is not redirected) or if you use System.Console directly. It's not a perfect solution whatsoever. Can you give a small example snippet on what you mean?

[2018-10-05 10:19] matthid commented on #2118
I renamed the issue, I hope that is the essence of the discussion

[2018-10-05 10:33] BlythMeister commented on #2122
The script
[code]
Will output

So when using logfn the secret doesn't print (which is good)
When using trace, the secret does print

[2018-10-05 10:36] matthid commented on #2122
Agreed this could work. So the secret is part of a task-description, which is certainly unusual...

[2018-10-05 10:45] BlythMeister commented on #2122
another completely contrived example to show different behaviour for outputting secrets:

[code]
outputs

i'll have a look to see if i can fix this :)

[2018-10-05 15:12] TangoMikeOscar opened #2124 "NuGet.Version.getLastNuGetVersion fails to parse response"
### Description

NuGet.Version.getLastNuGetVersion fails to parse the response when using a myget feed.

### Repro steps

Call NuGet.Version.getLastNuGetVersion with a package on a myget feed

### Expected behavior

Call should return the SemVerInfo of the latest version of the package

### Actual behavior

The call causes an error:

[code]

It would seem that it is trying to parse the response as

[2018-10-05 16:04] matthid commented on #2124
So do I understand it correctly that this worked in fake 4 and is no longer working?

[2018-10-05 19:19] TangoMikeOscar commented on #2124
Our previous implementation was using the deprecated exe runner in the FAKE package version 5.3 and using the deprecated targets and modules.

If you want more specific details I can provide them. But yes, with this method it was working.

[2018-10-05 23:05] #2121 closed

[2018-10-06 00:35] mac10688 opened #2125 "Accessing script arguments"
### Description

I would like to access arguments passed in via command line with my build script.

### Repro steps

Please provide the steps required to reproduce the problem

1. Create test.fsx

2. Insert the following code
[code]

3. Call script with

`./.fake/fake run test.fsx config=test`

### Expected behavior

The variable config will be found and trace.log will print test

### Actual behav

[2018-10-07 15:37] ovatsus opened #2128 "System.MissingMethodException: Fake.IO.DirectoryInfo.copyRecursiveTo"
Version: Fake 5.3

I'm getting this error when I run the GenerateDocs task in FSharp.Data in current master:

        System.MissingMethodException: Method not found: 'Microsoft.FSharp.Collections.FSharpList`1<System.String> Fake.IO.DirectoryInfo.copyRecursiveTo(Boolean, System.IO.DirectoryInfo, System.IO.DirectoryInfo)'.
           at FSI_0003.copyFiles()
           at <StartupCode$FSI_0003>.$FSI

[2018-10-07 15:48] matthid commented on #2128
I can only recommend to update to the new runner as it seems you haven't yet migrated to it

[2018-10-07 17:39] matthid commented on #2128
`executeFSIWithArgs` (which is obsolete by the way) is just executing the `fsi.exe` process so I'm pretty sure this should reproduce without fake as well. Fake might execute a different fsi.exe than you do or with other arguments.

[2018-10-07 17:39] #2128 closed

[2018-10-07 19:33] matthid commented on #2125
There are several ways to do this:

- Environment variables:
  * Either set them before executing fake, for example via your shell `MYVAR=myval ./fake run test.fsx` (syntax depends on your shell)
  * Set them via the command line arguments [`-e MYVAR=myval`](https://fake.build/core-targets.html#Command-line-interface-for-the-target-module). Note: This only works when using the `Fake.Core.Target` m

[2018-10-07 19:33] #2125 closed

[2018-10-07 19:40] matthid commented on #2090
@zakaluka Sorry for the late reply.

This is because of possible "breaking changes" in the script itself. I have seen that strategy somewhere and copied it (don't ask me where).

I guess this is a manual process for now as we basically "lock" the branch in addition to an version and we can change that later if needed (bug-reports come in for example). We don't have any strategy there at the moment

[2018-10-07 19:41] matthid commented on #1485
@rmunn I'd just assume that this never happens :)

[2018-10-07 20:30] mac10688 commented on #2125
Oh ok. I can do that. I'm not sure what Fake.Core.Target is. I was hesitant to do this because I didn't want to set global state in my shell. I don't know what the scope of setting an environment variable is so I was afraid of what happened if two builds kicked off at one time. One for production and one for qa. I'm using teamcity to build it and you don't seem to have an issue with it so I will d

[2018-10-08 07:33] matthid commented on #2125
@mac10688 Yes try to get some docs for the shell you are using most have a syntax to set environment variables for the current session only or even for a single command (for bash it's just setting the variables before the command on the same line see my example)

[2018-10-08 07:35] matthid commented on #2125
@mac10688 yes that SO answer is outdated as both the cli as well as the APIs changed. Please feel free to add another answer...

[2018-10-08 10:30] #2122 closed

[2018-10-08 11:27] matthid commented on #2105
I think this should be better now, feel free to test and report back

[2018-10-08 11:28] matthid commented on #2105
Ah wrong issue sorry

[2018-10-08 11:33] matthid commented on #2057
I'm open for concrete PRs regarding documentation, guideline and implementation changes. However I'm closing this stale discussion, but feel free to open another issue if there are still some open points to discuss.

I'm fine with guiding users into a particular way of using FAKE as long as the other options are documented elsewhere and the way we guide users is "easy to follow" (whatever that mea

[2018-10-08 11:33] #2057 closed

[2018-10-09 14:11] SteveGilham opened #2134 "[FAKE 5.8.4] PATH environment variable overwritten in `DotNet.build`"
### Description

I have a program pre-build step which invokes `pwsh`, which is on the PATH; this step works fine in Visual Studio, and when built through a FAKE target that invokes `DotNet.build` on the relevant solution in FAKE <= 5.7.2; but on upgrading to 5.8.4 this step fails with
[code]

### Repro steps

1. Create a .net core project with the target
[code]

2. build with Fake 5.8.4

### Expe

[2018-10-09 14:38] matthid commented on #2134
Any chance for me to reproduce this?

[2018-10-09 14:39] matthid commented on #2134
Ah you say it reproduces with the minimal project file & usind dotnet build?

[2018-10-09 16:49] SteveGilham commented on #2134
Yes, nothing fancy is involved in the build; in particular no environment mapping.  If you have problems, then I'll do the cutting down of the real case.

[2018-10-09 19:20] matthid opened #2135 "Fake Context seems to fail in the test-suite"
### Description

See https://github.com/fsharp/FAKE/pull/2131/files#r223829937

### Repro steps

1. Uncomment the commented line
2. Run the tests

### Expected behavior

All tests (or at least the ones in the process module) should start to trace the executed processes.

### Actual behavior

Half of the tests start to fail.

### Known workarounds

None

[2018-10-09 20:11] #2134 closed

[2018-10-09 22:08] ditadi opened #2136 "The type initializer for '<StartupCode$Fake-Core-Process>.$Process' threw an exception."
### Description
Fake is failing to build a solution.

### Expected behavior

Should build the solution successfully.

### Actual behavior
Fails to build with this stack trace

[code]

### Known workarounds

N/A

### Related information

* Operating system: **Windows 10**
* .NET Runtime, CoreCLR or Mono Version: **.NET Core SDK 2.1.402**
* Version of FAKE (4.X, 5.X) **5.X**

[2018-10-09 23:32] matthid commented on #2136
Interesting 'NotSupportedException'... Can you give some way or a minimal script to reproduce this?

[2018-10-10 10:03] matthid commented on #2134
@SteveGilham Should be fixed now with `5.8.5`

[2018-10-10 12:05] adusak opened #2142 "DotNet helper breaks PATH"
### Description
When building using the DotNet helper the $PATH variable is overwritten rendering some builds broken.
### Repro steps

Have a csproj that executes external tools such as node.

### Expected behavior

DotNet helper preserves the original PATH.

### Actual behavior

DotNet helper sets PATH only to found dotnet cli tool.

### Known workarounds

Do not use DotNet helper

### Related in

[2018-10-10 12:18] matthid commented on #2142
Is this with `5.8.4` because we just fixed this bug and released `5.8.5`?

[2018-10-10 12:40] matthid commented on #2142
@adusak Can you take a look at the lockfile and upload it?
Also a minimal sample would probably help

[2018-10-10 12:54] SteveGilham commented on #2134
@matthid -- Works like a charm.  Thanks once again!

[2018-10-10 13:09] adusak commented on #2142
Sorry, it was caused only by my stupidity. I had the latest CLI but the lock file contained an old version of the DotNet package. Sorry!

[2018-10-10 13:09] #2142 closed

[2018-10-10 13:17] matthid commented on #2142
@adusak happy to know that it works, thanks for reporting back

[2018-10-10 16:12] ditadi commented on #2136
Building Fake with `dotnet build build.proj` reproduces the exception, with commit 40bf083ddcc3d977dd10d6654453919e48c4a6a6.

[2018-10-10 16:23] matthid commented on #2136
@ditadi It doesn't either for me nor for the build-server so something needs to be different on your system. Are you using a special shell or something like that?

[2018-10-10 16:32] matthid commented on #2136
@ditadi Ah and can you report in which directory the source are cloned? Maybe it has something to do with some special character in your directory (you can send that private via mail if you don't want to make that public for example `matthi.d` at `gmail.com` ).

Some other options are `fake -v build` (verbose mode) and the full logs (but they are a bit nasty to cleanup).

What's interesting is tha

[2018-10-10 16:33] BlythMeister commented on #2136
I think the not supported exception is coming from msbuild...

[2018-10-10 16:36] BlythMeister commented on #2136
I've seen this sort of thing before when the generated path for the project being passed to msbuild is invalid...when I had it, it was all because of the current directory as a lot of things are relative to that.

[2018-10-10 17:57] ditadi commented on #2136
I cloned FAKE repo to C:\code directory. I added -v flag to `<Exec IgnoreStandardErrorWarningFormat="true" Command='dotnet fake -v build $(FakeParallel) $(FakeTargetArg)' WorkingDirectory="$(RepoRootDir)" />` and ran the command `dotnet build build.proj` and [here](https://gist.github.com/ditadi/003434945e5d207ee7ea7c68bd354657) is the output with that error.

[2018-10-10 18:20] matthid commented on #2136
@ditadi after looking through the code again. This is quite a shot into the dark but can you tell us the following environment variables:
- PATH (or any other casing of it)
- PATHEXT
- MONO (if it exists)

Also can you try to run a script with fake containing the following code (or add it to the `build.fsx` on top):

[code]

And I still don't get why there is no stack for this exception, but I can

[2018-10-10 18:39] ditadi commented on #2136
[Here](https://gist.github.com/ditadi/6275dc3d171e9f510b8519d3a704a3f4) is my PATH and PATHEXT. I do not have MONO installed but I tried adding
`Fake.Core.Process.tryFindTool("MONO")` and `Fake.Core.Process.tryFindTool("mono")` to the build.fsx file and got the same exception.

[2018-10-10 18:44] matthid commented on #2136
@ditadi Ah now we are slowly getting somewhere, so you are using cygwin as shell, does the same happen when using cmd/powershell or git bash?

[2018-10-10 18:56] matthid commented on #2136
Additionally there is `harp:/cygdrive/c/Users/user/AppData/Local/Microsoft/WindowsApps::/Program` (ie an empty path)

[2018-10-10 19:14] matthid commented on #2136
@ditadi I tried but I still cannot reproduce. I'm not sure what else to ask for, I guess we need to use the debugger on your machine or customized builds to debug this on your machine

[2018-10-10 19:17] ditadi commented on #2136
I ran these commands in cmd and powershell but Cygwin was installed. I removed Cygwin from my machine and I'm still getting the error.  [Here](https://gist.github.com/ditadi/f61a6f8147cc30d2646f354b9be4913f) is a link to my updated PATH.

How would I go about debugging with say Code?

[2018-10-10 20:02] matthid commented on #2136
@ditadi I just pushed some debugger settings (so please `git pull`) so now you should be able to just open code and then:
![image](https://user-images.githubusercontent.com/1866463/46762509-82d78f00-ccd7-11e8-9d45-c3f7a1825aa0.png)

Note that if you enable "break on all exception" you should eventually see the `NotSupportedException` and hopefully the stack trace.

There is only one problem: As we

[2018-10-10 20:20] matthid commented on #2136
Fake.Core.Process.tryFindTool("MONO") and Fake.Core.Process.tryFindTool("mono") to the build.fsx file and got the same exception.

Sorry my code was wrong it should read `Fake.Core.Process.tryFindTool "MONO" "mono"` (it is important to have both arguments as otherwise nothing happens, besides fake issuing a warning). What I hoped is that the error report show a different stacktrace

[2018-10-10 21:01] ditadi commented on #2136
I did get a different [output](https://gist.github.com/ditadi/8641462e8ac4867ce66b04c28fc4b075) when adding updated `tryFindTool` line. I'll follow the debugging steps when I have more time.

[2018-10-10 21:31] matthid commented on #2136
That is basically jackpot, now all we need to to is copy (inline) the code for the function into your script and add some printf to see which variables are the problem. I'll send the code for this tommorow, just wanted to let you know that debugging might not be required after all

[2018-10-11 09:21] chappoo opened #2144 "Fake.DotNet.NuGet needs to support ContentFiles section in nuspec"
### Description

Currently the Fake.DotNet.NuGet module does not support interpolation of the ContentFiles section, which means delivery of content files will not work correctly for .NET Core.  This is documented here:

https://blog.nuget.org/20160126/nuget-contentFiles-demystified.html

### Expected behavior

Definition of the ContentFiles element should be possible via `NuGet.NuGetParams` to inj

[2018-10-11 12:30] TclasenITVT opened #2145 "Dotnet New Template FAKE + Paket"
### Description

I have just set up my first project to use Paket + FAKE. It took me some time to get it going even with the FAKE-template that is available as it was my understanding that I would still need to set up Paket myself. If this is an error on my end that the template works without .paket-folder and doesn't require the steps seen on the Paket website then you should maybe improve the do

[2018-10-11 20:06] ditadi commented on #2136
I ended up attempting to re-create the issue on a fresh machine and couldn't do it. I decided to nuke my machine that had this problem and start with fresh install of Windows 10. I am no longer experiencing this issue with two new machines I've set up.

[2018-10-11 21:09] matthid commented on #2136
Oh no, I'd have liked to figure out the root cause, but I'm glad it works for you

I'd assume it had to do with some environment variable or something like that...

I guess this means all I can do is add sone code to improve the error message in case this happens again, but we cannot fix the root cause

[2018-10-11 22:12] matthid commented on #2145
Either with or without paket are both supported usage scenarios. Can you give an example on what we should change where?

[2018-10-12 07:47] TclasenITVT commented on #2145
Create a second dotnet new template that additionally contains the .paket-folder which contains the paket-bootloader.exe renamed to paket.exe as described in the [paket documentation](https://fsprojects.github.io/Paket/paket-and-dotnet-cli.html#Downloading-Paket-s-Bootstrapper).
Also a short usage manual included with the template would be nice. Something that give a little bit more details of how

[2018-10-12 09:39] matthid commented on #2145
I'd rather focus on the 'without' paket workflow until paket runs on netcore. Any idea what we should change in the docs/template?

[2018-10-12 14:07] MarioVolarevic opened #2146 "ansiColorSupport outputs junk to build log in teamcity and breaks wix build"
### Description

Setup for our tool is built on teamcity using wix toolset with FAKE scripts for preparing the environment.
After updating FAKE in context of teamcity, Msbuild now gets this flag by default which didn't exist before:
clp:ForceConsoleColor
And it seems that this freezes the wix build at one point.
When this flag is removed, setup is built successfully.

It seems that this was added

[2018-10-12 18:41] matthid commented on #2145
As discussing on another issue I feel like the problem is that the ootb template seems to have a problem when using the default settings, and we maybe should change the default to `inline` /cc @kblohm

[2018-10-12 18:45] matthid commented on #2146
Are you by any chance using an old version of TeamCity? If yes does the following workaround make it work for you:
[code]

[2018-10-12 19:40] kblohm commented on #2145
As for adding paket, i would guess that most people that use FAKE are also using paket, so that might be a nice convenience. But then again, with the global tool for paket it should be fairly easy to install that for a new project. Not sure whats the best approach there. I feel like the templating/setting up projects for F# is lacking/ not very beginner friendly in general but that is probably ano

[2018-10-12 20:13] matthid commented on #2145
@kblohm I'm fine either way but I feel like whatever the defaults are they should work without error and without any paket.

Afaik when `paket.dependencies` exists fake will just create a `paket.lock` file on demand but apparently that doesn't work?

@TclasenITVT I think we need some clarification what exactly you had problems with. I just tried the following:

[code]

and it worked (it created `p

[2018-10-12 20:55] matthid commented on #2146
I thought TeamCity supported Ansi-Colors maybe @BlythMeister knows?

[2018-10-12 21:07] MarioVolarevic commented on #2146
We are using Teamcity 10.0.5 (build 42677)
And we bypassed the issue by setting ConsoleLogParameters  to [ ]
I think if using your proposed method as a workaround or ours, the result it the same and command line parameters don't include: clp:ForceConsoleColor

Also, Teamcity build log output actually becomes colored, but the problem is that weird symbols are output with the colors.

[2018-10-12 21:10] #2136 closed

[2018-10-12 21:11] matthid commented on #2136
Next time the error message will tell us what the problem is. Additionally I figured out why the stacktrace was missing and fixed that as well

[2018-10-13 02:26] bratfizyk opened #2148 "No "dotnet nuget [push|delete]" command"
I'm using FAKE5, created a project using the dotnet template.

I've managed to add a target that packs my library into a NuGet package (to do so I used DotNet.pack). However, I'd like to automate pushing my package, but I can't see anything that correlates with:

If it's not available, that's fine - I'm happy to go ahead and try to implement it on my own. Just want to make sure I'm not going to re

[2018-10-13 06:19] BlythMeister commented on #2146
I wasn't getting any junk, I was getting colours...

[2018-10-13 06:46] BlythMeister commented on #2148
@matthid but it's msbuild "for .netcore"   so don't know if that is the same...

[2018-10-13 06:54] matthid commented on #2146
@MarioVolarevic while that is a completely sensible standpoint from msbuild develooers the conclusion:

Is problematic, because what should happen is that TeamCity detects those special characters, and only displays their meaning (ie hides them but colorizes the output). This means they should only be visible to you when you retrieve the 'raw' outpu (is something like that exists)

But yeah in any

[2018-10-13 07:58] matthid commented on #2148
@blythmeister yes indeed it is different but it has the same cli and we use the same code to generate it, so from a 'fake' perspective the only difference is that one is 'msbuild.exe' and one is 'dotnet msbuild' otherwise they are treated equally

[2018-10-13 08:34] #2003 closed

[2018-10-13 08:34] matthid commented on #2003
Thanks for reporting

[2018-10-13 08:45] matthid commented on #1971
I have added
![image](https://user-images.githubusercontent.com/1866463/46903381-42913000-ced4-11e8-9f34-d8cd280cf42a.png)

I think it is a good and much more lightweight way to do this. However one limitation of this is if you dynamically create targets this doesn't work easily. Then you probably need to understand the underlying infrastructure...

I'm closing this for now, but new comments/PRs a

[2018-10-13 08:45] #1971 closed

[2018-10-13 09:18] matthid opened #2149 "Write summary markdown file"
### Description

Some CI servers like Azure DevOps allow to display generated markdown files, we could use this to further improve the integration and show the summary display in a better place

There is no good documentation around that feature but people do it: https://stackoverflow.com/questions/45222287/display-html-content-in-vsts-tfs-build-summary-without-using-contribution-in-man

Maybe oth

[2018-10-13 10:10] BlythMeister commented on #2146
Though, disclaimer, I don't use fake to call msbuild.
For all cli tools I just hand roll the calls to the exe using Fake.Core.Process to give greater control over the arguememts and responses.
Since I have a level of abstraction over fake to hide targets etc.

[2018-10-13 13:41] bratfizyk opened #2151 "Processing Target Parameters"
I've found out it is possible to pass in parameters to my targets by using ```Target.runOrDefaultWithArguments```. Then I can invoke my Target with a list of args like this:

`./fake.sh build -t Test -arg1 val1 -arg2 val2 -flag1 -flag2`

Is there a decent way of handling those arguments from within targets ? For now the best I was able to come up with myself is:

[code]
(Note that it handles singl

[2018-10-13 14:11] matthid commented on #2151
I guess you have to define what "lightweight" means. I think defining a single string and then using a normal `Map<string, string>` like datatype as lightweight as it can get ;)

Also people have different opinions on how a "lightweight" library might look like, for example what you suppose are arguments which are not POSIX conform and therefore nothing I'd like people to use by default.

[2018-10-13 14:13] BlythMeister commented on #2151
Args could be added as fakevars automatically...

[2018-10-13 14:31] BlythMeister commented on #2151
I guess the arguments are already provided, it's more the mechanism to find them.  Nothing stopping us adding a function onto the context to get named argument I guess.

[2018-10-13 14:36] matthid commented on #2151
Problem is that if we point people into that direction we will get issues about using the CLI incorrectly and reporting issues.
For example: If people use `fake run build.fsx --fsiargs --debug` we will assume `--fsiargs` to be a script arguments (because if it is a "run" argument it needs to be "before" `build.fsx`).
With the default settings and the way I suggest fake will report an error about a

[2018-10-13 14:38] BlythMeister commented on #2151
Ahh I see the issue.
I've never used the arguments like this, ive always set environment variables in my scripts before calling fake...and then pull them out in fake.

[2018-10-13 17:06] bratfizyk commented on #2151
@matthid By "lightweight" I meant that I've had hard time trying to define the usage string in order not to get an exception into my face ;). But looks like I'll need to spend more time with a doc.

Thanks for the info. From what you've said I guess that using Docopt is the recommended way to go. Let me take a closer look and I'll come back to the discussion soon.

[2018-10-13 17:14] matthid commented on #2151
@bratfizyk I'm happy to extend the section with more examples or whatever you think might help. I'm also open for other APIs as long as my points from above are addressed somehow. In fact you can easily roll your own without my intervention by publishing a NuGet package, we already link other "external" modules in the modules menu, so that could work as well.

[2018-10-13 18:34] matthid commented on #2148
Fake itself uses `nuget.exe push` and `paket.exe push`

I think your suggestions is reasonably, it just isn't implemented yet. But you can always just use `DotNet.exec` and add the `nuget push` argument manually.

[2018-10-13 20:17] kurtschelfthout opened #2154 "Where is isLocalBuild in FAKE 5?"
Small Fake 5 migration problem/question: there used to be an `isLocalBuild` function in v4. The Obsolete message points me to `Environment`, but either I'm being stupid or there is no equivalent.

Other than that migration was very straightforward.

[2018-10-13 21:46] bratfizyk commented on #2151
OK - I've played a bit more with the Docopt and I must admit I had underestimated it. The "formatting string" serves an additional role, that is forcing a user to write a documentation. I think I've understood the way it should be used and I like it.

Happy to close the issue now - not much more to say ;). Thanks for the help.

[2018-10-13 22:11] matthid commented on #2151
@bratfizyk please feel free to suggest changes or send updates to the corresponding places such that others find the answers faster :)

[2018-10-13 22:11] #2151 closed

[2018-10-13 22:12] #2154 closed

[2018-10-13 22:34] bratfizyk commented on #2151
I think it's all in the right place - the problem was rather with me being a bit too impatient ;).
But sure - I'll be happy to post some updates if anything comes to my mind.

[2018-10-14 10:56] ovatsus commented on #2128
How do I move to the new runner? Looking at https://fake.build/fake-migrate-to-fake-5.htm it seems I only need to change from "fake build.fsx <target>" to "fake run build.fsx --target <target>", but I get an error saying target run is not defined

[2018-10-14 11:00] matthid commented on #2128
@ovatsus First you need to switch to the new APIs, old APIs are not available in the new world

[2018-10-14 11:02] ovatsus commented on #2128
I already did (https://github.com/fsharp/FSharp.Data/pull/1201), this was after that

[2018-10-14 11:09] matthid commented on #2128
Then only specifying the modules is missing (direct `#r` and `#I` is no longer supported): https://fake.build/fake-migrate-to-fake-5.html#Add-FAKE-dependencies

[2018-10-14 11:13] ovatsus commented on #2128
having the #r and #I directly was very handy to be able to use the scripts both in Fake and as standalone fsi files for debugging, is that no longer supported?

[2018-10-14 11:28] matthid commented on #2128
@ovatsus If you have a concrete use-case in mind you can either open a new issue or add it [here](https://github.com/fsharp/FAKE/issues/1888)

[2018-10-14 11:33] ovatsus commented on #2128
Oh, I just realized, after upgrading to the new syntax, I can no longer Alt+Enter bits and pieces on build.fsx. That's a big regression for me

[2018-10-14 11:34] matthid commented on #2036
Hm I'm not sure I fixed this with the linked commit (not sure why) but I cannot reproduce this with the following test:

[code]

which is running in 2 seconds. Unfortunately looking at the code:

[code]

I still think this is not really optimal because if might go through the same targets multiple times but if I cannot reproduce I'll probably leave it unchanged rather than introducing bugs.

[2018-10-14 11:36] matthid commented on #2036
With `let counter = 10000` we get a stackoverflow which might be worth fixing...

[2018-10-14 11:42] ovatsus commented on #2128
I'm not sure what you mean regarding loading binaries, but to execute the scripts I need the FAKE binaries loaded so the lib methods are available, right? I want to to support .Net Core, but it I'm using regular .Net Framework I still expect FSI evaluation to work. I'm not moving myself to .Net Core until IMO one of the best features of F#, being able to iteratively evaluate snippets of code, is a

[2018-10-14 11:49] matthid commented on #2128
@ovatsus Basically you reference nuget packages with fake 5 and not individual `dlls`, you can complement this with the paket load script feature on the full framework fsi.

Additionally you can still run the fake 5 script in the full framework fsi with the following trick: https://fake.build/fake-debugging.html#Run-script-without-fake-exe-via-fsi

Regarding Alt+Enter that is a tooling problem and

[2018-10-14 13:00] matthid commented on #2036
@0x53A Thanks for the tip, yes there are a lot of ways to improve this. Everything is implemented in a very very naive way. I'm trying to figure out what you mean after I managed to make the stuff tail recursive (to no longer stack-overflow)

Any idea why

[code]

Is not considered tail recursive by the compiler (I hate that part of F#)

[2018-10-14 13:05] matthid commented on #2036
It works when I remove the `fGetDependencies` parameter and write the code directly into the body. I have no idea why, but hey it works

[2018-10-14 13:11] 0x53A commented on #2036
No clue. F# really needs a ``tail-rec`` keyword so the compiler errors out hard when it can't compile it tail recursive.

You could disassemble both variants and compare them. Also, afaik the jitter sometimes ignores the ``.tail`` prefix, so maybe it wasn't even F#s fault ...

-----------

Async has trampolining, right?

So another quick-fix with a slight performance penalty could have been to jus

[2018-10-14 13:42] matthid commented on #2036
@0x53A Just to confirm. Is that what you suggest (ie check the data before adding stuff)?

[code]

[2018-10-14 13:51] matthid commented on #2036
At least there seems to be no more significant difference between `let degradeAlgo = false` and `true` anymore, but it's still quite slow (at least for `10000` ~> 1min ) but I think that is enough for a first improvement. Also it is a bit unusual in regular use-cases to have such a dense graph

[2018-10-14 13:53] 0x53A commented on #2036
Yes that is what I meant.

----------------

This looks like a great improvement, in my original repro just ``10`` killed it, and now ``10000`` is (barely) usable.

Thank you!

[2018-10-14 16:52] #2036 closed

[2018-10-14 22:59] matthid commented on #2105
I think to address this (or rather parallel outpu in general on all systems) we should redirect the output of all started processes and print them only if needed (or together after a particular target has been finished)

This is probably not too hard but some bookkeeping would be required, also we need to indicate/report and detect if there is still progress (as otherwise people might cancel the b

[2018-10-15 07:45] TclasenITVT commented on #2145
I just didn't know that it works like that. Maybe just add that to the gettingstarted page that you should just run i like you said?

[2018-10-15 09:01] matthid opened #2160 "DoRestore is ignored in msbuild params"

[2018-10-17 16:20] DuongTrongNguyen commented on #1312
What?

[2018-10-17 16:38] matthid commented on #1312
@DuongTrongNguyen what happened? Did we regress this?

[2018-10-17 16:41] DuongTrongNguyen commented on #1312
This is not a solution for error MSB4126: The specified solution configuration "Release|ARM" is invalid.

[2018-10-17 16:45] matthid commented on #1312
The solution is to unset the "Platform" environment variable. As we no longer use the build.cmd script (where this has been fixed) this might have regressed

[2018-10-17 16:46] DuongTrongNguyen commented on #1312
Where are steps?

[2018-10-17 16:50] matthid commented on #1312
@DuongTrongNguyen https://github.com/fsharp/FAKE/issues/1312#issuecomment-234471749

[2018-10-17 17:34] DuongTrongNguyen commented on #1312
Again, I tried and It did not work.  The issue is in the project file not environment.

[2018-10-17 17:36] BlythMeister commented on #1312
Is this an issue with building FAKE.
which SLN file are you tring to build and using which command?

[2018-10-17 17:38] DuongTrongNguyen commented on #1312
No.
MSBuild [Path to your solution (*.sln)] /t:Build /p:Configuration=Release > Status.log

[2018-10-17 17:41] BlythMeister commented on #1312
Then I think your reporting this in the wrong place.

This issue was that the project/solution in this repo wouldn't build...purhaps try over on the msbuild repo.

[2018-10-17 17:43] BlythMeister commented on #1312
Or even try asking on something like stack overflow.
But it would appear your firstly not using the build tools provided by fake (which is what this repo is) and your also not trying to build the tool itself.
So not sure how this relates in any way to this issue with this repo/project.

[2018-10-17 19:29] DuongTrongNguyen commented on #1312
I googled it and it directed me to here.

[2018-10-17 19:32] BlythMeister commented on #1312
Ok, but you issue isn't relevant to this.
Just because Google lead here doesn't mean this is the answer.

In this repo we had a similar issue, but it's cause was different to yours.

As I suggested, you should ask the msbuild team (since that is the application giving the error) or create a post on a forum like stack overflow.

[2018-10-17 19:35] DuongTrongNguyen commented on #1312
Sure, I will.  I apologize for the inconvenience.  Thanks.

[2018-10-18 10:35] TangoMikeOscar commented on #2124
I will try and do that over the next few days and let you know.

[2018-10-22 07:17] chappoo commented on #2144
Using `dotnet pack` is desirable, but there's no real support for content only packages at the moment.  `dotnet pack` requires an MSBuild project (csproj etc), which then leads to clunky `NoBuild=true`-type settings and an requirement to do a `dotnet restore` (ref: https://github.com/NuGet/Home/issues/4254).

At least, that's what I believe to be the case having looked into it.  Very plausible I c

[2018-10-22 16:52] matthid commented on #2144
I think there is (maybe /cc @enricosada)
But indeed it's probably a bit of playing around with msbuild to get it to do what you want.

[2018-10-25 12:34] TangoMikeOscar commented on #2124
Hi, just to quick update on this. I have copied the getLastNuGetVersion function into my script and added the following lines:

[code]

The output I get is:
[code]

That is obviously indicating the `Content-Type` header is not present in the list that the function `DownloadStringAndHeaders` returns. Fiddler is showing the header is definitely returned so it would seem the problem is in that functi

[2018-10-25 12:51] TangoMikeOscar commented on #2124
So it looks like the **Dotnet standard** HttpClient is causing this problem, I have called the same url using the HttpClient in a bit of C# code and `Content-Type` is not in the `response.Headers` collection.

However I have found it in the `response.Content.Headers` collection so it looks like these 2 header collections just need to be concatenated in the `DownloadStringAndHeaders` function.

[2018-10-25 14:00] haf opened #2168 "Method not found: Void BuildOptions"
### Description

Method not found: 'Void BuildOptions

When changing from `storage: none` to removing that line and doing a `paket install` thereafter.

### Repro steps

Please provide the steps required to reproduce the problem

1. `./build.fsx` with code

[code]

2. Step B

Build it

### Expected behavior

No crash

### Actual behavior

[code]

Part of diff from `paket install`:

[code]

### Inv

[2018-10-25 16:07] matthid commented on #2168
@haf can you check if this is a duplicate of https://github.com/fsharp/FAKE/issues/2099?

[2018-10-25 20:32] StanleyGoldman opened #2169 "Allow FAKE to reference/restore tool-packages (packages containing `.exe` / `dotnet tool`)"
👋 I asked this question in gitter the other day..

I was trying to include xunits console runner as a dependency in my .fsx file

[code]
...
[code]

I'm unfamiliar with packet, I'm expecting it to installed xunit's console runner to `%HOME%/.nuget/packages/xunit.runner.console/2.4.0/tools/net452/xunit.console.exe`, but that does not seem to be happening.

I noticed the storage on the packet depend

[2018-10-25 21:13] matthid commented on #2169
Storage none means the packages are only stored in the nuget cache (instead of a folder in your repository). the nuget cache is exactly the .nuget folder you wrote so I'd expect the package to be there once you delete the lockfile and run fake again.

Note that currently the easiest way is to use an external paket.dependencies file instead of in-script dependencies, see the docs. And introduce a n

[2018-10-26 14:18] TangoMikeOscar commented on #2124
I've added pull request #2170 that fixes the issue.

[2018-10-26 14:32] StanleyGoldman commented on #2169
👋 @matthid thanks for the help.

I struggled for a little bit. I had to learn a bit more about `paket` and I had to go back in forth through Fake documentation.

This is what I came up with and it seems to work. Let me know if there is something better/clearer I could do.

**paket.dependencies**:
[code]

**Build.fsx**:
[code]

[2018-10-26 15:56] matthid commented on #2169
Yes indeed that's what I meant you can remove the groupref line from paket.dependencies and you can either use the groupref feature in the script or the magic fake comment (as you can see both work as well but you can remove one if you want)

[2018-10-27 00:12] StanleyGoldman opened #2171 "Support Additional GitVersion options"
`GitVersion.exe` has a few command line options that can inject version information into `AssemblyInfo` files.

https://gitversion.readthedocs.io/en/latest/usage/command-line/#inject-version-metadata-into-the-assembly

I see how this functionality can be supported and I wouldn't mind sending in the pull request for it in the next few days. In the mean time I believe I can make do with `CreateProce

[2018-10-28 18:12] SteveGilham opened #2173 "Fake coloured text output leaves console colours changed on exit in some circumstances"
### Description

In a Windows PowerShell console with screen text set to White, running a fake script through `dotnet fake` can exit with a display colour sticking like
![2018-10-28](https://user-images.githubusercontent.com/7460854/47619914-b4c06200-dadb-11e8-9e9d-a1036a71ddab.png)
![2018-10-28 1](https://user-images.githubusercontent.com/7460854/47619918-bb4ed980-dadb-11e8-8405-07912f2a702a.png)

[2018-10-28 18:18] BlythMeister commented on #2173
The issue here is the way fake sets and resets console colour in the listener.

It should use
[code]
Rather than saving the colour and then resetting it manually

[2018-10-29 17:45] matthid commented on #2173
@BlythMeister While `ResetColor` might fix this it would be interesting to know why the current code wouldn't work. AFAIK we serialize everything to a single mailbox processor which should take care of everything?

[2018-10-29 17:46] matthid commented on #2173
Or hm, maybe we have indeed two places where we write, one in the fake-runtime and one in `Fake.Core.Trace`

[2018-10-29 17:46] matthid commented on #2171
Yes a PR is welcome.

[2018-10-29 17:50] matthid commented on #2168
@haf have you checked? It could also be another dependency depending on one of the fake modules depending on a API which we do (historically) not consider to be binary compatible.
Or we simply introduced a breaking change somewhere

[2018-10-29 17:59] haf commented on #2168
@matthid I have not and I'm afraid I don't have it readily available to check any more. I'm closing this due to the lack to repro.

[2018-10-29 17:59] #2168 closed

[2018-10-30 06:05] codebrain commented on #775
Can confirm this is still a problem with zip files created using CMAKE.

[2018-10-30 06:35] matthid commented on #775
@codebrain can you open a new issue with steps on how to reproduce, a lot changed since this was reported...

[2018-11-01 10:43] atlemann opened #2181 "FAKE CLI overwrites Paket.Restore.targets with an old one, which breaks .NET Core Paket"
### Description

I'm trying to use the newly released .NET Core Paket in combination with FAKE5 CLI, however, FAKE seems to do a `paket restore` which overwrites `Paket.Restore.targets` with an old one which does not support netcore Paket.

It does not happen every time, only when I see the line `Starting full restore process.` in the console, which seems to come from FAKE CLI. It works fine if I

[2018-11-01 10:48] matthid commented on #2181
Yes one "fix" would be to just release a new fake runtime with updated paket.core version.
Question is if it is reasonable to disable this particular feature or if this breaks something else

[2018-11-01 10:59] atlemann commented on #2181
So the first thing FAKE CLI does is `Paket restore` using Paket as a library? Could there be a switch to not do this, since `dotnet restore` would trigger that during build?

[2018-11-01 11:41] matthid commented on #2181
not do what? paket restore is needed for the fake modules to be available.

[2018-11-01 11:56] atlemann commented on #2181
True, I forgot about that. Is there any other workaround I could use now? Not sure how to work around this on my build agents. And Paket using Mono throws all kinds of Mono Exceptions for some reason.

[2018-11-01 12:21] atlemann commented on #2181
Could FAKE CLI not update `Paket.Restore.targets`? Is that the particular feature you mentioned?

[2018-11-01 12:22] matthid commented on #2181
easy workaround is to undo pending changes with git in your fake script ;)

[2018-11-01 12:53] atlemann commented on #2181
Workaround of the century:
[code]

[2018-11-01 12:57] atlemann commented on #2181
So this would mean that every time `Paket` changes the `Paket.Restore.targets`, the FAKE CLI will change it back to whatever its current `Paket.core` dependency wants? So i.e. bugfixes in Paket would potentially be reset or lag behind when using FAKE CLI?

[2018-11-01 13:02] matthid commented on #2181
I said it usually works but it is not a supported scenario :)

[2018-11-01 13:33] atlemann commented on #2181
[build.log](https://github.com/fsharp/FAKE/files/2538681/build.log)

[2018-11-01 13:39] matthid commented on #2181
@atlemann Any chance you are using dotnet-fake and hit https://github.com/fsharp/FAKE/issues/2097?

[2018-11-01 13:43] atlemann opened #2182 "FAKE CLIs restore step fails on some machines, but .paket/paket.exe restore works"
### Description

I have some Windows Server 2008 TeamCity build agents which fail when building using FAKE CLI. The NuGet restore process fails with a bunch of exceptions, however doing a `.paket/paket.exe restore` works fine.

### Repro steps

I'm not sure, it works on my workstation and linux build agents, but none of my Windows build agents.

### Expected behavior

Build to pass

### Actual beh

[2018-11-01 13:56] atlemann commented on #2181
Great...suddenly i'm not getting that error anywhere anymore. Which project file should I try to add this tag you mentioned to? The issue will most likely show up again soon.

[2018-11-01 14:03] matthid commented on #2181
In that one you are using CliToolReference or paket `clitool` (in paket.references)

[2018-11-01 14:18] matthid commented on #2182
Have you checked if this is a duplicate of #2097?
In particular [this comment](https://github.com/fsharp/FAKE/issues/2097#issuecomment-423653243)

[2018-11-01 14:22] atlemann commented on #2181
I found another repo we have which still reproduced something similar. Adding `DotnetCliToolTargetFramework` seemed to work. Thanks a bunch! I can close the other issue now.

[2018-11-01 14:23] atlemann commented on #2182
Adding `<DotnetCliToolTargetFramework>netcoreapp2.0</DotnetCliToolTargetFramework>` fixes this issue. Now my `build.proj` file looks like this:

[code]

[2018-11-01 14:23] #2182 closed

[2018-11-02 07:04] inosik opened #2183 "Files created with File.create are locked"
### Description

Creating a file using `Fake.IO.File.create` and immediately trying to write to it crashes with an `IOException`:

[code]

This didn't reproduce on macOS, but my Windows machine which is set up as a GitLab CI runner crashes with this.

### Repro steps

[code]

### Expected behavior

The file should be created and be accessible.

### Actual behavior

The build crashes with the excep

[2018-11-02 07:07] inosik commented on #2183
Fix in #2184.

[2018-11-02 12:14] #2183 closed

[2018-11-04 00:04] jackfoxy opened #2185 "add fsiEvaluator parameter option to DotNet.FSFormatting LiterateArguments"
### Description

There is no way to pass an fsiEvaluator. In general, all parameters available to FSharp.Formatting.CommandTool (current beta) should be available.

[2018-11-04 19:05] jackfoxy commented on #2185
I only checked the issues, I didn't realize there is an open PR.

[2018-11-04 19:05] #2185 closed

[2018-11-05 08:35] atlemann opened #2186 "Paket.push looks for "paket.exe" even on linux"
### Description

Using the `Paket.push` target invokes `paket.exe` using mono even if the solution is bootstrapped with netcore Paket. It looks for `paket.exe` in `.paket` folder, but that binary on linux is called `paket`.

See: https://github.com/fsharp/FAKE/blob/3827f95ad533978ec14c29db92658f48b0609e05/src/app/Fake.DotNet.Paket/Paket.fs#L67

### Repro steps

Bootstrap netcore Paket and run the

[2018-11-05 08:36] forki commented on #2186
would love to get PR

Am Mo., 5. Nov. 2018 um 09:35 Uhr schrieb Atle Rudshaug <
notifications@github.com>:

[2018-11-05 09:32] atlemann commented on #2186
I could give it a try

[2018-11-05 10:58] DigitalFlow opened #2187 "Illegal Characters in Path error when using DocFx"
### Description
When running DocFx targets from within FAKE, the execution breaks due to an illegal characters in path exception.
It was working previously and I did not change anything since the last successful runs, maybe a FAKE update broke it?

The error thrown is:
`

[18-11-05 10:53:43.241]Error:System.ArgumentException: Illegales Zeichen im Pfad.
   bei System.IO.Path.CheckInvalidPathChars(S

[2018-11-05 11:59] matthid commented on #2187
Yes the quotes look a bit broken

[2018-11-05 14:18] DigitalFlow commented on #2187
As I found out, when escaping empty strings as `"--arg=\"\""`, the programm is passed the parameters as `--arg="\"`, which can be seen in this error message:

`Warning:Config file "docs\docfx.json" is found in command line! This file and ONLY this file will be used in generating metadata, other command line parameters **"\"** will be ignored.`

As I found out, escaping of quotes should be done usi

[2018-11-05 14:44] atlemann commented on #2186
Does FAKE5 have a wrapper for [dotnet nuget pack](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-nuget-push?tabs=netcore20)? I can't seem to find it, so I'm just wondering if I suck at searching source code. It seems like `Fake.DotNet.Nuget` is using `nuget.exe`.

[2018-11-05 15:04] matthid commented on #2187
@DigitalFlow Escaping empty strings as `""` is correct, what's broken here is how the DocFx module tries to build the argument string. In fact it doesn't need to as it is much safer to just build an argument list and use the `Args` and `Arguments` modules.

PR is welcome ;)

[2018-11-05 15:06] matthid commented on #2186
@atlemann No it does not. I guess a bit of refactoring is needed as I'd assume it has the same arguments as `nuget.exe pack`...

[2018-11-05 15:07] DigitalFlow commented on #2187
Alright, I'll submit a PR to fix this. For the meantime: Process.shellExec is a temporary workaround:

`
Process.shellExec
            { ExecParams.Empty with
                Program = @"packages\docfx.console\tools\docfx.exe"
                CommandLine = @"metadata ""docs\\docfx.json"""
                Args = [] }
        |> ignore
`

[2018-11-05 15:33] DigitalFlow commented on #2187
@matthid
I have seen multiple cases where FAKE modules use sprintf for creating the command, as well as some that still use the Process functions which have been deprecated.

I checked the Arguments.OfArgs function by using

[code]

Unfortunately this also produces the output that I do not want:
`"--output=\"\"" "--fileFilter=\"t\""`

[2018-11-05 15:46] matthid commented on #2187
But what you want is `Arguments.OfArgs([| @"--output="; @"--fileFilter=" |])`, correct?

[2018-11-05 17:09] kblohm commented on #2187
This broke in the refactoring of the ProcessModule, so you can use an older version as a workaround.
Version 5.0.0 works for me.
Line 26 is the broken one:
[code]
Process.stringParam returns a `None` if the string is empty. But Procees.quoteIfNeeded now always returns a quoted string. Always quoting would be fine, but it also returns a quoted string when the the string is empty. So we always get b

[2018-11-05 17:12] matthid commented on #2187
@kblohm yes because otherwise the invariant `Arguments.FromCommandLineString(Arguments.ToCommandLineString( args ) ) = args ` doesn't hold

[2018-11-05 17:13] atlemann commented on #2186
Ops, I meant `dotnet nuget push` above which it links to. You already have `dotnet pack`.

[2018-11-05 17:16] matthid commented on #2186
yes my answer still holds ;)

[2018-11-05 17:18] matthid commented on #2187
Or put in other words you cannot tell the difference between `[ "" ]` and `[ ]` but they are obviously different, therefore an empty argument needs quotes.

[2018-11-06 13:57] DigitalFlow opened #2190 "Issue during FAKE build"
### Description
As discussed, this is an issue for errors during FAKE build. To me it sounds however, as if msbuild might be the root cause in here.
When building the FAKE project using `fake build`, some errors occur in the output:

[code]

The full output can be found [here](https://pastebin.com/8i6QGAVf).

I have all targeting Frameworks for .NET installed using Visual Studio Installer:
![image

[2018-11-06 21:12] matthid commented on #2190
Afaik this shouldn't happen as we use

https://github.com/fsharp/FAKE/blob/4eadc22f7ff7e46a31f7a03ad4da7c0ca0a6348f/paket.dependencies#L103

[2018-11-06 21:14] matthid commented on #2190
Combined with https://github.com/fsharp/FAKE/blob/release/next/src/Directory.Build.props

[2018-11-06 21:15] matthid commented on #2190
Can you make sure the `packages/build/RoslynTools.ReferenceAssemblies` folder exists?

[2018-11-07 06:56] DigitalFlow commented on #2190
@matthid: I checked the folder, it existed but was empty.
I never touched the packages folder, so it seems some restore must have gone wrong.

I ran `paket.exe restore` again and the Roslyn package was initiated correctly.
Thanks a lot!

[2018-11-07 06:56] #2190 closed

[2018-11-10 12:03] #2124 closed

[2018-11-10 14:29] matthid opened #2193 "Paket version should be compatible with FAKE"
### Description

Starting with 5.10 fake will show a hint to use the matching paket version.
While you can mostly ignore this hint, it is a result of potential incompatibilities like https://github.com/fsharp/FAKE/issues/2181

### Repro steps

1. Use fake > 5.10 in combination with an "incompatible" paket version.
2. Run Fake

### Expected behavior

Fake will notify the user

[2018-11-10 14:29] #2193 closed

[2018-11-10 17:38] matthid commented on #2181
Fixed with https://github.com/fsharp/FAKE/pull/2161/commits/4a920987efcb38f64a543f40dbe29b23bc9f8b75

With 5.10 fake will warn if there is a paket <-> fake version mismatch and fake will suggest the version to use. The hint can be ignored but then stuff like this issue will happen. Usually I'll try to keep up with paket releases as long as they are compatible with the fake test-suite.

[2018-11-10 17:38] #2181 closed

[2018-11-10 17:44] matthid commented on #2146
I'm not sure what to do with issue? What should we change?
The only issue I'm seeing here is that the fake output is not colorized while teamcity seems to support some kind of coloring...

As I'm probably not fixing that myself I'm closing this issue for now, but feel free to send a PR.

[2018-11-10 17:44] #2146 closed

[2018-11-10 17:50] matthid commented on #1975
This has been added. Now there is a `MSBuildParams` property on most commands.

[2018-11-10 17:50] #1975 closed

[2018-11-10 17:50] matthid commented on #1821
This will probably never be done.

[2018-11-10 17:50] #1821 closed

[2018-11-12 18:29] Elonon opened #2197 "Incorrect argument escaping"
### Description

I'm using ``CreateProcess`` to call msdeploy.exe. Unfortunately it has unique argument requirements and the latest escaping changes broke them. For example, I need to pass ``-source:iisapp="C:\Some\path\"`` but it's being escaped as ``"-source:iisapp=C:\Some\path\"``. Wrapping the entire switch in quotes is rejected.

Because this scenario is likely really rare, I'd be happy if th

[2018-11-12 20:02] matthid commented on #2197
/cc @vbfox any idea?

[2018-11-12 21:13] vbfox commented on #2197
A few quick remarks :

1. @Elonon you're missing the closing quote in your call, if you want it there in the end result you should specify it (still wouldn't work here but...) :)
1. Some MS tools are really misbehaved regarding quoting and doesn't use full msvcr parsing (Fun thing is that their parsing **IS CORRECT** `foo="bar baz"` is a perfectly good encoding but it should be exactly equivalent

[2018-11-13 17:20] Elonon commented on #2197
I'm out of my league here, so feel free to ignore if this won't work. But I was thinking that you could add a new item to your ``Command`` DU. Something like ``| Custom of BlackFox.CmdLine``

This would let you keep backwards compatibility and only people who really need it can use it.

[2018-11-14 20:10] vbfox commented on #2197
@matthid I might try it, I just released **0.6.0** with support of Mono-on-unix specific quirks (Tested against a C# port of the original mono C source code) and tests that the current code works against .Net core implementation on unix (Both via FsCheck). So I'm starting to be relatively confident in my implementation.

@Elonon There is a simpler way, as `Arguments` fields are `internal` they can

[2018-11-14 21:29] #2186 closed

[2018-11-14 21:32] matthid commented on #2040
I feel like we solved this now. @chriskrycho Please feel free to leave more feedback if not, very appreciated.

[2018-11-14 21:32] #2040 closed

[2018-11-14 21:34] matthid commented on #1828
While help here is still appreciated, unix/linux is not my primary use-case and people just seem to be happy enough with dotnet global tools. Therefore I'm closing this (like I said people helping with re-packaging are still welcome & needed)

[2018-11-14 21:34] #1828 closed

[2018-11-14 21:45] TheAngryByrd commented on #1828
Yeah I'm fine with just `curl`ing the deb package from releases for machines that I want to put FAKE on without dotnet.

[2018-11-14 21:46] matthid commented on #2100
Anyone care to send a PR for this? (Currently I'd probably favor `fake compile`)

[2018-11-15 04:05] chriskrycho commented on #2040
This all looks great! I’m very sorry I couldn’t end up chipping in – August through October ended up being the single hardest and most exhausting months of my career so far – but this is both way more informative and way more accessible. Thanks so much for acting so thoroughly on my out-of-nowhere feedback; I really admire it!

[2018-11-15 08:42] SteveGilham opened #2199 "Behaviour of Windows-only tool tasks on other platforms"
### Description

Prompted by [the review comment](https://github.com/fsharp/FAKE/pull/2195#issuecomment-438804031)

as an _aide memoire_

### Repro steps

Please provide the steps required to reproduce the problem

1. Run tasks like FxCop.run or ILMerge.run (maybe any others?) on non-Windows platforms

### Expected behavior

See quote above

### Actual behavior

Complete no-op

### Known workaroun

[2018-11-15 19:16] baronfel opened #2201 "[Website] anchor link titles are hidden under stick top nav"
### Description

When you navigate to a link with an anchor (for example https://fake.build/fake-gettingstarted.html#One-note-on-Intellisense), the section header is (partially) hidden under the sticky top nav bar.

### Repro steps

Please provide the steps required to reproduce the problem

1. Navigate to the URL above

2. Observe the section header isn't visible once the page loads.

### Expecte

[2018-11-15 19:19] baronfel commented on #2201
I added a page-level style of `.anchor { padding-top: 50px; }` and all links in the side table of contents started working correctly.

[2018-11-15 19:23] matthid commented on #2201
@baronfel Can you please send a PR for this?

[2018-11-15 19:36] matthid opened #2203 "Race condition in Test-Suite or issue with globbing"
### Description

Seen in https://github.com/fsharp/FAKE/pull/2200

[code]

[code]

I feel like what happens is that one test (the failing one here) is enumerating directories while another parallel running one is deleting this directory.

Question: Should our globbing be able to handle that scenario? If yes we probably want to add a test and fix that scenario by catching the exception.

[2018-11-15 20:04] #2201 closed

[2018-11-17 08:44] SteveGilham opened #2204 "Visual Studio 2017 v 15.9.1 breaks the tool path auto-detection in the FxCop task"
### Description

Having installed the update from 15.8.x last thing yesterday, I try a build of one of my projects this morning and get an empty string for the installation path from the detection code
[code]
even though the FxCop tool is still present

### Repro steps

See above

### Expected behavior

The build works like it did yesterday with v15.8

### Actual behavior

Build failure with
[code

[2018-11-17 11:56] matthid commented on #2204
/cc @vbfox?

[2018-11-17 16:40] SteveGilham commented on #2204
Having done yet another reboot, the problem is cleared. _Mea culpa_.

[2018-11-17 16:40] #2204 closed

[2018-11-17 17:56] matthid opened #2205 "Fake currently doesn't support `[<EntryPoint>]`"
### Description

[code]

This issue is to check if we should support the given scenario or error out with a better error message.

Can be reproduced via:

[code]

[2018-11-17 17:57] vbfox commented on #2204
I took the more "safe" way of considering only full installs without error, but we could change that so that they are taken into account last instead, In some cases it will break but most of the time the error will be in a component we don't actually use.

[2018-11-17 17:59] vbfox commented on #2204
Especially in cases where we target a package we could check that the package isn't in error (Even if it's not 100% guaranteed as some have hidden dependencies, we can call a fully installed MSBuild and depend on some targets file provided by a not fully installed other package)

[2018-11-18 11:03] #2203 closed

[2018-11-18 11:04] #2199 closed

[2018-11-18 11:08] matthid commented on #2197
All the mess and netstandard2.1 will have an API for that anyway :(

[2018-11-18 12:29] matthid commented on #2197
Ok I started with https://github.com/fsharp/FAKE/pull/2206 not sure if we should take that as is. Review/suggestions appreciated.

Do we still need to change any module? @Elonon Did you use `CreateProcess` directly or did that happen in any particular module?

[2018-11-18 13:41] matthid commented on #2197
@vbfox is that surfaced in the library as well? It seems to not too uncommon apparently (https://github.com/fsharp/FAKE/pull/2206#discussion_r234443698) so maybe we need some helpers for that particular situation?

[2018-11-18 13:54] matthid opened #2207 "Anchor top-padding breaks user interaction"
### Description

See https://github.com/fsharp/FAKE/pull/2202#issuecomment-439694422

[2018-11-18 18:35] Elonon commented on #2197
I used ``Arguments.OfArgs`` and ``Command.RawCommand``, but I'm happy to change it to use the new functions you forwarded.

[2018-11-18 22:43] vbfox commented on #2197
@matthid it's not in the lib as it's code I did at work but if I remember well I didn't care doing an exact version and it's a very crude helper like `CmdLine.appendf "-%s=\"%s\" key (removeSeparatorAtEnd value)` but it worked so it was good enough XD

[2018-11-19 20:02] #2207 closed

[2018-11-20 03:11] abk-x opened #2210 "fake-cli fails to install 2.1.500"
### Description

Cannot seem to install fake-cli on net sdk 2.1.500.

### Repro steps
[code]

### Expected behavior

The command should complete successfully

### Actual behavior
dotnet tool install exits with an error

### Known workarounds

N/A

### Related information
[code]

[2018-11-20 03:18] abk-x commented on #2210
User error: MSBuildSDKsPath was set to a non existing path

[2018-11-20 03:18] #2210 closed

[2018-11-20 08:47] matthid commented on #2065
@arthis can you run `fake --version`? I feel like you somehow got an outdated version and the output should give an hint from where that is...

/cc @theimowski for the safe template.

[2018-11-20 12:21] arthis commented on #2065
[code]
ok got it , it might be the chocolatey version I installed a few weeks ago..

I did a  :

[code]
the following  works susccefully afterwards :

`D:\xxxx\Code\safeExample>fake build --target run`

thanks a lot for your question and your help.

[2018-11-20 12:59] theimowski commented on #2065
This issue is caused by the fact that we decided to recommend Fake as global tool.
I'll add a note to the docs for required version of fake >= 5.10

[2018-11-26 19:14] lukapor opened #2214 "Concurrent problems with Shell.Exec"
### Description

When I run buildscripts i got concurreny problem
For this time I have only stack trace, which can help

System.InvalidOperationException: Operations that change non-concurrent collections must have exclusive access. A concurrent update was performed on this collection and corrupted its state. The collection's state is no longer correct.
      at System.Collections.Generic.HashSet`

[2018-11-26 19:14] severisv opened #2215 "DotNet.install version not being used if `dotnet` is already on path"
### Description
I have a few versions of dotnet SDK already installed in `C:\Program Files\dotnet` (which the Windows installer picks by default).

I have a project with a `global.json` that targets an SDK I have not installed.

Doing `DotNet.install DotNet.Versions.FromGlobalJson` correctly identifies that it needs to install a new version and installs it to `C:\Users\sever\AppData\Local\Microsof

[2018-11-26 20:21] matthid commented on #2215
You need to "connect" `install` with the other commands, see https://fake.build/dotnet-cli.html for an example on how to do this. Let me know if this doesn't help.

[2018-11-26 21:06] severisv commented on #2215
This works, thanks! Just wondering though, why is it necessary to connect them when `DotNet.install` uses the default install location? Wouldn't the other steps know about it aswell?

Also, what is the `NoPath` setting here intended to do?
[code]

[2018-11-26 22:22] kblohm commented on #2215
`NoPath = false` tells the [installer-script](https://github.com/dotnet/cli/blob/master/scripts/obtain/dotnet-install.ps1) to set the PATH, but only for the currently installing process. And because that is a child process it is pretty much a noop.

As far as i know, `DotNet-Module` searches the PATH, then the userDir (where you installed it), then the systemDir, thats why you have to set it by ha

[2018-11-26 23:22] matthid commented on #2215
You either connect them or manage PATH by hand. Not sure what else we can do there?

[2018-11-27 07:34] severisv commented on #2215
Could it be an option that `DotNet.install` looks for `dotnet` on path, and installs the new version into the same directory as previous versions if the install path is not specified?

[2018-11-28 10:34] brase opened #2216 "Fake.Azure.WebJobs.deployWebJobs not working when remote folders not exist"
### Description

I tried to use `Fake.Azure.WebJobs.deployWebJobs` to a new deployment slot for my azure website. In this new slot the directoy structure for the webjobs does not exist, yet. This seems to be the reason why the deployment does not work. Fake says "success" but when I look into the logs of Kudu I see 404s for the jobs.

### Repro steps

Create a new Deployment Slot in an azure websi

[2018-11-29 09:40] matthid commented on #2216
/cc @isaacabraham

[2018-11-29 09:41] matthid commented on #2215
What if "C:\program files\dotnet" is the preferred location in PATH and fake cannot write there?

[2018-11-29 10:00] isaacabraham commented on #2216
Urgh. I need to refresh my memory on what this does - to be honest there are probably better ways now with zipdeploy and stuff anwyay.

[2018-11-29 10:05] matthid commented on #2216
@isaacabraham So we remove the module? Mark it obsolete? Change docs?

[2018-11-29 10:23] isaacabraham commented on #2216
Let me check through the code - I can't remember what it does. There are a few ways to deploy to webjobs in Fake.

[2018-11-29 11:54] severisv commented on #2215
I didn't think about that. I guess it's impossible for Fake to install a new SDK into the same folder that `dotnet` is already running Fake from, as it would try to overwrite `dotnet.exe` anyway.

What if the [algorithm](https://github.com/fsharp/FAKE/blob/release/next/src/app/Fake.DotNet.Cli/DotNet.fs#L490) for selecting the default dotnet location took SDK version into account (when `global.json

[2018-11-29 13:31] isaacabraham commented on #2216
Haven't looked at the code yet - I thought this was the older version that used the github-based deployment and copied stuff around with kudu directly, but now that I've actually read the original description properly, you've made it clear it's using zip deploy.

So this sounds like an issue around behaviour with deployment slots - all the Fake zipdeploy code does IIRC is do a PUT into the rest AP

[2018-11-30 11:12] isaacabraham commented on #2216
@brase hmmm, that's possible! If I'm honest it's been a while since i deployed a webjob into app service - normally I host them in the app itself using attributes (you have the `[<Timer>]` attribute as well as the normal triggers).

[2018-11-30 11:34] matthid commented on #2215
@severisv I don't think `Create` should have side-effects like calling `dotnet --version` otherwise feel free to send a PR which introduces a helper with the logic or some other way.

[2018-11-30 11:34] matthid commented on #2214
Indeed, thanks for the report!

[2018-12-03 21:35] #2214 closed

[2018-12-06 10:07] TWith2Sugars commented on #2216
I hit this issue all the time (I was the one that originally made the fake module). I just upload an empty webjob via the portal to make sure the directory structure is all in place and then all other deployments via fake.

[2018-12-07 16:43] theprash opened #2223 "Does the template bootstrapping method create a reproducible build?"
The `fake.cmd` file created by the template runs `dotnet tool install fake-cli --tool-path ./.fake`. This installs the latest FAKE locally into the `.fake` which is git ignored. The `paket.references` file contains `nuget Fake.DotNet.Cli`, `nuget Fake.IO.FileSystem` etc. which will get locked to specific versions as soon as someone starts working on the project.

Consider this scenario:

- I creat

[2018-12-07 16:51] matthid commented on #2223
No probably not, but there is not much we can do about it. If you use wildcards like `5.*` nuget will choose lowers (5.0.0-rc something) which is not really what we want.

So feel free to suggest something but I'm not sure what we can do here.

[2018-12-07 16:55] kblohm commented on #2223
The default template does not lock the version. If you want to, you can always just specify the version by passing `--version 5.x.x` to `dotnet new fake`, or if you already ran the command, add the `--version 5.x.x` into your `fake.cmd`.

This might get easier with .NET Core 3 and local tools.

[2018-12-08 14:14] matthid commented on #2223
As long as there is no concrete way or suggestion on how we can close this issue/suggestion I'm closing it ;)
Please feel free to open suggestions or concrete changes we could make to discuss them, then I can re-open this. Also @kblohm described a workflow without the issue.

[2018-12-08 14:14] #2223 closed

[2018-12-11 22:45] et1975 opened #2225 "Feature request: describing the targets"
### Description

Most other build tools (make, rake, gradle, etc) have a way to describe targets available in the script. Would be nice to have it here too.

### Expected behavior

If the script has any targets defined one could list them with something like:

`fake -d`

and it would list them all and (maybe, not sure if it's a good idea) show the dependencies graph.

[2018-12-11 22:48] matthid commented on #2225
something like 'fake build --list'?

[2018-12-11 22:54] et1975 commented on #2225
Is that a thing already? Sorry, didn't see it in the `-h`, feel free to close if it already works.

[2018-12-11 23:08] matthid commented on #2225
Yes it should

[2018-12-11 23:08] #2225 closed

[2018-12-13 04:50] panesofglass commented on #2007
Is the only current work-around for issuing SQL commands to shell out to `sqlcmd.exe`?

[2018-12-14 20:27] Danl2620 opened #2226 "MSBuild --no-restore cli argument is not available despite a DoRestore option"
### Description

Using the `DotNet.build` or `DotNet.build` it is not possible to pass through the `--no-restore` flag, despite the `MSBuild.CliArguments` type having a `DoRestore` member.

### Repro steps

Create a build target like so:

[code]

### Expected behavior

The build process would not do a restore before building.

### Actual behavior

The build process does a restore.

### Known worka

[2018-12-14 21:38] JarnoNijboer commented on #2226
You can set it as a MSBuild param. Thats the way I use it

[2018-12-14 22:54] Danl2620 commented on #2226
Can you give an example?  I'm not seeing a way in the source...

[2018-12-15 09:47] matthid commented on #2226
I think this particular edge case is a bit of a pain.
Afaik when using the `msbuild` cli then `--no-restore` is the default and you need to use `/restore` to enable restore.
When using the `dotnet` cli its exactly the reverse. It will use `/restore` by default and skip it if `--no-restore` is given.
Therefore, I feel like we need to add `--no-restore` to the dotnet cli instead of adding it to `MSB

[2018-12-15 09:50] matthid commented on #2226
By the way current way to do this is to use the `Common.CustomParams` field:

https://github.com/fsharp/FAKE/blob/bcbe8b3e1b772084b9cfb2667decd8e00b2fa35c/src/app/Fake.DotNet.Cli/DotNet.fs#L539-L544

[2018-12-17 06:05] Danl2620 commented on #2226
Thanks!  I used `withCustomParams` and my particular case is solved:

[code]

[2018-12-17 17:05] rtkelly13 opened #2227 "Error when parsing paket.dependencies to netcoreapp2.2"
### Description

Tried to update one of my apps to netcoreapp2.2
I wouldn't know where to begin looking at tracking down this issue, I imagine it is related to the version of paket.core used in FAKE?

### Repro steps

dotnet tool update --global fake-cli

This updated to version 5.11.1

build.fsx
[code]

paket.dependencies
[code]

### Actual behavior

Error provided below.

Performance:
 - Cli par

[2018-12-18 12:32] #2227 closed

[2018-12-28 05:01] humhei opened #2230 "ChangeWatcher doesn't trigger onchange when one directory name include the other"
### Description

ChangeWatch doesn't trigger onchange when one directroy name include the other
### Repro steps

Please run `fake build` to see repro steps https://gist.github.com/humhei/1c8a8489de9e0ade52f6509e0d898f66
[code]

### Expected behavior
[code]
### Actual behavior
[code]

### Known workarounds
Carfully naming directorys
Or
change https://github.com/fsharp/FAKE/blob/master/src/app/Fake.

[2019-01-04 15:02] 0x53A opened #2231 "Can't #r a .net standard 2 dll"
I have a .NET Standard 2.0 Assembly.

When I reference it with

[code]

then it works in VS and seems to also compile, but execution fails with

![grafik](https://user-images.githubusercontent.com/4236651/50694336-e6086180-1039-11e9-86b4-85e352e85ea5.png)

Repro: https://github.com/0x53A/fake-2231

just run ``run.bat``

__Version:__ ``<DotNetCliToolReference Include="dotnet-fake" Version="5.11.1"

[2019-01-04 16:45] matthid commented on #2231
Indeed, sadly that is currently not a supported scenario, see https://github.com/fsharp/FAKE/issues/1888

[2019-01-04 17:20] 0x53A commented on #2231
So that means it is impossible to reference any local dll, I can only use nuget packages?

[2019-01-04 17:20] #2231 closed

[2019-01-08 10:22] MikaelUmaN commented on #2145
@matthid

In my case I next wanted to use the Fake.JavaScript.Npm module. For this I had to add the nuget package. But how do I add that and make it available in my build script?

Only adding to paket.dependencies and trying to build again did nothing. I tried to add --nocache as an argument. Still nothing. I ended up installing paket and doing a complete restore, at which point I could proceed.

[2019-01-10 11:36] #2215 closed

[2019-01-11 02:37] Angr1st opened #2233 "Building Precompiled Azure Functions with FAKE + Paket"
### Description

When I try to use FAKE and Paket to build my F# Azure Functions all my functions won't get indexed by the Azure Function Runtime V2. Using regular NuGet everything works like a charm. The only differences are the way the nuget Packages are defined and that I'm using FAKE.

### Repro steps

Clone this Sample Repo (https://github.com/Angr1st/AzureFunctionFAKEPaket)

1. execute dotne

[2019-01-11 07:05] Angr1st commented on #2233
Well If it isnt could you explain what you mean by 'downgrading' would it
be enough to place the correct 'global.json' in the project-dir or would
setting the DotNet.BuildOptions.runtime (If this would be able to set the
sdk version) inside the build.fsx or would I need to completly uninstall
und Reinstall the dotnet SDK?

It still strikes me as odd that It works without a Problem when Not using
F

[2019-01-11 07:19] forki commented on #2233
As you can see in the linked issue the problem also happens to user that don't use paket nor fake.

Please take a look into your paket.lock file and see that you referenced all kinds of asp.net core 2.2 libs. That's because paket in default mode tries to get you the latest version that matches the dependency criteria (especially important are the ones that are specified in azure functions own nuge

[2019-01-12 20:01] panesofglass commented on #2136
I just had this pop up on local and AppVeyor builds. It fails almost immediately after attempting to run the `BuildVersion` task which simply tries to update the AppVeyor build version using the `Fake.BuildServer.AppVeyor.updateBuild` function:

[code]

Locally, I see the same error in the `Build` step when it tries to run `MSBuild`.

I can run successfully using the `fake-cli` I installed globall

[2019-01-12 22:30] matthid commented on #2136
@panesofglass you can run with verbose flag `fake -v` to get the stack traces. But from the error messages I'd assume something is failing in your powershell script and somehow the string `"[System.IO.Path]::GetDirectoryName"` escaped into an environment variable (when I'd assume you tried to get the directory name of something instead)

[2019-01-13 10:39] matthid commented on #2136
@panesofglass if this isn't an error in the Powershell script please open a new issue which makes it easier to track & discuss

[2019-01-13 21:42] panesofglass commented on #2136
I'll open a new issue as soon as I have time to get more info.

[2019-01-13 21:48] matthid commented on #2233
I think this is a paket issue if this is an issue at all...
@Angr1st Please re-open in paket if you think this is not solved by the suggestion from @forki

Also fake can be used without the need to change your projects to paket.

[2019-01-13 21:48] #2233 closed

[2019-01-13 21:51] matthid commented on #2145
@MikaelUmaN The way to do it is to delete the lockfile and running fake again. But yes if you have an external `paket.dependencies` file it is expected that you use or at least are familiar with paket.

[2019-01-13 21:55] matthid commented on #2230
Thanks for the detailed report! Since you have already suggested a fix, are you interested in sending a PR and include a testcase for this? Let me know if you need help.

[2019-01-13 21:57] matthid commented on #2216
Can someone send a PR for this? Otherwise, I feel like we should see this thing as unmaintained and maybe move out of the core?

[2019-01-14 07:00] brase commented on #2216
I will try to fix it with including the folder structure into the zip file. PR will follow.

[2019-01-14 16:39] BillHally opened #2236 "Trace.publish BuildArtifactWithName fails to publish TeamCity artifacts"
### Description

`Trace.publish` when used with `BuildArtifactWithName` to publish artifacts to TeamCity, formats the TeamCity service message incorrectly, causing TeamCity to be unable to publish the artifact.

### Repro steps

Use `Trace.publish` and `BuildArtifactWithName` on a TeamCity server. For example:

[code]

### Expected behavior

The specified file is published using the specified name

[2019-01-14 17:54] Angr1st commented on #2233
Thanks for your helpful hints anyway 👍  I got it working
`nuget Microsoft.AspNetCore == 2.1.7 strategy: min`

I am leaving this here for reference.

[2019-01-15 10:41] teo-tsirpanis opened #2238 "Why does FAKE depend on the Roslyn reference assemblies?"
The package [RoslynTools.ReferenceAssemblies](https://dotnet.myget.org/feed/roslyn-tools/package/nuget/RoslynTools.ReferenceAssemblies) is so big (117 MB) that made me questioning its purpose.

Why depend on a package which is not even in the nuget.org gallery in the first place?

[2019-01-15 10:59] matthid commented on #2238
It allows building for full-framework as it includes the reference assemblies. This removes the need for what microsoft calls the "targeting packs" (which imho are a huge mess as users need to install them and it's not clear what to install on mono)

[2019-01-15 10:59] #2238 closed

[2019-01-15 11:00] matthid commented on #2238
I should add: If you have another idea or this works now without this package feel free to send a PR :)

[2019-01-15 11:01] teo-tsirpanis commented on #2238
My problem was that this package could not be downloaded; even on an Ethernet connection. I guess I have to increase the Paket's timeout value.

[2019-01-17 09:42] dotcom9 opened #2239 "XUnit Console Runner Options"
### Description

I have a suite of XUnit Tests in a .NET solution that is built in a TeamCity CI environment. The tests in question generate html templates and in our development environment, they write the results to the Visual Studio console using ITestOutputHelper. In Team City, the output is making the build artifacts way too big, and I want to find a way of suppressing the output as it is not

[2019-01-17 09:44] dotcom9 commented on #2239
Sorry, wrong repo

[2019-01-17 09:44] #2239 closed

[2019-01-24 12:46] nojaf opened #2242 "Paket.Push does not work with dotnet tool."
### Description

Paket.Push does not working when Paket is installed as dotnet tool.

### Repro steps

Please provide the steps required to reproduce the problem

1. Install paket

2. Push nupkg

`Paket.push (fun p -> { p with WorkingDir = "bin" }))`

### Expected behavior

Same as if paket.exe full framework

### Actual behavior

[code]

[code]

### Known workarounds

[code]

### Related informat

[2019-01-28 10:14] inosik commented on #2242
It works if you set the `ToolPath` property on the parameters:

[code]

The `findPaketExecutable` function in the `Paket` module should be fixed:

https://github.com/fsharp/FAKE/blob/e1ce84d0e8e6710475989b830e88ce1ffcf7059a/src/app/Fake.DotNet.Paket/Paket.fs#L35-L40

FAKE tries to "start" the directory.

[2019-01-29 18:50] #2236 closed

[2019-01-31 17:03] valmaev commented on #2169
You can still use inline paket dependencies in your case. Here's an example from my build script:

**build.fsx**
[code]

[2019-01-31 18:32] matthid commented on #2242
Yes, a PR would be appreciated.

[2019-02-01 04:58] serjebulavsky opened #2243 "FileStatus.getAllFiles incorrect documentation or implementation."
### Description

https://github.com/fsharp/FAKE/blob/5e58b484c43da36bbe0f7e9111f6c61a951a38a7/src/app/Fake.Tools.Git/FileStatus.fs#L41

It says that this function returns all **changed** files in the current revision, but in reality it just returns git ls-files. So it is just all files in current repository.

### Known workarounds

Two solutions -
a) first is to change documentation to something l

[2019-02-01 05:19] serjebulavsky commented on #2243
I've created pull requests for both cases, please choose what is correct.

[2019-02-01 05:49] #2243 closed

[2019-02-01 06:01] serjebulavsky opened #2244 "FileStatus.getAllFiles incorrect documentation or implementation."
### Description

https://github.com/fsharp/FAKE/blob/5e58b484c43da36bbe0f7e9111f6c61a951a38a7/src/app/Fake.Tools.Git/FileStatus.fs#L41

It says that this function returns all **changed** files in the current revision, but in reality it just returns git ls-files. So it is just all files in current repository. I suppose there should be an `--modified` flag or doc adjustment.

I had different ideas a

[2019-02-01 06:12] serjebulavsky commented on #2244
For some reason during fake run build.fsx i can't download RoslynTools.ReferenceAssemblies/0.1.3
![image](https://user-images.githubusercontent.com/1502886/52105852-f7d22a00-2622-11e9-8a87-1c5bd40d35ec.png)

[2019-02-01 06:19] matthid commented on #2244
You could try to download it via browser and copy/extract it to nuget cache. Or try again. From the output I'd say the package exists but something fails in the download?

Regarding the issue, yes the safe way would be to add a new function or to add a parameter (if we use regular fake parameters in this funtion, I haven't looked) and adjust documentation...

[2019-02-01 06:30] serjebulavsky commented on #2244
@matthid okay, thanks, i'll create a PR with a new function.

Also thanks for helping with nugget. Somehow it downloads via browser but not via paket restore.

[2019-02-01 22:56] rmunn commented on #2001
FSharp.Core 4.6 was just released, causing this to trigger again:

Please either lock the version via 'nuget FSharp.Core <nuget-version>' or upgrade fake.
Read https://github.com/fsharp/FAKE/issues/2001 for details.

Time to bump FSharp.Core in `paket.lock` to 4.6?

[2019-02-02 09:49] kristianmandrup opened #2247 "Please add clearer instructions for how to use Fake on Mac OSX"
### Description

Trying to use FAKE on a Mac OSX with VS Code. Total newbie with .NET and F#

Installed `fake-cli` via `dotnet tool install fake-cli -g`

The `Readme` states that I can install `fake` using `chocolatey` (Windows only).

Wasn't sure what to do from there. Red scribbles in my project under `Fake` identifiers etc.
Not sure if I needed to install `fake` or if fake was already installed

[2019-02-02 10:46] matthid commented on #2247
@kristianmandrup Thanks for your suggestion. Actually I'm not sure there is anything specific with Mac OSX here.

- That fake is not available in `$PATH` is a bug in the dotnet sdk under any unix and AFAIK they are aware of it (or decided to not fix that). Yes we could indeed add a note or link the SDK issue

- > Wasn't sure how to make the Fake project download dependencies (ie. restore/build)

[2019-02-02 10:47] #2230 closed

[2019-02-02 10:52] kristianmandrup commented on #2247
Upgraded to fish shell, getting unknown command `fake` after a fresh `fake-cli` install

[code]

[2019-02-02 10:54] matthid commented on #2247
@kristianmandrup maybe similar to this: https://github.com/fsharp/FAKE/issues/2091 (not using fish shell on my own)

[2019-02-02 10:55] kristianmandrup commented on #2091
Sweet :)

[2019-02-02 11:00] matthid commented on #2247
To provide an alternative I'd be happy to have people distribute fake on the native package managers and automate stuff into the release process of this repository (if possible/viable/reasonable). However, we need some voluntaries willing to do the work as I'm not ready to fight every package manager out there ;)

For example we already build a `.dep` file (https://github.com/fsharp/FAKE/releases)

[2019-02-02 11:01] kristianmandrup commented on #2247
Cool :) I'll happily work on improving the docs (PRs) and making a homebrew script and/or node.js package for easy install on Mac ;)

[2019-02-02 11:02] kristianmandrup commented on #2247
I guess by default fake is installed in `$USER_HOME/.dotnet/tools/fake`?
At least that is the case on my OSX

[2019-02-02 11:18] matthid commented on #2247
I think that is true because of dotnet sdk defaults. For a native package I'd expect it to be installed to a default path for application, somewhere in `/usr`?.
Users home directory only makes sense if the package manager supports something like single-user installations. Hope this makes sense.

[2019-02-02 12:46] matthid commented on #2247
Indeed, best is to update the markdown files in the help directory. We can have basic documentation to get started in the `Readme.markdown` but I'd prefer to keep it minimal and like to the corresponding `fake.build` pages in order to reduce duplicated or different docs

[2019-02-02 13:20] kristianmandrup commented on #2247
I made a PR with some install docs, feel free to edit or move around as you like.

[2019-02-02 13:20] #2247 closed

[2019-02-02 17:55] rmunn opened #2249 "findGitDir throws NullReferenceException if no .git directory found"
### Description

The `Fake.Tools.Git.CommandHelper.findGitDir` function, if run outside a Git repo, will eventually climb up to the root of the filesystem, then throw a `NullReferenceException` when it tries to access `dirInfo.Parent` of the root folder.

### Repro steps

Please provide the steps required to reproduce the problem

1. Create `$HOME/projects/newFolder` and do *not* initialize a Git

[2019-02-08 15:37] panesofglass opened #2251 "Use Microsoft.SqlServer.DACFx nuget instead of sqlpackage.exe"
### Description

This is a suggestion to use the new [Microsoft.SqlServer.DACFx](https://www.nuget.org/packages/Microsoft.SqlServer.DacFx/) NuGet package to drive Fake.Sql.DacPac rather than relying on `sqlpackage.exe`. Would this be of interest? I am not familiar with these libraries but am interested in looking into this if it can alleviate some xplat pain with DacPac.

Note also that Microsoft

[2019-02-14 22:11] otto-gebb opened #2252 "MSBuild errors are not reported as errors to TeamCity"
When a build breaks because of a compilation error, too much work needs to be done to discover the error reported by the compiler.

Looks like FAKE doesn't report compiler error messages as errors to TeamCity, although these messages are red in the log.

The image below illustrates what I mean.
![2019-02-14_22-44-27](https://user-images.githubusercontent.com/5798003/52820563-9c854a80-30ac-11e9-9cb

[2019-02-14 22:19] matthid commented on #2252
Yes it looks a lot better on other CI systems. TeamCity is a special piece of pain for me because I already invested a lot of time (while not using it myself) to get it running with https://teamcity.jetbrains.com (which I'm glad that they provide free hosting). However, it seems to fail randomly when then build gets queued on random agents. For example look at the current build failure: https://gi

[2019-02-14 22:23] matthid commented on #2251
Honestly I'm not even sure what that means. Does that mean update `Fake.Sql.DacPac` to no longer require existing `sqlpackage.exe` and make it work xplat? That sounds more than reasonable. What speaks against that?

[2019-02-14 22:24] matthid commented on #2249
Nice find, can you come up with an PR + test?

[2019-02-14 22:48] #2226 closed

[2019-02-15 10:21] otto-gebb commented on #2108
Currently this functionality is broken again, except it's even worse: `traceImportant` produces no message at all. @matthid should I create a separate bug?

[2019-02-15 11:17] otto-gebb commented on #2252
@BlythMeister as I remember, you have done something related to TeamCity recently. Maybe you could take a look at this?

[2019-02-15 12:14] matthid commented on #2108
Yes please, you can link back here. Also I'd love to get help on this....

[2019-02-15 14:13] matthid opened #2256 "Fake GUI"
Recently, I thought about adding a graphical user interface for using fake.

First it would be integrated into the targets package and provide an http(s) endpoint which is accessed by an fable application. The initial features would be showing the existing targets maybe as graph including dependencies and running them (either single or with dependencies).
In the future I can think about helping ne

[2019-02-15 17:16] panesofglass commented on #2251
@matthid, yes, that's my understanding.

[2019-02-16 02:32] humhei commented on #2256
I am doing similiar things in [FPublisher](https://github.com/humhei/FPublisher)
Using role based, typed common building targets
But i think the best GUI is script itself?
![image](https://user-images.githubusercontent.com/25994449/52893336-31d02e00-31d6-11e9-808c-6a705a609cf3.png)

[2019-02-16 17:59] otto-gebb opened #2257 "traceImportant produces no message in TeamCity"
Messages logged with `traceImportant` are not displayed in the TeamCity build log.
The word WARNING is logged instead.

### Repro steps

1. Set `TEAMCITY_VERSION` environment variable to 1.
1. Run a FAKE script with a `traceImportant` call in it.

### Expected behavior

The message is logged as

[code]

### Actual behavior

The message is logged as

[code]

[2019-02-16 18:04] BlythMeister commented on #2257
The function to fix is in TeamCityIntetnal in Fake.BuildServer.TeamCity

There is all the mapping there, and I can see your right, the message and status variables are going into the string format the wrong way round.

[2019-02-16 18:05] BlythMeister commented on #2257
If you could raise a PR please that would be great.

[2019-02-16 18:14] otto-gebb commented on #2257
I will.

[2019-02-16 22:07] #2257 closed

[2019-02-19 03:11] Viridovics commented on #2135
Hello, @matthid !

I guess that's what happened.

We have
- `let private fake_data = new AsyncLocal<System.Collections.Concurrent.ConcurrentDictionary<string, obj>>()`. fake_data is lazy initialized with function `getDataDict`;
- `Process.setEnableProcessTracing` implicitly uses `getDataDict`;
- All tests are started as _Async_;
- Function `let withFakeContext name f` contains potential race condi

[2019-02-19 04:37] matthid commented on #2135
This sounds very reasonable, thanks a lot for the analysis. Will take me a couple of days to process, but it is very much appreciated. I guess I'd like to have the most robust solution for people writing tests, ideally without hurting parallelism... So the last two options sound good.

One other reason I tracked this was that I was unsure if this might have any impact in fake script code, but from

[2019-02-19 11:28] otto-gebb commented on #2257
@matthid would you kindly create a build with the fix of this? It may also fix #2252.

[2019-02-19 15:09] matthid commented on #2257
Unfortunately it didn't make it into the last release. However all merged PR are immediately released into our [staging environment](https://fake.build/contributing.html#Staging-environment). You can use version version 5.12.2-alpha.905+vsts.ea24360d032d840285c5b5ea419b7d7a1c0b480d

Note that staging builds are not stored forever but only latest two builds are available (ie you builds will break)

[2019-02-20 10:30] otto-gebb commented on #2257
@matthid thanks for the suggestion, but I could not get the pre-reease version to work by following the instructions provided. Maybe I did something wrong.
I ran `dotnet tool install -g fake-cli --version 5.12.2-alpha.905+vsts.ea24360d032d840285c5b5ea419b7d7a1c0b480d --add-source https://www.myget.org/F/fake-vsts/api/v3/index.json`, so that `dotnet tool list -g` shows "5.12.2-alpha.905". I also ch

[2019-02-20 11:04] otto-gebb commented on #2257
@matthid Never mind, it was my mistake. Git it to work finally. It works fine locally, I will wait till the next release and then update my CI-server.

[2019-02-21 09:13] marklam opened #2259 "Fsi.exec can only specify one Define symbol"
### Description

The `FsiParams.Define` property is a single string which is transformed to a single `-d` argument to `fsi`. This means that you cannot define more than one symbol when executing the script

### Repro steps

The type of `Define` is string, and it's passed to `sargp` which produces a single `-d` parameter for that string.

### Expected behavior

It should be possible to specify seve

[2019-02-22 04:35] humhei opened #2261 "Get started sample broken when updated to 5.12.1(Ubuntu 18.04)"
### Description

Get started sample broken when updated to 5.12.1

### Repro steps
1. Step A
[code]

2. Step B

### Expected behavior

Script ran successfully
### Actual behavior

Script is not valid:
        /home/jia/Documents/vscode/Test/build.fsx (8,0)-(8,6): Error FS0039: The value, namespace, type or module 'Target' is not defined.
        /home/jia/Documents/vscode/Test/build.fsx (13,0)-(13

[2019-02-22 10:27] #2259 closed

[2019-02-25 10:27] lust4life commented on #2181
same issue here, can we try to keep up with version which include [`Paket.Restore.targets`](https://github.com/fsprojects/Paket/commits/master/src/Paket.Core/embedded/Paket.Restore.targets) changes in paket repo, `5.193.0` seems a little bit old, [commit](https://github.com/fsprojects/Paket/commit/6415e5d2bcdac522f5c1962b0ac6ae0c0de54bd7#diff-4f406fc88011d514e8f5e3d364c8e705) like this in paket re

[2019-02-25 10:43] matthid commented on #2181
@lust4life I'm open for suggestions for a "better" fix

I try to keep up with paket but in no scenario I'm as fast as @forki

[2019-02-26 21:35] charlieturndorf opened #2263 "Fake.build docsite uses current sources, not the released version"
### Description
When viewing the FAKE 5 documentation at fake.build, I expect to see documentation for the currently released version of FAKE. Instead, the docs are generated for the current source version. This causes frustration when attempting to use a documented feature that hasn't actually been released.

### Repro steps

1. Ensure the latest version of FAKE is installed via `dotnet tool upda

[2019-02-26 22:17] matthid commented on #2263
I don't think that's what you are seeing.

This thing was released with 5.12.1 https://github.com/fsharp/FAKE/commit/15cb934e9c4f774fa1627bb43f8237d4aa36ee11

And 5.12.1 is the current stable release as 5.12.2 failed in the production step earlier today.
In fact you can see in the footer of the documentation that the docs are for 5.12.1 which is the current stable release.

Are you sure you have u

[2019-02-26 22:57] matthid commented on #2263
Just to be absolutely sure this has been released I checked with dotpeek:

![image](https://user-images.githubusercontent.com/1866463/53452581-f4637000-3a21-11e9-928e-8c8d91881928.png)

Please feel free to open another issue or re-open if you can clarify what the issue is or if you have questions :)

[2019-02-26 22:57] #2263 closed

[2019-02-26 23:58] matthid commented on #2261
The following worked for me:
[code]

Can you try to give exact steps to reproduce (or send a zipped sample)?

By the way here is the output from the session:

[code]

[2019-02-27 00:00] #2135 closed

[2019-02-27 00:06] matthid opened #2265 "Production release failed"
### Description

https://dev.azure.com/fakebuild/FSProjects/_releaseProgress?_a=release-environment-logs&releaseId=349&environmentId=739

[code]

We might want to introduce some retry-logic or at least allow to start the release again (and include checks if stuff already exists)

Currently we cannot "redeploy" existing artifacts as it will always fail with "existing package / conflict" error

[2019-02-27 00:08] matthid commented on #2265
This maybe is something we want to have "built-in" into our tasks? Maybe enable it with a flag?

[2019-02-27 01:36] charlieturndorf commented on #2263
Ah of course! Thank you!

I don't know why I assumed updating the global cli tool would update my
local dependencies. Running `paket update` fixed my issue.

On Tue, Feb 26, 2019, 5:57 PM Matthias Dittrich <notifications@github.com>
wrote:

[2019-02-27 06:03] humhei commented on #2261
![image](https://user-images.githubusercontent.com/25994449/53469179-f405bc00-3a97-11e9-973d-08a22ff088de.png)

I originally think this is beacuse of `FSharp.Core`  was updated to `4.6` in 5.12.1

Finnally get that this is because my cache file is not clear,

I don't know why it only exits a pdb file...

After delete this folder,

It worked again

[2019-02-27 06:13] #2261 closed

[2019-02-27 08:02] matthid commented on #2261
Thanks for finding the root cause. Reported to paket: https://github.com/fsprojects/Paket/issues/3517

[2019-03-04 11:36] otto-gebb commented on #2252
Fixed by #2258.
![image](https://user-images.githubusercontent.com/5798003/53731130-132a9200-3e7a-11e9-9e22-8746864c2398.png)

[2019-03-04 11:36] #2252 closed

[2019-03-07 12:40] TclasenITVT opened #2269 "Error while setting up Environment (Invalid Parameter 'netcoreapp2.2')"
### Description

After adding 'Framework: netcoreapp2.2, netstandard2.0' to my paket.depencies and running 'paket update' fake build outputs this Message:

I then tried to update the fake-cli like suggested. I updated to Version 5.12.4. This did not solve my problem. Paket does execute 'paket restore' without problems.

This is my paket.dependencies:
[code]
I am using Paket 5.198.0.

### Repro ste

[2019-03-07 13:04] matthid commented on #2269
Yes updating fake to 5.12.4 should solve the problem. Can you ensure that the runner is actually updated (for example by running `fake --version`) It might be that you still run an older version from chocolatey for example.

[2019-03-07 13:26] TclasenITVT commented on #2269
Running fake --version outputs:
[code]

[2019-03-07 13:57] matthid commented on #2269
Yes this is 5.4.1 and not 5.12.X you need to update your dotnet tool

[2019-03-07 15:03] TclasenITVT commented on #2269
After updating and removing the .fake folder it does work 👍
While building I noticed that running it with 'fake build' outputs:

while building with .\fake.cmd build does not do you know why that is?

[2019-03-07 15:03] #2269 closed

[2019-03-07 15:32] matthid commented on #2269
@TclasenITVT Usually this is output from the verbose mode `-v` usually this isn't recommended or required for users of FAKE. But sometimes, if the issue is not immediately obvious, I tell people to use it. I'd assume `fake.cmd` contains the `-v` flag. Where did you got the batchfile from? Is it from our fake template?

[2019-03-07 16:23] matthid commented on #2256
Maybe, at least this didn't seem to generate a lot of interest :)

[2019-03-07 16:23] #2256 closed

[2019-03-08 08:38] TclasenITVT commented on #2269
You were right I hade the -v option set when running fake inside of the commandline. The Batchfile does not contain the -v flag. I got it from the dotnet fake template.

[2019-03-08 09:18] TomaszG opened #2270 "No way to force FAKE CLI tool to use ANSI coloured output on CI"
### Description

Can't find the way to force FAKE CLI tool to use ANSI coloured output on CI.

### Repro steps

1. Run some simple build.fsx file via CMD/powershell locally using `fake.exe run build.fsx` command
2. Run the same command but via Jenkins with ANSI colour support (e.g. via [AnsiColor plugin](https://plugins.jenkins.io/ansicolor)) or any other CI which supports colourised output
3. Com

[2019-03-08 10:54] csmager opened #2271 "MSBuild doesn't support MSBuild 16 / VS 2019."
### Description

MSBuild doesn't support MSBuild 16 / VS 2019.

### Repro steps

e.g. `MSBuild.runRelease`.

### Expected behavior

It should pick the latest installed version

### Actual behavior

I have uninstalled VS 2017, what gets executed is MSBuild 14.

### Known workarounds

Run with `MSBuild` environment variable, e.g.
[code]
### Related information

* Operating system Windows

[2019-03-08 11:14] matthid commented on #2270
Indeed,
AppVeyor implementation for example uses
https://github.com/fsharp/FAKE/blob/00d5bb2d3644c80314630591d66ed302d1b45032/src/app/Fake.BuildServer.AppVeyor/AppVeyor.fs#L287
Because that one always supports ANSI color. In TeamCity the implementation currently looks like this:
https://github.com/fsharp/FAKE/blob/00d5bb2d3644c80314630591d66ed302d1b45032/src/app/Fake.BuildServer.TeamCity/TeamCity.

[2019-03-08 12:10] matthid commented on #2271
As we now use `BlackFox.VSWhere` I'd assumed this would "just work":

https://github.com/fsharp/FAKE/blob/00d5bb2d3644c80314630591d66ed302d1b45032/src/app/Fake.DotNet.MSBuild/MSBuild.fs#L91-L120

/cc @vbfox

[2019-03-08 12:23] csmager commented on #2271
I ran that, I get this result (I've now got VS 2017 installed):
[code]
There's no MSBuild.exe at that location in VS 2019. It's under `MSBuild\Current\Bin`.

[2019-03-08 14:04] isaacabraham opened #2272 "Reference Type Provider Design-Time Reference Assemblies"
The following FAKE script does not build.

[code]

with the following error:

[code]

This is only when you add the SQL Data Client package.

[2019-03-08 14:32] matthid commented on #2272
I guess we don't currently reference the design-time assemblies but we need to. I guess we only need to reference them and not add them to our runtime resolution...

[2019-03-08 14:34] matthid commented on #2272
Apparently the compiler even tried to load `xxxxx\.nuget\packages\fsharp.data.sqlclient\2.0.2\lib\netstandard2.0\FSharp.Data.SqlClient.DesignTime.dll` is that not the correct place? Where is that thing?

[2019-03-08 15:23] vbfox commented on #2271
I'm at work and can't easily PR today but something like that should work and keep compat:

[code]

[2019-03-08 15:39] csmager commented on #2271
Looks good to me
[code]

[2019-03-08 16:21] isaacabraham commented on #2272
Just checked - there's no such file in that folder. There are other instances of that file across the nuget package, but not in there.

[2019-03-08 16:23] matthid commented on #2272
afaik it was specced somewhere, I always thought this logic made it into the compiler but maybe it was added to the SDK. This would mean we would need to add it to FAKE internal logic as well..

[2019-03-11 15:11] isaacabraham commented on #2272
@matthid I'm starting to think that this isn't actually a FAKE issue at all. If I run dotnet build on the project itself (directly from the command line), the project fails to build with the same issue. However, if I run msbuild directly after this, it works.

Of course running MSBuild from clean fails with the good old missing assets.project.json issue.

[2019-03-12 07:36] forki commented on #2001
![image](https://user-images.githubusercontent.com/57396/54182434-d0803f80-44a1-11e9-875c-588d573bc1e3.png)

I found this in one of my projects. Is this pin still needed?

[2019-03-12 08:05] matthid commented on #2001
Latest fake will downgrade for you and warn if it did that

[2019-03-12 09:24] matthid commented on #2272
@isaacabraham tbh I have no idea how msbuild would be related to this. There is no msbuild in fake afaik :)

[2019-03-12 09:24] matthid commented on #2271
@csmager can you send a PR?

[2019-03-12 09:47] csmager commented on #2271
Will do this week!

[2019-03-12 19:26] Danl2620 opened #2273 "Q: How to build an assembly to `#r` in a FAKE build script"
### Description

I'm having trouble with something that seems like it may be fairly basic. I'd like to build an assembly and reference it into a FAKE build script (using `#r`).

I'm doing that using the `Microsoft.NET.Sdk` project sdk and targeting the `netcoreapp2.1` framework.

### Repro steps

A FAKE build script with `#r "path/to/my/Wonderstorm.Tools.Build.dll"`

### Expected behavior

FAKE ru

[2019-03-12 20:52] matthid commented on #2273
Sadly this is currently not a supported scenario, see https://github.com/fsharp/FAKE/issues/1888 for details :)
So the "fix" is to build a nuget package instead. Target `netstandard2.0` and it should work. In fact you can just build it locally stick it into a folder and use `source /my/folder` afaik.

[2019-03-12 20:53] #2273 closed

[2019-03-12 21:52] Danl2620 commented on #2273
Thanks!

[2019-03-12 23:08] Danl2620 commented on #2273
@matthid Ok, I currently have the exact scenario described in this comment: https://github.com/fsharp/FAKE/issues/1888#issuecomment-385061951.

Are there any more diagnostic options to see why the package namespace isn't available?

[2019-03-13 05:15] katatunix commented on #2238
I have the same issue with @teo-tsirpanis
Has this issue been fixed?

[2019-03-13 06:39] matthid commented on #2238
I'm not sure there is an issue here? Either you have problems/limitations in your infrastructure or it is an issue with myget which you should report to them and link back here. Or it is an issue with paket then you should report there.
As clarified above we currently have a need for this package and afaik it is not available on NuGet Gallery.

@katatunix can you clarify what your exact issue is?

[2019-03-13 15:35] katatunix commented on #2238
The approach of manually downloading works. Thanks!

[2019-03-13 15:59] matthid commented on #2238
@katatunix Please report anyway with the exact error you got to https://github.com/fsprojects/Paket
It would be nice if this could 'just work' for anyone.

[2019-03-13 16:23] isaacabraham commented on #2272
Yeah. I meant that this might be something relating to the type provider and `dotnet` tooling itself - which the FAKE script calls.

[2019-03-13 18:26] Danl2620 commented on #1888
@OlegZee Hi, what steps did you take to solve the issue you outlined in https://github.com/fsharp/FAKE/issues/1888#issuecomment-385061951 (if you did solve it)?

[2019-03-13 18:36] matthid commented on #2273
@Danl2620 Why is a local nuget package not an option?

[2019-03-14 00:16] Danl2620 commented on #2273
@matthid sorry, that's what I meant. I did create a local nuget package, and:

1. added the "open" line to the paket string
2. referenced the package in the string (`nuget Wonderstorm.Build.Tools`),
3. opened the relevant namespace,
4. removed my `build.fsx.lock` file,
5. and reran fake

-- it restored everything including my nuget package, but the namespace isn't available.

It's possible my nuge

[2019-03-14 07:11] matthid commented on #2273
The only real requirement is that the nuger pacjage needs to contain a netstandard2.0 dll. Can you post the relevant sections or explain the steps I need to do to reproduce this ?

[2019-03-14 07:16] matthid commented on #2273
By the way we have some limited docs for this scenario here: https://fake.build/fake-fake5-custom-modules.html
But it seems to be a little too hard to find

[2019-03-14 16:35] OlegZee commented on #1888
Hi @Danl2620! I haven't touched this since then. I'm just using FAKE CLI to run the scripts.

[2019-03-14 22:46] Danl2620 commented on #2273
I posted a test repo that demonstrates the issue. Here's my nuget project `.fsproj` file: https://github.com/WSStudios/fake-nuget-test/blob/master/Wonderstorm.Tools.Build/Wonderstorm.Tools.Build.fsproj

(if you sync that repo, run `publish.sh` to generated the nuget package, then try `fake run build.fsx` to see the namespace missing)

[2019-03-14 23:00] matthid commented on #2273
Can you try to change ' <TargetFramework>netcoreapp20</TargetFramework>' to

'<TargetFramework>netstandard2.0</TargetFramework>'

If this doesn't work I can take a look but it probably will take a while

[2019-03-14 23:34] Danl2620 commented on #2273
No luck with that change...

[2019-03-15 08:30] PeterMortensen opened #2276 "Broken link in the "Getting started" tutorial"
In *[Getting started](https://fake.build/fake-gettingstarted.html)* the link *"NUnit task documentation"* (https://fake.build/apidocs/v5/fake-nunitsequential.html) in sub section *"Running the tests with NUnit"* is broken (404).

[2019-03-16 16:34] agross opened #2278 "Document NuGet packages for FAKE 5"
I wrote my first production FAKE script with FAKE 5 this week. I have to admit that getting there was quite a bit frustrating at times. For example if you get all red squigglies in VS Code suddenly because of IEquatable missing and you need to look for a solution in the issue tracker. This could easily be included in the getting started.

On top of that while the docs are generally good, I often n

[2019-03-16 17:39] matthid commented on #2278
Hm, seems like this bit of information has gone missing. At one point it was definitely there :(

[2019-03-16 18:03] #2278 closed

[2019-03-16 18:04] matthid commented on #2278
Indeed, the information was lost when the new layout was introduced: https://github.com/fsharp/FAKE/commit/c85e4e538d6614ec7591ad263b1b056344d3b9e3#diff-cb0959739dd1ef5ffb40a6cbfbb1d2aa

[2019-03-16 18:06] #2271 closed

[2019-03-16 18:09] #2249 closed

[2019-03-16 19:07] matthid commented on #2276
Fixed in https://github.com/fsharp/FAKE/pull/2267/commits/94688f340d3d3fafb53699b9a0a6a461b362d750 thanks for reporting

[2019-03-16 19:07] #2276 closed

[2019-03-16 19:22] matthid commented on #2278
Will be back after the next release, currently on [staging](https://staging.fake.build)
![image](https://user-images.githubusercontent.com/1866463/54480481-12561080-4829-11e9-940f-0ee452613510.png)

[2019-03-16 21:53] agross commented on #2278
👍🏻

[2019-03-18 09:23] DigitalFlow opened #2280 "Migrating Dynamics CRM Helper"
Hey there,

As the DynamicsCRMHelper is not yet migrated to FAKE 5, I'd like to migrate it:

https://github.com/fsharp/FAKE/blob/694f616c97fa242162cfd36db905d7df3156018f/src/legacy/FakeLib/DynamicsCRMHelper.fs#L2

Can you point me in the right direction on how to do so? It seems as if it would have to become a separate NuGet Module?

Thanks for your help.

Kind Regards,
Florian

[2019-03-18 10:50] matthid commented on #2280
Indeed, note that we have a dedicated section for this situation in our contribution guideline: https://fake.build/contributing.html#Porting-Modules-to-FAKE-5
I'd recommend reading the remaining contribution guide as well.
If you have further questions or problems understanding any of the steps let me know.
The guide is a bit outdated as intellisense support was quite limited at the time. As of to

[2019-03-18 17:19] rtkelly13 opened #2281 "FAKE Metapackages"
### Description

A big advantage of the move to FAKE 5 was the breaking up of FAKE.Core into several smaller packages enabling a pay for play model. The downside to this is being that it becomes hard to find the projects that are needed to create even a simple FAKE script. asp.net core solved this by introducing a metapackage https://www.fuget.org/packages/Microsoft.AspNetCore.App which bundles in

[2019-03-18 21:15] agross opened #2282 "fake --help should document -t and -s parameters"
### Description

While `fake build` supports `-t <Target>` and `-s` to run a target without dependencies, both arguments are not reported when you run `fake --help` or just `fake`.

### Repro steps

Run `fake` (I'm using the global tool).

### Known workarounds

Read the [docs](https://fake.build/fake-commandline.html#Running-Targets).

### Related information

* Operating system: macOS, Windows
*

[2019-03-18 21:27] matthid commented on #2282
This is currently by design. The "targets" command line is entirely provided by a NuGet package and can be replaced.

To "see" the targets command line use `fake build --help`:

[code]

In fact the regular `fake --help` includes the following text at the end:

[code]

We could change the hint to `fake build --help` as long as the scriptname equals `build.fsx`

[2019-03-18 21:29] matthid commented on #2281
Yes. Problem is: I don't have good answers for the questions.

Regarding 4. are you thinking about exposing `paket` command line via `fake.exe`?

https://github.com/fsharp/FAKE/issues/2100 is a bit related in this context.

[2019-03-18 21:33] agross commented on #2282
I understand the technical details behind the current behavior. But it was non-discoverable to us today as beginners. I'd say a module should be able to extend the default `--help` screen and do that by default.

[2019-03-18 22:26] matthid commented on #2282
Well technically we could make the hint more visible or something like that. The problem with other approaches is point in time. when you execute fake --help should we download and load packages just to give you help? I don't think users would accept that.

[2019-03-18 22:36] agross commented on #2282
Hm, no. But from a novice's point of view: We had the fake build script and a resolution already in place. Fake could attempt to load it and if it appears to be cached extend the help output by what the target module provides.

[2019-03-18 23:01] matthid commented on #2282
While I agree in theory I just don't see how it could work technically, sorry

[2019-03-18 23:02] matthid commented on #2282
The only thing that comes to mind is to 'special case' the targets module in some way and modify the output accordingly

[2019-03-18 23:31] agross commented on #2282
Another option would be to assume that targets are being used and hard-code its help into the fake executable.

[2019-03-19 08:52] rtkelly13 commented on #2281
In regards to the questions my initial thoughts are.

1. As long as none of the packages conflict with each other everything should be present. The point wouldn't be to limit the scope to a limited subset of things.
2. Fake.All
3. For convenience sake I would say updating existing templates would be correct, if these are intended to be for quickly spinning up a Fake project.
4. My intention would

[2019-03-19 09:14] object opened #2283 "Environment variables passed in command line are not evaluated until targets execution"
### Description

If I pass custom build parameters using "-e" switch they are not evaluated until targets are selected for execution. This makes it impossible to configure conditional target execution based on command line parameters.

### Repro steps

Let's say I have a script that contains the following lines:

let skipTests = Environment.environVarAsBoolOrDefault "skipTests" false

[code]
I run

[2019-03-19 10:36] matthid commented on #2283
Yes, basically this part of the command line is evaluated when `Target.run` is executed. Question is how we could move that to the top of the file, for example via some new function?

[2019-03-19 11:04] object commented on #2283
IMHO it would make sense to enable evaluation of environment variable early. Current behavior doesn't look consistent for two reasons.

1. Other parameters are evaluated early. For example, TeamCity.Environment.BuildNumber.IsSome is evaluated instantly, while Environment.environVarXXX functions are delayed until Target.run.

2. If a variable is set at OS level, then prior Target.run OS environment

[2019-03-19 11:22] object commented on #2283
And if it's hard to make environment variables evaluated at the very beginning of the script, at least there should be a way to evaluate them in a target dependency section, so "condition" part can be specified as a predicate, not only a boolean value. This will still leave inconsistent mismatch between OS-level variables and command line variables, as described in p.2 above.

[2019-03-19 20:32] artarf commented on #1736
It would be nice to include this to version 4 also.

[2019-03-21 10:37] ushenkodmitry opened #2284 "Method not found: Microsoft.FSharp.Control.FSharpAsync.StartImmediateAsTask"
### Description

Can not build because of method not found error.

### Repro steps

1. dotnet install fake -g

2. fake run build.fsx

### Expected behavior

Build succeed.

### Actual behavior

Build finishes with an error while executing first target.
[code]
### Known workarounds

No workarounds.

### Related information

* Windows 10
* Branch
* dotnet 2.2.104
* Critical
* FAKE 5 - F# Make (5.0.0

[2019-03-21 11:14] matthid commented on #2284
`5.0.0-beta018` is quite old and a beta version. Can you try updating to latest stable?

`fake --version` should tell you about the used versions

[2019-03-21 11:47] ushenkodmitry commented on #2284
Thanks. Everything is working now.

[2019-03-21 11:47] #2284 closed

[2019-03-21 20:31] matthid commented on #2282
Yes indeed.
My longer reply would be that the design of FAKE 5 allows to use a different "Target" module implementation with a different CLI. This is something I probably like to experiment with in the future. Therefore I'm not particularly eager to hard-code something "special" in for the current target module. On the other hand I see possible confusion.
So hard-coding additional help text for th

[2019-03-21 20:44] matthid commented on #2281
Regarding 1. Do we include 3rd Party libs like BlackFox BuildTask?
![image](https://user-images.githubusercontent.com/1866463/54783550-f59f4b80-4c21-11e9-8494-7fbb4e002fcf.png)

Regarding 4. it might not be as hard as we think. The compiler is already removing unused references therefore the following should work quite well:

a) compile the script do `script.dll` (which we do already)
b) recursive

[2019-03-21 20:46] agross commented on #2282
If you want to optimize FAKE for being discoverable by beginners, then yes.

[2019-03-21 20:50] matthid commented on #2283
It's basically the split of the command line. The script arguments (which includes the `-e`) are evaluated by the script. Currently this is part of the `Target.run` call at the end of your script.

Yes that was my suggestion: Add a new API which can be called at the top of the script. At least that would be the easiest approach afaics.

One other workaround/related feature now in Fake 5 is you add

[2019-03-24 22:46] Szer commented on #2283
Supporting this issue.
WIth FAKE 5 I have to create my own CLI just for passing some parameters.

`getBuildOrDefault` was good.

[2019-04-02 20:36] csmager opened #2285 "MSBuild picks oldest version by default"
I've noticed that when I have both VS 2017 and VS 2019 installed, VS 2017 will be picked by the `MSBuild` module by default (i.e. if not coerced by environment variables like `VisualStudioVersion`).

The relevant code is below:

https://github.com/fsharp/FAKE/blob/8081382cdb2f8bd80d81e81002828a08320ea3e8/src/app/Fake.DotNet.MSBuild/MSBuild.fs#L222-L234

`MSBuildExeFromVsWhere.get()` returns a `Map

[2019-04-04 09:23] #2148 closed

[2019-04-04 13:11] matthid commented on #2282
What about this:

[code]

[2019-04-04 13:12] #2282 closed

[2019-04-04 13:41] agross commented on #2282
👍

[2019-04-04 14:16] #2285 closed

[2019-04-04 16:13] matthid commented on #2283
Maybe like https://github.com/fsharp/FAKE/pull/2288?

[2019-04-08 09:44] #2283 closed

[2019-04-08 09:48] matthid commented on #2285
Note that using the latest version means your build potentially breaks when installing a newer version of visual studio. I'm not sure if that's what we want...

[2019-04-08 09:49] csmager commented on #2285
I guess you have to pick one. I spotted it because my build broke when I installed an older version of Visual Studio because I needed to use an add-in that wasn't yet compatible.

[2019-04-08 10:59] BlythMeister commented on #2285
Is it possible to add a way to set the msbuild version in an environment variable.
Not exact version, but like 15 or 16.

That way, if someone has issues with 16, they can easily revert back to 15.

[2019-04-08 11:10] matthid commented on #2285
That's always and already possible

[2019-04-08 11:29] BlythMeister commented on #2285
🤦🏼‍♂️ then I don't see this as an issue. 👍

[2019-04-11 21:55] dsyme opened #2289 "Using inline paket dependencies results in assembly-not-found for paket text on Unix"
### Description

Using `#r "paket:..."` inline paket code doesn't seem to result in these being stripped out of the actual script passed to F# for execution.

### Repro steps

1. `dotnet tool install fake-cli --tool-path .fake --version 5.12.6`
2. Create `a.fsx` containing

[code]

3. `.fake/fake run a.fsx`

Expect: runs, doing nothing

Actual:
[code]

Notes:
* The `Unable to find the file` F# err

[2019-04-11 22:08] dsyme commented on #2272
F# tooling expects only references to TPRTC assemblies. It will find the TPDTC itself

Please ping me if you have more questions.  The spec is at https://github.com/fsharp/fslang-design/blob/master/tooling/FST-1003-loading-type-provider-design-time-components.md

[2019-04-11 22:13] dsyme commented on #2272
I think this may be incorrect layout of the `fsharp.data.sqlclient` nuget.  Could you list out the layout of the package?

[2019-04-11 22:15] dsyme commented on #2289
Closing as you need to use the magic closing `//"` - where is this documented?  I stumbled across it in another bug entry
[code]

[2019-04-11 23:03] matthid commented on #2289
Yes, this is currently "by design" due to how the F# compiler handles those strings differently on Linux and windows. Ending with `//` is the only cross-platform way I have found to tell the compiler that the string is not a valid file path and emit a warning (which is ignored in FAKE).
As you have seen `#r "paket: nuget FsLexYacc.Runtime"` is a valid file path on Linux which doesn't exist hence t

[2019-04-11 23:07] matthid commented on #2289
By the way: I think I have opened an issue or commented on an existing one in visualfsharp about this. I'm open for other suggestions but that we do not "modify" the script before "giving it" to the F#-compiler is currently by design.

[2019-04-12 00:13] matthid commented on #2272
looks like this:

[code]

[2019-04-12 14:15] ytyukhnin opened #2290 "GitLab CI: No such variable CI_BUILD_ID"
### Description

According to the official documentation there is no such variable `CI_BUILD_ID` on the list of the GitLab CI variables: https://docs.gitlab.com/ee/ci/variables/

But Fake is providing a following function
[code]
Which as the result is always returning an empty string while running on a GitLab CI.

### Repro steps

Call a `BuildServer.gitlabCIBuildNumber` function while running at

[2019-04-12 17:02] matthid commented on #2290
Hm, I always thought I just copied from the docs. Did this stuff change? Do we need to check the old one for backwards compat or old on-premise instances?

[2019-04-12 19:27] dsyme commented on #2289
Thanks, I understand now :) I assumed you were filtering the script! Very cunning

I do recommend you add a test case to core F# tooling to check that this remains an error not a warning.  Also perhaps we could add a warning to FAKE if the name is valid, telling to add the "//"

[2019-04-12 19:34] matthid commented on #2289
I think it should be the reverse. We should consider downgrading a not-existing file to a warning. This way it would be consistent. It doesn't make a lot of sense to only warn on one platform but fail on another.

[2019-04-12 19:36] dsyme commented on #2289
sorry I meant: "I do recommend you add a test case to core F# tooling to check that this remains a warning not an error."

The initial thing would be to pin down existing behaviour so we don't mess you

[2019-04-12 19:40] matthid commented on #2289
Not sure how long the test is valid considering the work on the `#r "paket: ..."` feature.  I expect some changes will be needed in FAKE after that anyway. But good point.

[2019-04-12 20:03] matthid commented on #2289
Anyway, I see this as an external quirk in the compiler itself, and I reported this over a year ago here: https://github.com/Microsoft/visualfsharp/issues/4362
Therefore I'm closing this. Please feel free to suggest otherwise ;)

[2019-04-12 20:03] #2289 closed

[2019-04-12 22:03] ytyukhnin commented on #2290
Well, we started to use GitLab only few months ago, but I did some search on the Internet, and it seems they renamed CI_BUILD_ID into CI_PIPELINE_ID about a year ago. So I think it's better to keep it backwards compatible.

[2019-04-14 01:28] TeaDrivenDev commented on #2001
I must admit that I completely fail to understand what any of this means. Am I not allowed to use a newer version of FSharp.Core in the entire solution than FAKE uses? Can I not use FAKE when I want to use the latest FSharp.Core? Where would I need to lock the FSharp.Core version? In my `paket.dependencies`? In the `#r "paket:` part of my build script? And to what version? The one I want to use or

[2019-04-14 11:58] matthid commented on #2001
@TeaDrivenDev

No, you need to differentiate between "build" and "project" dependencies. They should either go into separate dependency groups or the "build" dependencies should be in the build script "inlined". You should always keep them separate for various reasons.

FAKE doesn't force you to use any particular `FSharp.Core` version in your projects if used as suggested.

The exact problem is t

[2019-04-14 13:27] #2290 closed

[2019-04-14 13:36] #2265 closed

[2019-04-14 13:43] matthid commented on #2272
Looking over this it feels like an external bug/limitation in the `FSharp.Data.SqlClient` package. In fact for this to work with FAKE I think it needs to ship a `DesignTime` assembly for `netstandard2.0`

[2019-04-14 13:43] #2272 closed

[2019-04-14 20:30] matthid commented on #2090
I am closing this old discussion. I'm open to PRs, but I haven't heard a lot of complaints regarding this lately.

[2019-04-14 20:30] #2090 closed

[2019-04-14 20:32] matthid commented on #2101
I'd love to see a PR for this, but I have not planned to do it myself.

[2019-04-14 20:32] #2101 closed

[2019-04-16 17:15] fangyi-zhou opened #2293 "`Shell.mv` doesn't move correctly"
### Description

`Shell.mv` should behave like `mv` in shell, as described in documentation.

### Repro steps
https://github.com/fangyi-zhou/fake-mv-bug
- Create a file `1`
- `Shell.mv "1" "2"`

[code]

### Expected behavior
Rename `1` to `2`
### Actual behavior
`FileNotFoundException`
### Known workarounds
`Shell.rename`
### Related information
FAKE 5.13

[2019-04-17 17:24] matthid commented on #2242
@inosik Can you please open a new issue for this? Seems to be similar but not the same issue, or is it?

[2019-04-18 05:50] inosik commented on #2242
It's the same issue as reported by @nojaf: FAKE looks for a file **or a directory** named `paket` and tries to start the first one it finds as a process.

[code]

The script above gives this output:

[code]

The `Paket` module [turns that into `[...]\refs\tags\paket`](https://github.com/fsharp/FAKE/blob/e1ce84d0e8e6710475989b830e88ce1ffcf7059a/src/app/Fake.DotNet.Paket/Paket.fs#L38), _which is sti

[2019-04-18 14:28] matthid opened #2295 "dotnet --version writes into stderr and leads to errors in Azure DevOps"
### Description

This happens while FAKE tries to find the correct version:

![image](https://user-images.githubusercontent.com/1866463/56367917-a5061880-61f6-11e9-9bb5-30d2b8e56358.png)

![image](https://user-images.githubusercontent.com/1866463/56368073-fc0bed80-61f6-11e9-8969-7da6c0e77b6e.png)

### Expected behavior

No errors in Azure DevOps

### Actual behavior

Errors as shown

### Known wor

[2019-04-18 15:01] rtkelly13 commented on #2281
Sorry it has taken me so long to get back to you on this one.

If a Fake lib is dependent on another project I would expect it would be present in FAKE.All package, I'd say the definition should be all packages maintained by the Fake project and its dependencies.

I think that would be an amazing experience for getting started with FAKE.

I'm going to give this a go see what I come up with, maybe

[2019-04-18 15:11] matthid commented on #2281
Note that for BlackFox BuildTask the reverse is true. But we advertise it's usage in the menu. (Similar to Xake)

[2019-04-22 15:07] #2295 closed

[2019-04-23 07:15] inosik commented on #1971
I'd be interested in something like this as well. I often do something like this (using the task library by @vbfox):

[code]

I'd like to be able to "group" the dependencies of "Test" and "Build" in a way so that none of the tasks in the "Build" group are run until all the tasks in the "Test" group are executed. Right now, "Build app" might be executed before "Run tests", which doesn't make sense.

[2019-04-24 09:31] aklefdal opened #2299 "Invalid syntax of NuGet push after 5.13.0"
### Description

NuGet push fails, due to problem with quotes around both parameter and value, I believe.

### Repro steps

[code]

### Expected behavior

**With 5.12.6:**

This is the push command that gets executed, and works fine:

`C:\s\my-repo\.fake\build.fsx\packages\NuGet.CommandLine\tools\NuGet.exe push "C:\s\my-repo\artifacts\My.Project.1.0.0.nupkg"  -source \\myserver\Deploypackages\MyPr

[2019-04-24 09:38] matthid commented on #2299
PR with unit-test and fix would be appreciated ;)
This was probably introduced in https://github.com/fsharp/FAKE/pull/2229

/cc @atlemann

Any problems with the workaround (ie setting `5.12.6` in your dependencies?) or are we in a hurry?

[2019-04-24 10:35] marklam opened #2300 "Fake.Testing.ReportGenerator doesn't support TeamCitySummary"
### Description

ReportGenerator 4.1.3 added a `TeamCitySummary` report type, which doesn't have a flag in Fake

[2019-04-24 10:41] aklefdal commented on #2299
I'll look into it. We are not in a hurry since 5.12.6 works perfect for us.

[2019-04-24 10:48] matthid commented on #2299
I guess I might unlist and see how that works

[2019-04-24 18:14] dzmitry-lahoda opened #2302 "FAKE.exe to run script text(eval) from command line with no fsx file"
# Expected
[code]

prints
[code]

# Actual

Error.

# Why?

I want to run some scripts without creating files. F# has forward pipe operator. FAKE has abstractions more like to PowerShell, which are more sane to be used in oneliners than `corefx`. I am not going to use FAKE to build, but for automation(may be will use for deploy and build later).

# Options

List of namespaces to open:
[code]

List

[2019-04-24 19:13] matthid commented on #2302
In fact, at the very beginning of designing FAKE 5, I thought about this particular feature.
I think it would be really nice to have. However, we should keep in mind that while we could make it "work" it would have one huge disadvantage: It would be very slow and wouldn't benefit from caching.
The main reason for this is that FCS, as well as Paket, have huge startup times.

You would expect such a

[2019-04-25 05:11] dzmitry-lahoda commented on #2302
I have fastest NVMe on the market and latest lineup of high end Intel processor. I doubt it will be slow for me. At least creating file and type-cat and then delete file would be slower for me. Or opening some IDE. I imagine FCS and paket could be  `corert`ed in some future to mitigate some startup time. May be some other optimizations in future?

When I type pwsh with no arguments, I get into it'

[2019-04-25 07:08] atlemann commented on #2299
Ops, I guess I'm using `ToWindowsCommandLine` wrong somehow:

https://github.com/atlemann/FAKE/blob/45a26d17979257197e67708be0a5d3c40007c97f/src/app/Fake.DotNet.NuGet/NuGet.fs#L402

[2019-04-25 13:57] mapfel opened #2303 "Need for assistance regarding WiX Module"
### Description

Packaging files and dirs in a WiX setup needs a more detailed explanation with examples.

Intention of

- Wix.bulkComponentCreation(...)
- Wix.bulkComponentCreationAsSubDir(...)
- Wix.bulkComponentTreeCreation(...)

is very difficult to understand without proper documentation including examples and usage scenarios.

### Current situation

I have a folder structure (including some

[2019-04-25 14:29] matthid commented on #2303
Maybe @cthangn can help?

[2019-04-25 17:38] mapfel commented on #2303
Found one solution by myself:

1. run Wix.bulkComponentTreeCreation to create the component structure
2. run Wix.getComponentRefs to create the component references
3. use the component references in Wix.generateFeatureElement
4. use the component structure in Wix.fillInWiXTemplate

the sample of this:

[code]

[2019-04-26 12:09] MiloszKrajewski opened #2305 "Share a `paket.dependencies` file between multiple scripts in different directories"
[fake5.paket.zip](https://github.com/fsharp/FAKE/files/3121217/fake5.paket.zip)

### Description

Most likely I'm doing it wrong, I just try to understand how it actually works.
I wanted to use paket (explicitly) to get all FAKE5 dependencies.
I removed #r "paket: ..." line(s) from `.fsx` and added all FAKE dependencies to `paket.dependencies` with in separate group and generate load scripts:
(NOT

[2019-04-26 12:58] matthid commented on #2305
No, the short answer is that this is not a supported use case. My question would be why you want to go this low level and potentially break on fake updates or other changes in the ecosystem?

[2019-04-26 14:00] MiloszKrajewski commented on #2305
It was a little bit related to my OCD. I have some helpers as .fsx script shared by multiple projects and it was a little cleaner to have them listed in one paket.dependencies than in rely on one build.fsx list them.

As I said, OCD.

[2019-04-26 15:49] matthid commented on #2305
Note to be exact: Usung paket groups via paket.dependencies is supported, you can use `#r "paket: groupref Build"` or the magic `// [ FAKE GROUP ]` comment
I believe this is properly documented.

What is not supported is referencing dlls directly (or using paket load scripts)

[2019-04-26 15:51] matthid commented on #2305
Still, If you care elaborating what exactly you want to achieve (if it isn't solved by my last comment) is appreciated

[2019-04-26 16:02] matthid commented on #2303
Should we update this to the docs? Can someone send a PR, can we close this issue?
:)

[2019-04-26 16:05] #2299 closed

[2019-04-26 16:06] #2300 closed

[2019-04-26 16:24] matthid commented on #2242
@inosik Interesting case: FAKE searches for files and git saves those tag-refs as files as well :)
Not sure how to filter those out.

[2019-04-26 16:28] mapfel commented on #2303
I'm not sure whether that is the best approach.
But probably it's better than nothing.

I would try to update the docs and send the PR, but earliest mid of next week.

[2019-04-26 16:28] #2303 closed

[2019-04-26 21:24] MiloszKrajewski commented on #2305
MY case was about having some `.fsx` shared between multiple project but referencing FAKE assemblies. It would be outside any particular `build.fsx` root:

Something like that:
[code]

[2019-04-26 21:55] matthid commented on #2305
Ok I took a quick look, and I feel like there are two ways to make this "work":

1. Make sure `#load` works when the loaded file contains `#r "paket: ..."`

In this scenario, you would just use

`/project1/build.fsx`
[code]

In a first step, we wouldn't support multiple `#r "paket: "` directives but you could "share" one. And fake could make sure to re-use caching where possible, maybe.

2. Make s

[2019-04-27 21:26] atlemann commented on #2242
Guess #2186 is related. I started using `dotnet nuget push` instead, so I didn't catch this on a windows machine.

[2019-04-27 22:26] atlemann commented on #2242
I started out with checking the platform first, but changed it later...

https://github.com/fsharp/FAKE/pull/2191/commits/30cc73e3b1d4f8855655adf191f6cee1f3326025

Could maybe change `tryFindToolFolderInSubPath` to get the first file that matches instead.

[code]

[2019-04-27 23:02] matthid commented on #2293
Wow, apparently either nobody is using this function or people just used the wrong order without caring too much...
Out of curiosity I dug very deep and found that this bug was introduced 5! years ago with https://github.com/fsharp/FAKE/commit/a329bd3aa6ba04b953d518766d0edb2c36b94b9e

Thanks for reporting :)
I guesss I'll fix this with a notice in the release notes, as it clearly is wrong (accordi

[2019-04-30 14:21] fangyi-zhou commented on #2293
I believe 5.13.3 does not fix the issue. Could you investigate?

[2019-04-30 14:21] fangyi-zhou commented on #2293
[code]

[2019-04-30 16:03] matthid commented on #2293
Maybe you need to update your packages... or delete build.fsx.lock

[2019-04-30 16:11] fangyi-zhou commented on #2293
With updated lock file
[code]

[2019-04-30 16:15] fangyi-zhou commented on #2293
it looks like it's treating `2` as a directory name instead of a file name.
Could you please re-open the issue?

[2019-04-30 16:56] matthid commented on #2293
Should have written a test :(

[2019-04-30 18:16] matthid commented on #2293
In addition to this bug, you would expect `Shell.mv` to also work on directories, correct?

[2019-04-30 18:23] fangyi-zhou commented on #2293
I believe so. According to documentation: "Like "mv" in a shell."

[2019-04-30 18:26] matthid commented on #2293
And also different behavior depending on whether "2" actually exists as a directory or not.

[2019-04-30 18:32] fangyi-zhou commented on #2293
Yeah. According to the man page of `mv`, it does act both as renaming and moving.

[2019-04-30 20:14] matthid commented on #2293
I started this here: https://github.com/fsharp/FAKE/pull/2308
I'd assume some tests are missing as you can rename directories as well :/
So there is a lot of if/else logic missing ...

[2019-05-01 11:30] inosik commented on #2242
@atlemann Yes, changing `tryFindToolFolderInSubPath` to actually look for _files_ seems like a good idea.

But I'd still simplify `findPaketExecutable` to only look in `.paket/`.

[2019-05-01 11:46] #2293 closed

[2019-05-01 15:02] matthid commented on #2293
Should be [released](https://www.nuget.org/packages/Fake.IO.FileSystem/5.13.5) now :D

[2019-05-01 15:06] matthid commented on #2302
Question is if we should implement something now or wait for https://github.com/fsharp/fslang-design/blob/master/tooling/FST-1027-fsi-references.md to be implemented. Which means we would probably get `#r "nuget:"` for free (whatever that means).

[2019-05-01 15:20] dzmitry-lahoda commented on #2302
I can wait :)

[2019-05-02 05:45] atlemann commented on #2242
We also need to support Paket installed as a global tool. Not sure exactly how to do that.

[2019-05-02 07:58] inosik commented on #2242
Simply fall back to `paket.exe`/`paket` if `.paket/paket` doesn't exist? The Paket binary has to be in `PATH` in this case. That's how `Paket.Restore.targets` works.

[2019-05-02 12:15] matthid opened #2312 "Improve visibility of failures"
### Description

To make sure to "see" that the build has failed, even on small command-line windows, we should skip the performance overview on failure. We should be able to re-enable it somehow.

Maybe we could add a 'red' message after the hints as well, such that the output doesn't end with "hints".

Feedback welcome.

[2019-05-02 12:19] 0x53A commented on #2312
+1, this is how my build fail emails from gitlab currently look:

![image](https://user-images.githubusercontent.com/4236651/57074785-3c826580-6ce5-11e9-9e08-49827784dcee.png)

[2019-05-07 12:26] iXamDev opened #2313 "Xamarin Android x86_64 build fails"
### Description

I try to build multiple APKs Xamarin.Android project with FAKE. The output should be a separate APKs for each ABI. Everything works except _AndroidAbiTarget.X86And64_ configuration.

### Repro steps

1. Build Android for AndroidAbiTarget.X86And64

### Expected behavior

APK builded

### Actual behavior

Build fails with MSBuild error

`Script reported an error:
-> BuildFailedExcep

[2019-05-09 11:29] nikolamilekic opened #2314 "Error when invoking fake run with different casings"
### Description

I got the following error so I'm opening an issue as requested.

CACHING WARNING
this might happen after Updates...
please open a issue on FAKE and /cc @matthid ONLY IF this happens reproducibly)

Error: System.Exception: We could not find a type similar to '<StartupCode$Hello_39CC74F39529626A47F150CE9573BBEA9E7A121F27DB517781F4AAE80B07F7A3>.$Hello$fsx' containing a 'main@' method

[2019-05-09 11:37] matthid commented on #2314
Very nice find, thanks for reporting and the steps

[2019-05-09 11:42] matthid commented on #2314
This are actually two bugs:

- I think what happens is that FAKE detects something is wrong with the cache and tries to recompile. However the assembly has already been loaded and is "locked", we probably need to "unload" the Assembly Context such that the file-lock disappears and the compilation succeeds.

- Fake should realize on windows that it doesn't need to recompile stuff if only casing cha

[2019-05-10 16:39] vivainio opened #2315 "directExec et al should use ProcessStartInfo, not ProcStartInfo"
In planning a port of fake 4 code, I noted that directExec in fake 5 had type (ProcStartInfo -> ProcStartInfo) -> bool

This is an incompatible change (because ProcStartInfo is not mutable, i.e. no setters)

It should have type ProcessStartInfo -> unit instead, i.e. implementation should be pretty much this https://github.com/fsprojects/Paket/blob/master/src/Paket.Core/Common/ProcessHelper.fs#L226

[2019-05-10 17:16] matthid commented on #2315
Yes indeed, just to check: You hit this after updating the legacy fake package (ie first step of the migration)?

[2019-05-10 17:38] vivainio commented on #2315
It was the first "processhelper" problem I hit. I didn't update fake package, rather I'm trying to update manually ("dotnet new console -lang f#", copied our build.fsx to build.fs, added FAKE PackageReference's, trying to get "dotnet run" flow running).

[2019-05-10 18:43] matthid commented on #2315
Ok, I just checked that I didn't mess up anything.
The code is still in master here: https://github.com/fsharp/FAKE/blob/release/next/src/legacy/FakeLib/ProcessHelper.fs#L261

So to clarify:
- Updating "fakelib.dll" is safe and doesn't break you
- Removing all "obsolete" warnings should make you FAKE 5 compatible

This doesn't imply that you can use FAKE 5 modules and keep your FAKE 4 scripts unto

[2019-05-10 18:58] vivainio commented on #2315
I can migrate in one go. I filed this bug to maybe smooth out porting work for posteriority :).

Still, since the function is only there only for legacy compatibility in the first place, it would make sense to have a compatible api.

[2019-05-10 18:58] #2315 closed

[2019-05-10 20:11] matthid commented on #2315
In this particular case, I think what happened is that we reworked the process API after 5.0.0 again in a backwards compatible manner.

Anyway thanks a lot for reporting. We definitely need people reporting such things such that we can smooth out the experience. But I feel like the ship has sailed on this one (if not a lot of other people start to report this)

[2019-05-11 13:07] #2313 closed

[2019-05-11 13:09] matthid commented on #2313
Thanks a lot for the report and the analysis

[2019-05-19 18:33] SCullman opened #2319 "DotNet.exec (dotnet installer) fails when username has a blank"
### Description

I see the following error message:
[code]

Translated:
The name "C:\Users\Stefan" was not recognized as the name of a cmdlet, function, script file, or executable program. Check the spelling of the name, or if the path is correct (if included), and repeat the process.

### Repro steps

- Add a user with a blank in the name in windows.
- Login as that user
- Clone ``https://github.

[2019-05-19 19:28] matthid commented on #2319
I'd say that is related to the space in your user profile folder.. Obviously, it still has to work but removing the space would probably be a workaround.

We probably need to do some additional escaping within the `-Command` argument

[2019-05-20 00:56] contactsamie commented on #230
Is this possible in any way at the moment to use the projects files to resolve dependencies rather than having to supply all the nugget dependencies manually (explicitly) ?

[2019-05-20 01:04] contactsamie commented on #549
@bronumski were you able to come up with a solution/work-around that avoids the needs to explicitly have to supply the dependencies  ?

[2019-05-20 01:06] contactsamie commented on #549
@AlexZeitler any luck with not needing to specify each dependency "by hand" ?

[2019-05-20 06:34] matthid commented on #230
@contactsamie please consider opening a new issue with more details on what exactly you expect or trying to achieve as this is quite old  :)

[2019-05-20 12:15] csmager opened #2320 "Can't use System.Data.SQLite.Core from FAKE"
### Description

Using `System.Data.SQLite.Core` from FAKE 5 results in an exception.

### Repro steps

Use the following build script:
[code]

### Expected behavior

I was hoping it'd just work, this does work I were to use this in a `netcoreapp2.2` console app.

### Actual behavior

[code]

[2019-05-20 12:24] csmager commented on #2320
And now I've tried a few extra search terms I hadn't thought of, I found #2007, which looks like a duplicate to me. If agreed, please close.

[2019-05-20 19:22] bronumski commented on #549
@contactsamie - It has been a while since I looked at this but yes I did get this to work. However recently I have been using .net core which allows for an even cleaner implementation.

Here are two examples of doing it with and without .net core. Also note that this project is using the older Fake framework but I have also done something similar with the Fake 5.

**Before .net core**
https://gith

[2019-05-20 20:10] kmadof opened #2321 "Add support for publishing profiles to Fake.Sql.DacPac.deployDb"
### Description

Fake.Sql.DacPac.deployDb doesn't support Profile parameter of sqlpackage.exe.

Profile parameter specifies the file path to a DAC Publish Profile. The profile defines a collection of properties and variables to use when generating outputs.

### Expected behavior

I would expect to override default deployment arguments by those given in profile file.

### Actual behavior

I tried t

[2019-05-21 09:47] csmager commented on #2007
I did a little digging into this. I'm doing my digging on macOS in the context of #2320 - I'm using the build script I included in that issue. I modified the custom `AssemblyLoadContext`:

https://github.com/fsharp/FAKE/blob/cecc72166334a3804c18a4c0ccd4911c94e58e45/src/app/Fake.Runtime/CoreCache.fs#L331-L335

To this, hard coding the path for the relevant native dll for my platform:

[code]
And no

[2019-05-21 09:54] matthid commented on #2007
Yes with this information it should be quite straightforward to solve as the list of native libraries is provided by paket. sadly I can't commit to a specific time frame for a fix for this...

[2019-05-27 15:39] mapfel opened #2322 "Can provide an useful example how to use Fake and WiX"
Hello guys,

I have an example of Fake and WiX which might be useful for others.

- [WiX.InstallerWithService](https://github.com/mapfel/WiX.InstallerWithService)

How to proceed?

- put it under the samples here & create a PR?
- link it somewhere in the docs?
- ???

Ciao, Marko

[2019-05-28 19:25] bchavez opened #2323 "Using NuGet.feedUrl fails"
Calling:
[code]

The `NuGet.feedUrl` is defined as:

https://github.com/fsharp/FAKE/blob/300fe0bacca25298e939a3897ba85f93162dcaaa/src/app/Fake.DotNet.NuGet/NuGet.fs#L629

Produces the following exception:
[code]
https://github.com/fsharp/FAKE/blob/300fe0bacca25298e939a3897ba85f93162dcaaa/src/app/Fake.DotNet.NuGet/NuGet.fs#L786-L789

https://github.com/fsharp/FAKE/blob/300fe0bacca25298e939a3897ba85

[2019-05-28 19:44] matthid commented on #2323
Just to evaluate the impact here: I guess putting `NuGet.feedUrl` into `NuGet.getLatestPackage` never actually worked in any version of FAKE. Therefore this is not a regression.

Regarding the link itself: I'm not actually sure about the link or what exactly the link points to. Because it doesn't look like a regular NuGet v2 or v3 feed url. It seems like we don't actually want to even make that li

[2019-05-28 20:33] bchavez commented on #2323
I don't know. `¯\_(ツ)_/¯`

I just needed a way to get the latest package version off NuGet proper. As far as I saw, this seemed like the most logical thing to do with the APIs I had available in F# FAKE.

I'm sure there are more ways that I'm not completely aware of. I suppose if you want to [maximize the probability for people of falling into a pit of success](https://blog.codinghorror.com/fallin

[2019-05-29 18:41] cmeeren opened #2324 "Unable to install using dotnet tool install"
I am trying to install FAKE as a global tool. However, I always get the same error message (which I get regardless of the tool I try to install, e.g. also for `dotnetsay`):

[code]

I have tried for several hours to clean up my environment, PATH, reinstall VS, etc., but I can't figure out why this doesn't work.

I get the same problem when specifying a tool path.

I'm sorry for what is evidently a

[2019-05-29 18:43] baronfel commented on #2324
The tools get installed to `%USERPROFILE%\.dotnet\tools` on windows, I would make sure that path is in your PATH. This happens to me on various linux systems I tinker on as well, because there the tools get installed to `~/.dotnet/tools` and that path is _never_ in the user path by default.

[2019-05-29 18:45] cmeeren commented on #2324
It's on my path, and there's nothing in that folder anyway (just empty `.store\.stage` subfolders).

[2019-05-29 18:47] baronfel commented on #2324
What about if you specified a version to install: `dotnet tool install -g fake-cli --version 5.13.7`.  My suspicion then is that NuGet is resolving the lowest-possible version, which in the case of `fake-cli` is a prerelease.

[2019-05-29 18:48] cmeeren commented on #2324
Exact same error.

[2019-05-29 19:10] matthid commented on #2324
Before reinstalling I'd suggest opening an issue in dotnet/cli so the experts can help you diagnose this issue

[2019-05-29 19:12] matthid commented on #2324
Maybe the issue is related to some anti-malware tools deleting stuff behind the scenes?

[2019-05-29 19:12] matthid commented on #2324
Also consider upgrading to a more recent sdk version

[2019-05-29 19:15] cmeeren commented on #2324
Thanks, I'll do that.

I only have Windows Defender, so that would be very strange.

2.2.300 is the latest (except 3.0 preview).

[2019-05-29 19:22] cmeeren commented on #2324
Oh, I found the issue. I removed the `MSBuildSDKsPath` environment variable and now everything works fine. Thanks for the effort!

[2019-05-29 20:01] matthid commented on #2324
did you set that variable manually? can we close this?

[2019-05-29 20:03] cmeeren commented on #2324
Sorry, I thought I closed it myself.

I have no idea. Probably I have set it manually a while ago while testing some other stuff.

[2019-05-29 20:03] #2324 closed

[2019-05-29 20:59] rusanov-vladimir opened #2325 "Remainder: Set RollForward once we upgraded to .NET core 3.0"
I'm trying to run fake 5 script on ubuntu using latest .NET core 3 preview5.

I uninstalled previous SDK versions so it's the only .NET core version I got.
After installing global tool with `dotnet tool install fake-cli -g`
I'm getting error above:

Seems to be similar to #1974.

Is there any reason why fake cannot run on dotnet core 3.0 preview?

[2019-05-29 21:43] baronfel commented on #2325
Until fake is published for 3.x, it's not going to run on it successfully. Global tools are runtime-dependent, not self-contained, and so running them requires a compatible runtime to be present on the system.  The runtime resolution rules can be found `[here](https://docs.microsoft.com/en-us/dotnet/core/tools/global-tools#what-could-go-wrong)`, but the long and short of it is

* first check withi

[2019-05-29 22:05] matthid commented on #2325
Well they introduced some roll-forward settings we "could" use:

https://docs.microsoft.com/en-us/dotnet/core/whats-new/dotnet-core-3-0#major-version-roll-forward

-> We could add `RollForward=Major` to the project file

[2019-05-30 19:36] rusanov-vladimir commented on #2325
Thanks for the answers!
I was aware about runtime resolution rules, but it seemed too awkward that net core 3.0 is backward compatible with 2.x but I wasn't able to run fake with it. Using environment variables I'm able to run fake smoothly without installing older runtime. I think adding `RollForward=Major` to the project would be great to have this behavior out of box without the need of using e

[2019-05-30 19:55] matthid commented on #2325
@rusanov-vladimir Thanks for confirming that this actually works ;)

[2019-06-04 20:13] teo-tsirpanis opened #2327 "FAKE.DotNet.Paket fails when Paket is installed as a .NET Core global tool"

[2019-06-04 21:11] matthid commented on #2327
I think this is a duplicate of https://github.com/fsharp/FAKE/issues/2242

[2019-06-04 21:11] #2327 closed

[2019-06-07 13:47] MangelMaxime opened #2328 "GitHub.uploadFile seems to hang and do nothing"
### Description

When I try to upload a file to a Github draft the process hang and do nothing. I left it running for +5 minutes. before killing it.

If I remove `|> GitHub.uploadFile nupkg` then the Draft is being created and published.

Code used:

[code]

I created a **Personal access tokens** with the following rights:
- public_repo
- repo:status
- repo_deployment

Do I need more rights? Also

[2019-06-07 21:51] teo-tsirpanis opened #2329 "Consider explaining the difference between path concatenation operators @@ and </>"
[This source file](https://github.com/fsharp/FAKE/blob/release/next/src/app/Fake.IO.FileSystem/FileSystemOperators.fs) provides two operators for combining file paths: `@@`, and `</>`. Both have the same documentation, yet a slightly different implementation. My codebase uses both of them without a problem, and even by looking at their source code, I cannot understand what the difference between t

[2019-06-08 09:15] #2329 closed

[2019-06-08 09:16] matthid commented on #2329
Thanks for reporting, hope https://github.com/fsharp/FAKE/commit/9789bb0e5b04953dbb9fd927a249fc597d1b3091 helps :)

[2019-06-08 09:18] matthid commented on #2328
How can we reproduce this? Note that we use `uploadFiles` which just calls `uploadFile` internally:

https://github.com/fsharp/FAKE/blob/9789bb0e5b04953dbb9fd927a249fc597d1b3091/build.fsx#L1038

Our release process works.

[2019-06-08 09:22] matthid commented on #2328
Maybe bot honestly I would expect a proper error if the token is not enough (like 401 or 403)

Can you ensure that this is not somehow infrastructure related? I could imagine this being caused by a firewall or by slow upload speeds?

[2019-06-08 09:32] matthid commented on #2325
Ok, I'm labeling this as "extern" because dotnet SDK 3 is not yet released. I'm no longer playing around with previews. However, I would probably accept a PR updating all the required places. Considering there is a workaround I'll leave this open as a reminder until SDK v3 has shipped. Please feel free to remind me about this issue when that happened :)

[2019-06-08 09:43] matthid commented on #2323
Wow, that API is really really old. It is a Nuget 1.0 Feed: https://docs.microsoft.com/en-us/nuget/release-notes/nuget-1.1
I think we can safely remove it or mark it as internal, which I guess fixes this issue.
I could add new APIs for the default v2 and v3 gallery feeds

[2019-06-08 09:51] #2323 closed

[2019-06-08 09:57] matthid commented on #2322
Hey Marko,

@mapfel Please feel free to send a PR with what you think is right.

One way is to extend this site: https://fake.build/apidocs/v5/fake-installer-wix.html
This is done by extending the xml-documentation in https://github.com/fsharp/FAKE/blob/release/next/src/app/Fake.Installer.Wix/Wix.fs (in your case, probably the top module documentation).
You can use markdown in the `///` comments

[2019-06-08 10:00] matthid commented on #2320
Yes agreed this is most likely a duplicate. Thanks for taking a look at this and posting a workaround. I'll take a look into fixing this now.

[2019-06-08 10:00] #2320 closed

[2019-06-08 10:01] matthid commented on #2320
Also thanks for your SQLite example, this is a much better test-case then the full SQL stuff :)

[2019-06-08 18:38] matthid commented on #2007
Now we only need to wait for https://github.com/fsprojects/Paket/pull/3593 to be released for this to work

[2019-06-09 12:07] #2319 closed

[2019-06-09 13:22] #2314 closed

[2019-06-09 13:25] matthid opened #2330 "Remainder: Unload Assembly Context after upgrading to NetCore 3"
### Description

See https://github.com/fsharp/FAKE/issues/2314 and https://github.com/fsharp/FAKE/pull/2318/commits/797ddaebd9faeae44ea8612608004c5ebb9585e4

We need this such that the caching layer can "free" the file locks and try again on potential failures.

Ideally, we test if this actually works. In any case, it is probably the right thing to do.

[2019-06-09 13:26] matthid commented on #2007
I'm closing this: It will be part of the 5.14 release. Note: You need to update the runner to get this feature. Updating your build will not be enough.

[2019-06-09 13:26] #2007 closed

[2019-06-09 13:42] #2173 closed

[2019-06-09 13:43] matthid commented on #2173
Related: https://github.com/fsharp/FAKE/issues/1858 https://github.com/haf/expecto/issues/249
Please re-open (or open a new issue) if you encounter this with a runner > 5.14 (which will be released soon)

[2019-06-10 15:42] matthid opened #2331 "Remainder: WARNING: `<licenseUrl>` element will be deprecated,please consider switching to specifying the license in the package."
Learn more: https://aka.ms/deprecateLicenseUrl

[2019-06-10 15:53] teo-tsirpanis commented on #2331
Related to {Paket issue 3475](https://github.com/fsprojects/Paket/issues/3475).

[2019-06-10 17:38] teo-tsirpanis opened #2332 "FAKE keeps reverting the Paket.Restore.targets file updated by Paket."
### Description

With [Paket PR 3585](https://github.com/fsprojects/Paket/pull/3585) being merged, I updated my `Paket.Restore.targets` file. However, after I ran FAKE, i saw the file being reverted to its previous edition.

### Repro steps

1. Create a folder with FAKE and Paket.

2. `paket restore`.

3. See the `Paket.Restore.targets`.

4. `fake build`.

5. See it again.

### Expected behavior

[2019-06-10 17:51] matthid commented on #2332
See the discussion in https://github.com/fsharp/FAKE/issues/2181
Note that fake gives you a hint when there is a mismatch. So I guess you were ignoring that hint?

[2019-06-10 18:01] teo-tsirpanis commented on #2332
Oh, I had noticed it in the past. So that was what was it for?

Still I believe this countermeasure is inadequate. Both FAKE and Paket get new versions very fast. The very frequent `Paket.Restore.targets` changes pollute the source control history enough to not need a similar treatment with `paket.dependencies`, every time a new version FAKE emerges.

[2019-06-10 18:23] matthid commented on #2332
@teo-tsirpanis It is a feature that `fake build` does include a `paket restore` if you use an external `paket.dependencies` file (see fake docs).

It is quite obvious why newer paket versions can break this particular feature.

However, I use that feature a lot, and I'm not investing any time into making that optional. Additionally, I think excluding that particular feature is technically challeng

[2019-06-10 18:28] BlythMeister commented on #2332
Can we not "just" upgrade paket.core?
Like running a paket update here?
Happy to raise PR for this in the morning 👍

[2019-06-10 18:29] teo-tsirpanis commented on #2332
The problem is it just has to be done every time a new Paket version gets released.

@matthid, if I define my dependencies inside the build script, would that solve the issue?

[2019-06-10 18:30] BlythMeister commented on #2332
Well that's the issue with any dependency

[2019-06-10 18:34] BlythMeister commented on #2332
@matthid. Where in the docs does it say about the restore?
I guess I run a paket restore manually before calling fake, so I would be interested in making the double restore optional lol

[2019-06-10 18:44] matthid commented on #2332
Indeed, I already do that. It's just that my schedule is to release one time every week at max. I try to do more stable builds. In fact, on some occasions, I couldn't even upgrade and had to report back a bug to Paket. But the more significant issue is that I'm not available 24/7 (therefore the focus on stability). I can give other people release-access to make that process faster. But it remains

[2019-06-10 18:51] matthid commented on #2332
Honestly imho this is not even an issue just tweak your workflow a bit:
-> Update Fake first and use the paket version it suggests

This way you most likely get even better tested paket versions in the first place.

By the way [`5.14.0-alpha.1085`](https://www.nuget.org/packages/Fake.Runtime/5.14.0-alpha.1085) is already released including Paket `5.209.1` (which includes the fix you are looking fo

[2019-06-10 19:05] BlythMeister commented on #2332
Maybe fake could automatically set the paket version?
Before restore, ensure paket is locked to the right version in its lock file.
Removes the need to a warning, removes the issues...

[2019-06-10 19:06] matthid commented on #2332
@BlythMeister I don't understand. The issue is that @teo-tsirpanis wants to use the newer version...

[2019-06-10 19:07] BlythMeister commented on #2332
Oh right, I didn't follow right.  I thought the issue was just the flip flopping targets file...maybe auto pinning could be another feature request 🤣

[2019-06-10 19:18] BlythMeister opened #2333 "Fake lock paket version"
Add ability for FAKE to lock the version of paket so FAKE and paket match rather than show warning to user.

Maybe could be if the dependencies file has a version with a comment fake will manage it.

I.e. 'version 1.2.3 #Fake-Managed'

[2019-06-10 19:42] matthid commented on #2333
I'm not a fan of automatically editing `paket.dependencies` as that file is user-managed.
I agree that this particular instance might be worth an exception. In fact I think it would be good to have as you only need to update FAKE from this point forward.

Practically, what about users who have customized arguments like:
[code]

Problem is the parsing is already quite complicated: https://github.co

[2019-06-10 19:56] BlythMeister commented on #2333
Hmm true that is complex.

Maybe don't warn...error 🤣

The number of issues I've seen with paket/fake mismatch causing errors.

[2019-06-10 19:57] BlythMeister commented on #2333
How/where does fake do the restore.
I wonder as an alternative could it try and find the paket.exe (in the same way the visual studio extension does)?
Note: this is me thinking out loud a bit.

[2019-06-10 20:01] matthid commented on #2333
Yes erroring out is possible, but it might reduce the acceptance a lot.

Can you pinpoint them, or can we collect them somehow? I'm not aware of a lot of issues actually.

I don't think it is as easy as that as we reference `paket.core` we are not calling `paket.exe` anywhere. And problem is I think moving to calling `paket.exe` is just too slow for our use-case. Also we do use `Paket.Core` for a

[2019-06-10 20:03] BlythMeister commented on #2333
Hmm...maybe I'm barking up the wrong tree a bit here 🤣

[2019-06-10 20:37] matthid commented on #1938
I'm addressing this here for Visual Studio Code: https://github.com/fsharp/FsAutoComplete/pull/402
I do not plan to address this for Visual Studio, but there is already an [issue open](https://github.com/dotnet/fsharp/issues/5216)

Therefore I'm closing this now. I thought about this several times and there is just no good way to address this in FAKE itself.

[2019-06-10 20:37] #1938 closed

[2019-06-11 09:10] MangelMaxime commented on #2328
Hello @matthid ,

I saw that FAKE repo is using `uploadFiles` and tried this one too but didn't have much more success.

I created a repo so you can try it too.

**Reproduction step:**

1. Fork this repo: https://github.com/MangelMaxime/FAKE-issue-2328
2. Adapt the [gitOwner](https://github.com/MangelMaxime/FAKE-issue-2328/blob/master/build.fsx#L17) value
3. Run `./fake.sh build`

    You should s

[2019-06-12 10:18] kmadof commented on #2321
I will take care of this with pleasure.

[2019-06-12 10:18] csmager commented on #2007
Thanks for fixing, looking forward to getting my FAKE 4 scripts migrated now it works! It seems fsprojects/Paket#3593 has been merged & released now, so hopefully 5.14 isn't too far away.

[2019-06-12 22:56] matthid commented on #2007
@csmager Yes, 5.14 release is triggered.
There is one problem, however:

[code]

This *only* happens on *linux/unix* therefore I don't think this is a bug in FAKE. I think if you need unix/linux support you need to report a bug to them. If you are already on it you can tell them their package is packaged incorrectly as well :)

[2019-06-13 15:05] csmager commented on #2007
Thanks. It works fine for me on Windows, but I can repro that error on macOS. My [hack to get it to work](https://github.com/fsharp/FAKE/issues/2007#issuecomment-494321009) was on macOS & it did seem to work. I'll dig into it and see if I can work out which of SQLite, Paket or FAKE is doing something wrong!

Re the packaging, is there do you happen to know where it's how this is supposed to be pac

[2019-06-13 15:48] csmager commented on #2007
Ok, the logging shows the file path is correct:
[code]
The only difference I guessed was the caching. So I removed it by changing the `FakeLoadContext` code to this:
[code]
And now it works fine. So it seems caching the `IntPtr` value breaks it.

[2019-06-13 19:26] matthid commented on #2007
Oo that was unexpected, so we should just remove the dictionary and load it every time (we could cache the full path instead)?

[2019-06-13 21:03] matthid commented on #2007
Thanks. I was on the completely wrong path here.

Indeed, thanks for the pointers (pun intended)... I changed the logic slightly and it looks green. I'll wait on the build and start the 5.14.1 release :)

[2019-06-13 22:09] matthid commented on #2321
@kmadof Yes, a PR is very welcome ;)

[2019-06-13 22:58] TomasMorton opened #2336 "DotCover report command is missing an argument when calling buildParamsAndExecute"
### Description

At [Line 117](https://github.com/fsharp/FAKE/blob/master/src/app/Fake.DotNet.Testing.DotCover/DotCover.fs#L117), `buildParamsAndExecute` requires a `failBuild` parameter.
At [Line 175](https://github.com/fsharp/FAKE/blob/master/src/app/Fake.DotNet.Testing.DotCover/DotCover.fs#L175), the `report` function does not pass in a value for this parameter.  This leads to a mismatch betwee

[2019-06-14 07:28] embix opened #2337 "Release hotfix_fake4 for MSBUILD VS2019 Support"
### Description

Building with (only) VS2019 installed using most recent FAKE4 (4.64.14) fails.

### Repro steps

Please provide the steps required to reproduce the problem

1. Delete all VS Versions older than VS2019 (if any).

2. Run any build.fsx of any (otherwise working) FSharp project.

### Expected behavior

Build simply works (using any recent MSBUILD and FSharp Compiler stuff)

### Actual

[2019-06-14 08:23] csmager commented on #2007
Thanks. Can't say I fully understand *why* it didn't work, there seems to be a lack of docs around `AssemblyLoadContext`. I can only assume that the framework handles the lifetime of that handle and it's not valid at the time of the second call.

[2019-06-14 08:29] matthid commented on #2337
Is there a particular reason why you upgrade your infrastructure but expect legacy fake version to still work? Considering that for example [all FCT usage was broken](https://github.com/dotnet/fsharp/issues/6689) you most likely had to do changes to get VS2017 and VS2019 working anyway.

While I agree that this should probably be fixed I guess we should slowly phase out FAKE 4 support.
At the very

[2019-06-14 08:39] embix commented on #2337
I just cloned a project and wondered why it didn't compile on my machine whereas it builds in CI and on my coworkers machines. I have no Idea about the impact of porting our current build script to FAKE5. From the 600+ lines I guess we may run into a few issues.

My current workaround: Install VS2017 Build Tools incl. all target frameworks, .net desktop and web stuff.

[2019-06-14 08:48] MangelMaxime opened #2338 "Environment.environVarOrNone fails with empty string"
### Description

`Environment.environVarOrNone` returns `None` when the variable is set to `""` (empty string).

[Source](https://github.com/fsharp/FAKE/blob/c7ccb0331ccace41b201f0224a28f8a78996701f/src/app/Fake.Runtime/Environment.fs#L50-L54)

### Repro steps

Please provide the steps required to reproduce the problem

1. Create an env variable: `export MyVar=""`
2. Run:

[code]

### Expected beh

[2019-06-14 09:03] matthid commented on #2338
I think historically we always have handled `null` and `""` identically. And isn't that the most time what you expect?

[2019-06-14 09:12] MangelMaxime commented on #2338
Well, in my case I use the variable to retrieve a database password and locally I don't have a password so I need to use `""` which have a "real" meaning in my case.

Also, after testing my script on the computer of my colleague which use Windows I discovered that the Windows UI doesn't let you enter env var without value (so no empty string) this is probably why you handled it identically.

Howev

[2019-06-14 09:34] BlythMeister commented on #2337
I thought that change was already released...

[2019-06-14 09:38] BlythMeister commented on #2337
The most recent FAKE4 is 4.64.17
You just need to update and it will work.

Check nuget https://www.nuget.org/packages/FAKE/4.64.17

[2019-06-14 10:05] embix commented on #2337
@BlythMeister cannot update FAKE atm due to timeouts from nuget.org. Will try that again later.

Any reason why the 4.64.16 and 4.64.17 tags weren't pushed?

[2019-06-14 10:33] matthid commented on #2337
Probably because this process isn't as automated as it was historically. This is because we don't want to publish docs when releasing fake 4 for example. Releasing older versions is something we have never done in the past ;)

[2019-06-14 10:49] embix commented on #2337
I see. It would certainly help to know, which commit was used for the release. Even the (short) commit hash as part of file/product version would suffice.
Anyways, thanks for the support 👍

[2019-06-14 10:55] matthid commented on #2337
Just one word regarding this: It shouldn't break. But it will add lots of obsolete warnings and it will hint you that you are using the "legacy" runner. Anyway, I guess this can be closed :)

[2019-06-14 10:55] #2337 closed

[2019-06-14 10:55] matthid commented on #2336
Can you please send a PR for this?

[2019-06-15 13:34] charlesroddie opened #2339 "FAKE for non-specialists?"
Questions about FAKE from a beginner. I know F# very well and use Azure DevOps for builds and releases. But it's hard for me to work out what FAKE is despite having read the introductory docs. Thanks for any help and sorry for the long posting.

1. I like the idea of defining builds/releases/runs in F# code. This would give a lot of flexibility. Is that what FAKE does?

2. Is there any way to get

[2019-06-15 16:55] csmager opened #2340 "Can't use netcoreapp version of referenced package"
This more of a question than a bug at this point. I note this has sort-of come up in #1991.

I'm migrating some FAKE 4 scripts to FAKE 5. One of them uses an Excel library called FlexCel. The NuGet package has binaries for various frameworks, but relevant here are that is has one for `netstandard2.0` and `netcoreapp2.0`.

You can see [from this note](http://www.tmssoftware.biz/flexcel/doc/net/guid

[2019-06-15 17:24] matthid commented on #2340
The main reason is compilation. At compilation time we have to add all "reference assemblies" to the command line. This is "easy" as we just use the assemblies in the `NETStandard.Library` NuGet package. I feel like this design is reasonable "safe".

To compile against the `netcoreapp` framework moniker it is unclear where we get the required reference assemblies. Calling `msbuild` or depending on

[2019-06-15 17:27] matthid commented on #2340
Thinking about it, maybe compiling against `netstandard` but using `netcoreapp` assemblies at runtime should be safe, and it would work as long as the APIs are available in the `netstandard` based assembly (if they leave them out you can't compile)

But it comes with a cost: We have to query paket twice about assemblies, which is one of the slowest operations in FAKE. So maybe it would still be op

[2019-06-15 17:31] matthid commented on #2338
Yes I agree, but I'm a bit hesitant about the potential impact :)

Actually, the code is probably older than I even know that F# exists

I guess at this point we would just properly document the behavior or add another helper function?

[2019-06-15 17:42] csmager commented on #2340
Out of curiosity, I tried uncommenting that line & changed my paket dependencies to specifically target `netcoreapp2.0` (rather than the default `netstandard2.0` that FAKE adds when it does the `paket install`).

It *nearly* worked, the only issue I had is the native library that this SkiaSharp graphics package requires wasn't found - I suspect that's possibly an unrelated issue, as FAKE happily s

[2019-06-15 17:52] matthid commented on #2340
Yes, we should track that in a new issue, please report one. I looked at the SkiaSharp package and it looks correctly packaged.

[2019-06-15 17:53] csmager commented on #2340
Sure, will try and put1 a repro together.

[2019-06-15 19:31] MangelMaxime commented on #2338
By looking at the code again and thinking about this issue we actually have a non consistent behavior:

[code]

`hasEnvironVar` is using `isNull` and so consider `""` as a valid value.

I do think whatever we choose to do, we had to properly document the behavior.

I understand that :) and was thinking that we could make the function obsolete and have 2 helpers functions but I can't find a good na

[2019-06-21 19:58] matthid commented on #2280
I'm closing this. Please let me know if you need further guidance

[2019-06-21 19:58] #2280 closed

[2019-06-21 20:42] matthid commented on #2328
Hm with the given repro I run into the following error:
[code]

After deleting the lockfile and adding `nuget System.Reactive.Compatibility` (which is the official workaround) it seems to work fine: https://github.com/matthid/FAKE-issue-2328/releases

See https://github.com/matthid/FAKE-issue-2328/commit/b5f0f808cbe2ae6274e8544c75d2169e2450d4c3

One Note: I added `storage: none` which improves spe

[2019-06-21 22:07] MangelMaxime commented on #2328
I don't have access to my enterprise laptop. I will add to my todo to check your solution and see if this work :)

This is really strange because I didn't have the error message when running against OSX. That's too bad :man_shrugging: because the error report seems to contains everything needed to fix the problem.

[2019-06-21 22:18] matthid commented on #2328
Maybe that's the bug here, that this error scenario doesn't work on non-windows.... Or you were using a very old fake runner. I can try to check with docker maybe

[2019-06-22 12:47] matthid commented on #2332
Ironically I now hit this in FAKE bootstrapping itself and it cost me a while to realize. The bad news is that the runner was so old that whatever fix I had added in the meantime it wouldn't have helped at all.
Interestingly the relevant logic is soon implemented in paket (https://github.com/fsprojects/Paket/pull/3598) for another reason. So I think we could now easily realize a `--no-paket-target

[2019-06-22 14:00] BlythMeister commented on #2332
Part of me thinks error, part of me thinks use the exe, part of me thinks don't do paket things as part of fake (unless opted in)

[2019-06-22 14:01] BlythMeister commented on #2332
Or allow a call to fake and opt out.

Whenever I call dotnet fake in my builds k always get "restore up to date"
Because I use paket to get me fake as a cli tool.

[2019-06-23 08:56] halcwb commented on #1841
This has been a year, will there be a FAKE 5 FSIhelper module, or is this still open?

[2019-06-23 15:20] vanceism7 commented on #1841
@halcwb: looks like a PR for this was merged about a year ago.

https://github.com/fsharp/FAKE/pull/1970

It wasn't merged into a main branch but I assume all the changes have been integrated into the main release by now

[2019-06-23 15:39] matthid commented on #1841
Yes it is [here since 5.1.0](https://fake.build/apidocs/v5/fake-dotnet-fsi.html), should have liked those issues up :)

[2019-06-24 07:05] MangelMaxime commented on #2328
I tried using your branch and I still have the same behaviour.

The process is hanging with no error reported and no file pushed.

I suppose there is a problem when using it from OSX. I will try it this evening on my Linux laptop to see if that's specific to OSX or "all" Unix stations.

[2019-06-24 18:16] MangelMaxime commented on #2328
Ok so I just tested it on Linux and it's working. [Release](https://github.com/MangelMaxime/FAKE-issue-2328/releases/tag/1.0.0)

So, there is definitely something wrong on OS X. I will try to include the source code of `Fake.Api.GitHub` directly and see if I can find where the bug is coming from.

[2019-06-25 11:19] BillHally opened #2342 "Can't use a native library from the user's `PATH` with Fake 5.14+"
### Description

Can't use a native library from the user's `PATH` with Fake 5.14+.

### Repro steps

1. Use functionality (whether from a Nuget package or written directly into a script) which relies on a native library being in the `PATH` environment variable rather than a Nuget package. For example:
[code]

There's a small repository demonstrating the issue at https://github.com/BillHally/FakeN

[2019-06-25 11:45] matthid commented on #2342
Ah indeed, didn't realize that FAKE already supported this. Shouldn't be too hard to add this. Question is if we can properly detect this case and report the above error otherwise.

[2019-06-25 11:46] matthid commented on #2342
Thanks for reporting this.

[2019-06-26 21:48] matthid commented on #2339
Hey, yes we probably need to improve some of the introduction documents, thanks for the concrete pointers.

Indeed. The scope is a bit larger, you can do any kind of automation. Build/Release is the most common scenario.

We try to integrate nicely into existing build server features. This particular integration is not planned. I'm also not sure if it is a good idea (thought about it myself) consi

[2019-06-27 03:56] panesofglass commented on #2136
I found that when I run FAKE 5 in PowerShell 5, I see the above error. In PowerShell 6, I do not. Workaround is to use PowerShell 6.

[2019-06-27 04:09] matthid commented on #2136
I still think this is specific to how you call fake in you poweshell script. I guess you are using a powershell 6 only feature...

[2019-06-28 01:06] panesofglass commented on #2136
Well, looks like this is happening again even in PowerShell 6:

[code]

[2019-06-28 02:06] matthid commented on #2136
@panesofglass please try to provide a minimal repro. I'm still convinced this is an issue in your powershell code...

[2019-06-28 22:37] matthid commented on #2332
In the next version of FAKE, you can set `PAKET_SKIP_RESTORE_TARGETS=true` before running FAKE. All my above objections still hold but if you feel like it is a good idea you can do it ;)

[2019-06-30 00:28] varon opened #2345 "Use Case: Switching between WSL and Windows breaks `intellisense_lazy.fsx`"
### Description

Running the build system under WSL results in package paths in `intellisense_lazy.fsx` that point to my home folder in WSL:

`#r "/home/varon/.nuget/packages/system.io.filesystem.watcher/4.3.0/lib/net46/System.IO.FileSystem.Watcher.dll" `

Rider cannot find them, and thus intellisense fails to work.

If instead FAKE is run without WSL, our paths are completely different:

`#r "C:\

[2019-06-30 02:39] matthid commented on #2345
I'm not aware of any solution to this. In fact I suggest using Ionide (vscode) for editing FAKE scripts. It has more features and it doesn't have this issue. I will update the docs shortly, as more features will flow into Ionide...

[2019-06-30 02:47] matthid commented on #2345
So IMHO the real solution is to add proper support to the editors, as FAKE support is now available via LSP in fsac. Once editors support that we can even remove the intellisense file. I consider this a tooling issue.

[2019-06-30 10:56] matthid commented on #2328
Yes please, if it works on Linux as well I have no way to reproduce and no way to introduce a regression test :(

[2019-06-30 12:53] varon commented on #2345
The problem is that we're producing absolute UNIX-style paths instead of cross-platform relative paths.

Trying to resolve `/home/.../...` on windows makes no sense.

[2019-06-30 13:28] matthid commented on #2345
@varon There is no way to generate relative paths into the home directory (where the `.nuget/Packages` folder lives). I'm not sure what we should generate here or what your expectation is.

In fact if you use `storage:packages` ie have the packages folder generated along the FAKE script we already create relative paths.

[2019-06-30 13:31] #2342 closed

[2019-06-30 13:41] matthid commented on #2342
This should be solved with the next release.

[2019-06-30 13:43] matthid commented on #2332
Closing this again, let's see if this appears again in the future.

[2019-06-30 13:43] #2332 closed

[2019-06-30 14:29] matthid opened #2346 "Known issues when using `dotnet tool install`"
This is a collection of issues when using `dotnet tool`:

- Not working on zsh (or unix in general) because `PATH` is not updated. https://github.com/dotnet/cli/issues/9321 and https://github.com/fsharp/FAKE/issues/1951
- `Tool 'fake-cli' failed to install`, can be caused by the `MSBuildSDKsPath` environment variable. https://github.com/fsharp/FAKE/issues/2324
- (fixed in SDK) "The application to

[2019-06-30 14:29] #2346 closed

[2019-06-30 15:07] varon commented on #2345
Ah that's helpful. Any chance that could be made the default?

[2019-06-30 15:24] matthid commented on #2345
No, because it is quite a lot slower and uses more hard-drive space ;)

[2019-06-30 17:44] varon commented on #2345
That's fair enough. Is it possible to do some kind of conditional check or workaround to allow WSL to work?

[2019-06-30 17:57] matthid commented on #2345
Have you tried vscode/ionide?

[2019-06-30 18:31] varon commented on #2345
Main thing is that it's a huge gotcha to run the build on WSL (which builds perfectly) then have the cached pathing (permanently) break intellisense.

The only "fix" from that stage is to manually delete `.fake` directory and re-run the build via `cmd/powershell`.

I tried using `storage:packages` at the top of the FAKE script, but the whole thing exploded in vague failure and misery.

[2019-06-30 18:34] matthid commented on #2345
Ionide tooling shouldn't depend on intellisense files at all, therefore it doesn't have this problem...

[2019-06-30 18:37] matthid commented on #2345
The proper way to reproduce would be appreciated. Have you deleted the `.lock`-file and the `.fake` folder?

[2019-06-30 18:54] varon commented on #2345
Yeah, it's for use in [OpenTK](https://github.com/opentk/opentk), a primarily C# project. So Rider/VS is the order of the day.  One of the major benefits of FAKE is that contributors don't need to install fancy editors or plugins for it to work out of the box.

You can find a reproduction at [this commit](https://github.com/varon/opentk/tree/571f56d82ea6acd358f0f09ce172b199c776150a).

### Repro st

[2019-06-30 19:10] matthid commented on #2345
WSL really is a "fancy" environment. Especially how you use it. I feel like this shouldn't really hit any contributor of [OpenTK](https://github.com/opentk/opentk).
Either staying "within" the WSL as well as staying "outside" of it should work just fine.

Given your usage, you just should use an editor that supports you. Is there any particular reason you are using the WSL and have the need to swi

[2019-06-30 19:54] varon commented on #2345
I appreciate all of the help and time on this.

The main goal is to keep things simple and compatible. I'd like contributors to just run `./build.sh` or `./build.cmd`. This works fantastically on all platforms, even WSL.

The issue is more philosophical than practical. The mechanism through which packages are referenced shouldn't be dependent upon the cached results which _implicitly_ rely on the

[2019-06-30 20:09] BillHally commented on #2342
Thanks!

[2019-06-30 21:37] matthid commented on #2345
Internally we write all cache files more or less platform independent, but this particular file we write for the IDE and the IDE doesn't understand variables or anything. So the following workflow can never work:

- run script in WSL command line
- edit script in Editor without native FAKE support outside of WSL (VS/Rider)

And this is not really because we don't want to. This is because of severa

[2019-07-02 10:42] panesofglass commented on #2136
I switched to a build project rather than using the scripts. That approach continues to be the most consistently working approach and lets me use `System.Data.SqlClient`, so this is fine to remain closed.