[2022-01-06 11:01] yazeedobaid commented on #2601
Octokit has been updated to version 0.50 in FAKE and the UploadAsset API has been updated to match with Octokit's new API.
Can you please try one of the alpha releases and see if the issue still exists for you

Thanks

[2022-01-06 17:54] isaacabraham opened #2629 "SqlPackage doesn't work with VS2022"
### Description

OOTB SqlPackage can't be located with VS2022. This is because VS no longer resides in Program Files (x86) but Program Files.

### Known workarounds

Manually set the path yourself.

I'll raise a PR for this.

[2022-01-07 18:47] yazeedobaid commented on #2618
I have opened a new PR that addresses the possibility that accessing the network is not an option to resolve the runtime version for the selected SDK. The PR implements a fallback method to use a cached file that is created as a step in FAKE's build script.

feedback is highly appreciated on the PR

Thanks

[2022-01-07 23:18] krauthaufen commented on #2626
hey, I was trying to find the problem in fake-cli and it actually happens somewhere in FSharp.Compiler.Service. I tried updating FSCS to the latest (41.0.1) version and fixed all the tiny problems locally, however I run into MissingMethodExceptions related to PrintFormat in FSharp.Core (maybe some dependency built with a very old FSharp.Core?)

Any hints how to properly upgrade dependencies withou

[2022-01-10 09:39] yazeedobaid commented on #2611
Closing this due to lack of activity, please feel free to open the issue again or another one.

Thanks

[2022-01-10 09:39] #2611 closed

[2022-01-11 16:44] #2608 closed

[2022-01-14 22:18] isaacabraham opened #2633 "NRE on Fake.Sql.SqlPackage"
### Description

Calling `deployDb` causes an NRE.

### Repro steps

Execute the following code in a script:

[code]

### Expected behavior

[code]

### Actual behavior

[code]

### Known workarounds
Compiling the code locally fixes the issue. It's only on the nuget package that this is an issue.

### Related information

* Operating system: Win11
* .NET Runtime, CoreCLR or Mono Version: .NET 5
*

[2022-01-14 22:18] isaacabraham commented on #2633
Another dev on our team can also repro this.

[2022-01-14 22:31] isaacabraham commented on #2633
Interestingly, I've just tried against alpha004 of 5.21 and the issue no longer occurs. What's changed?

[2022-01-14 22:33] isaacabraham commented on #2633
Ok I can now see - there's was an unsafe match against Timeout None that has now been fixed. I'm going to submit a PR to replace the IsSome / None checks with pattern matches to prevent this happening in future.

[2022-01-14 22:33] #2633 closed

[2022-01-19 17:16] #2618 closed

[2022-01-21 17:31] #2629 closed

[2022-01-21 20:39] Wallace-Kelly commented on #2521
A colleague was getting this error after clearing the Nuget cache. He fixed the issue, by additionally deleting the `.fake` folder (which for him was in the same folder as the *.fsx script that was calling the Fake library.)

[2022-01-24 17:02] yazeedobaid commented on #2629
The fix for this issue is included in release [5.21.0](https://github.com/fsprojects/FAKE/releases/tag/5.21.0)

Thanks

[2022-01-24 17:03] yazeedobaid commented on #2601
The fix for this issue is included in release [5.21.0](https://github.com/fsprojects/FAKE/releases/tag/5.21.0)

Thanks

[2022-01-24 17:03] #2601 closed

[2022-01-24 17:03] yazeedobaid commented on #2595
The fix for this issue is included in release [5.21.0](https://github.com/fsprojects/FAKE/releases/tag/5.21.0)

Thanks

[2022-01-25 13:13] nojaf opened #2638 "Reference assemblies are located in the wrong folder on Windows"
### Description

After upgrading to `5.21.0`, I can no longer run my FAKE script on Windows.

[code]

### Repro steps

[code]

### Expected behavior

FAKE script runs.

### Actual behavior

The reference assemblies are being located from `C:\Users\<user>\AppData\Local\Microsoft\dotnet\packs\Microsoft.NETCore.App.Ref`, on my machine they are stored on `C:\Program Files\dotnet\packs\Microsoft.NETCor

[2022-01-25 14:27] TheAngryByrd commented on #2638
Is code here seems to be the issue:
 https://github.com/fsprojects/FAKE/blob/9dac475110c5bf785cdcc28e2d4b327d8344a64c/src/app/Fake.Runtime/SdkAssemblyResolver.fs#L126-L161

 ---

Instead of setting `dotnetHostPath` once, it might be worth always trying all three potential paths set (ENV_VAR, User, then System), every time we go to execute something. Or maybe there's a better/safer lookup for this?

[2022-01-25 14:37] baronfel commented on #2638
I think the custom/user/system probing is slightly off there - the way to do that probing in a way that's consistent with the way other tooling expects is to
* Check for the DOTNET_HOST_PATH env variable(which points to the dotnet binary) and use the parent dir if present,
* Check for the DOTNET_ROOT env variable and use that directory if present,
* probe the PATH for the dotnet binary and use it'

[2022-01-25 15:31] nojaf commented on #2638
@TheAngryByrd yes, `"C:\Users\nojaf\AppData\Local\Microsoft\dotnet\dotnet.exe"` does exists.
I do have this folder as well: `C:\Users\nojaf\AppData\Local\Microsoft\dotnet\packs\Microsoft.NETCore.App.Ref\3.1.0`

[2022-01-25 17:03] SteveGilham commented on #2638
I'm not sure if this is some legacy install thing, as the files I have in the AppData\Local\Microsoft\dotnet tree are all from SDK 2.1, more than two years old, even after having uninstalled everything before 3.1 to tidy up after the net6.0 release.

Question -- is is safe just to delete the dotnet.exe from this (or even the whole tree)?

[2022-01-25 17:05] baronfel commented on #2638
if those directories aren't in your `PATH` and aren't shown when you run `dotnet --list-sdks`, then yes you can purge with abandon.

[2022-01-25 17:13] yazeedobaid commented on #2638
I do have this folder as well: C:\Users\nojaf\AppData\Local\Microsoft\dotnet\packs\Microsoft.NETCore.App.Ref\3.1.0

So yeah you have dotnet 3.1 in user specific location and net6 in default installation. And SDK resolver got mixed them.

I think we should try both; user-specific and the default location for resolved reference assemblies version. First, user-installed and then default.

So in your

[2022-01-25 17:14] baronfel commented on #2638
I disagree, this logic is not aligned with how any other tooling works. it doesn't match how FSI typechecks the scripts, for example.  the algorithm I linked above is the supported way to find the SDK directories and you really really should align with that.

[2022-01-25 17:25] yazeedobaid commented on #2638
@baronfel Thanks! If that is the correct algorithm and covers all the cases then we should definitely use it in FAKE.
Does anyone want to help with this?

Thanks

[2022-01-25 17:31] baronfel commented on #2638
@TheAngryByrd said I should extract and publish this, but you can essentially take the code from ionide/proj-info wholesale to help here: https://github.com/ionide/proj-info/blob/main/src/Ionide.ProjInfo/Utils.fs#L7-L87

You can use the `Paths.dotnetRoot` lazy to get the path to the dotnet directory you should use as your `dotnetHostPath` in the code that @TheAngryByrd  linked above, but then the

[2022-01-25 18:57] nojaf commented on #2638
I want to take a stab at this, feels like an easy steal of Chet's code, so I'm game 😅.

[2022-01-26 16:20] mk185147 commented on #2638
I also see related issue. I have a custom dotnet version locally installed/copied by build pipeline and I start dotnet fake command with this version then I expect (and was legacy behavior) that DotNet.exec within fake script will execute this custom dotnet version. This was broken with those changes.

[2022-01-26 21:19] mclark1129 opened #2641 "SdkAssemblyResolver does not properly resolve locally installed runtime"
### Description

After upgrading to 5.21.0, our .NET 6 builds are failing due to the following error:

[code]

This appears to be due to the resolver not being able to resolve the correct Runtime version for the locally installed SDK.  We are using `global.json` to specify an SDK version along with `rollForward` to help manage any minor SDK version differences between development machines and buil

[2022-01-27 11:03] Jooseppi12 commented on #2641
Same issue on my end as well, but in my case `dotnet --info` claims that I have a 6.0.0 runtime installed (but the folders are not there for that one)

[2022-01-27 15:40] marklam opened #2642 "Problem with System.Memory resolution in 6.0.101 using System.Text.Json"
### Description

Using `System.Text.Json` from fake-cli 5.21.0 under dotnet 6.0.101 produces an error concerning `ReadOnlyMemory<_>`

### Repro steps

`dotnet fake build -f broken.fsx` where broken.fsx is:
[code]

### Expected behavior

Nothing in this case, but without the crash.

### Actual behavior

[code]

### Known workarounds

None currently

### Related information

* Windows 11
* net core

[2022-01-27 16:54] BlythMeister opened #2643 "5.21 Update Breaks Script"
### Description

When i upgraded the fake cli dotnet tool i got this error:

[code]

My Build script has

[code]

It would seem that the `#r` no longer restores a group properly?

[2022-01-28 09:10] BlythMeister commented on #2643
Having dug into this, it seems to be because my paket group `Fake` had a framework restriction set of netstandard2.0.
If i remove that restriction, the script runs fine.

I don't really understand _why_ that's a problem though.

This zip contains a minimum viable reproducable of the issue :)

[FakeTest.zip](https://github.com/fsprojects/FAKE/files/7957288/FakeTest.zip)

[2022-01-29 12:23] mattiasdrp commented on #2638
I guess my problem is the same as this one (I'm following the install instructions from [here](https://github.com/fsharp/FsAutoComplete)

[code]

I'm just starting with dotnet so I have no idea what I should do to be able to install it

[2022-01-29 13:39] nojaf commented on #2638
I think you would need a slight variation of `$env:FAKE_SDK_RESOLVER_CUSTOM_DOTNET_PATH = "C:\Program Files\dotnet"`.
Your `dotnet` will be located somewhere else on Unix but setting the `FAKE_SDK_RESOLVER_CUSTOM_DOTNET_PATH` environment variable might work out for you.

[2022-01-30 13:05] yazeedobaid opened #2644 "Add Algorithm for Resolving DotNet host path to `Fake.DotNet.Cli` from `SdkAssemblyResolver`"
### Description

Per the fix for SDK assembly resolver for FAKE runner in #2638, the added algorithm for resolving dotnet host path should be also used in `Fake.DotNet.Cli` module which interact with DotNet host.

Specifically in the `findPossibleDotnetCliPaths` method: https://github.com/fsprojects/FAKE/blob/c7273c70ff688d1e53d2b56809724ff55e3d9961/src/app/Fake.DotNet.Cli/DotNet.fs#L81-L97

[2022-01-30 13:16] #2638 closed

[2022-01-30 13:50] yazeedobaid opened #2646 "Update `Fake.DotNet.FSFormatting` module"
### Description

Currently, the `FSFormatting` module in FAKE depends on an old version of [FSharp.Formatting](https://fsprojects.github.io/FSharp.Formatting/). FSFormatting has been converted to a dotnet tool and has some API changes as I found. The `Fake.DotNet.FSFormatting` module supports version ~4. However, FSFormatting is now on version 14.

The update needs work on FAKE website since FAKE

[2022-01-30 14:31] yazeedobaid commented on #2638
Release `5.21.1` has been published,
Thanks @nojaf

[2022-01-30 15:42] JohnTheGr8 commented on #2638
Unfortunately, I am still encountering this issue in Fake `5.21.1`.

In my case, I am running Fake using the `dotnet/sdk:6.0.101` docker image. (This all worked fine up to Fake `5.20.4`)

The error I am getting is this:

A workaround I've found, similar to what @nojaf initially recommended, is to set `FAKE_SDK_RESOLVER_CUSTOM_DOTNET_PATH` to `/usr/share/dotnet`. It works with both Fake `5.21.0` an

[2022-01-30 18:19] mattiasdrp commented on #2638
@nojaf My issue is that my dotnet version is 6.0.101 so the issue is that there is no /usr/local/share/dotnet/packs/Microsoft.NETCore.App.Ref/6.0.0/ref/net6.0. I do have /usr/local/share/dotnet/packs/Microsoft.NETCore.App.Ref/6.0.1/ref/net6.0/ but I don't know how to tell FAKE to look for it.

I tried adding the proper path in `FAKE_SDK_RESOLVER_CUSTOM_DOTNET_PATH` (with `FAKE_SDK_RESOLVER_CUSTOM_

[2022-01-31 09:58] yazeedobaid commented on #2638
@JohnTheGr8 & @mattiasdrp could you please open new issues with your case to keep track of it. Thanks

[2022-01-31 19:16] mattiasdrp opened #2648 "There was a problem while setting up the environment"
I guess my problem is the same as this one (I'm following the install instructions from [here](https://github.com/fsharp/FsAutoComplete)

[code]

I'm just starting with dotnet so I have no idea what I should do to be able to install it

My issue is that my dotnet version is 6.0.101 so the issue is that there is no `/usr/local/share/dotnet/packs/Microsoft.NETCore.App.Ref/6.0.0/ref/net6.0. I` do hav

[2022-01-31 19:16] mattiasdrp commented on #2638
@yazeedobaid Done in #2648

[2022-01-31 19:28] yazeedobaid commented on #2648
can you please send the output of `dotnet --info` and try with the new `5.21.1` release?

[2022-01-31 19:42] yazeedobaid commented on #2642
@marklam I have tried your example with the new FAKE runner release `5.21.1` and it ran successfully. I have added a `global.json` file beside the script to force net `6.0.101` as you specified.
Please note that I had to change the call for parse since it seems the method signature has changed in net `6.0.101`, [please see](https://docs.microsoft.com/en-us/dotnet/api/system.text.json.jsondocument.

[2022-01-31 20:17] mattiasdrp commented on #2648
fake version:

[code]
dotnet info:

[code]
Runtime Environment:
 OS Name:     ubuntu
 OS Version:  20.04
 OS Platform: Linux
 RID:         ubuntu.20.04-x64
 Base Path:   /usr/share/dotnet/sdk/6.0.101/

Host (useful for support):
  Version: 6.0.1
  Commit:  3a25a7f1cc

.NET SDKs installed:
  6.0.101 [/usr/share/dotnet/sdk]

.NET runtimes installed:
  Microsoft.AspNetCore.App 6.0.1 [/usr/share/dotne

[2022-01-31 21:16] marklam commented on #2642
There was a stray '%' in my repro case, but it didn't seem to mind the missing options parameter. It's possibly dependent on the `ReadOnlySequence` type, so I'm attaching a zip which has the Fake script ("broken.fsx") and the same thing in fsi syntax ("not-a-fake-script.fsx"), along with a global.json, the fake lock file and the output when I run it ("log.txt"). I've also added a global.json just

[2022-01-31 21:24] mattiasdrp commented on #2648
I don't know anything about F# ecosystem, how should I build the 5.21.1 release?

[2022-01-31 21:26] baronfel commented on #2648
@mattiasdrp you can update your version with `dotnet tool update fake-cli` to update to 5.21.1, the latest stable version.

[2022-01-31 22:47] mattiasdrp commented on #2648
Thanks ;-)
Same issue:

Clean
[code]

Build
[code]

Info:

[code]

[2022-02-01 03:02] sandeep-eroad opened #2649 "How to pin FSharp.Core to version 4.7.0"
I have dotnet 5 on my system and created a new fake script following instructions (https://fake.build/fake-gettingstarted.html) but when I run `dotnet fake run build.fsx` I get error

[code]

I am trying to figure put how to pin FSharp.Core to version 4.7.0.

[2022-02-01 03:29] mav10 commented on #2619
Is there any news or solutions? I didn't find a new issue with that but I've got exactly the same error right now. A few month ago this script works fine but now doesn't.

`
Script is not valid:
10:19:31     unknown (1,0)-(1,0): Error FS0193: The module/namespace 'System' from compilation unit 'netstandard' did not contain the namespace, module or type 'IAsyncDisposable'
`

[2022-02-01 03:44] zelenij commented on #2619
I remember getting the same error out of nowhere. I can't guarantee this will work, but it seems to, for me. First, upgrade every project you might have, that uses netstandard2.0 to 2.1.  Second, use net6.0 (or 5.0) in Fake's paket section:

[code]

[2022-02-01 04:07] #2649 closed

[2022-02-01 08:08] TomiLahtinen commented on #2626
I can confirm this does not work at the moment. Unfortunately I cannot add anything to help with debugging. My setup:
`dotnet --info
.NET SDK (reflecting any global.json):
 Version:   6.0.101
 Commit:    ef49f6213a

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  12.1
 OS Platform: Darwin
 RID:         osx.12-arm64
 Base Path:   /usr/local/share/dotnet/sdk/6.0.101/

Host (useful for supp

[2022-02-01 10:30] otto-gebb opened #2650 "Async calls make script invalid"
### Description

If I make a call to [ReadAsStringAsync](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpcontent.readasstringasync?view=net-6.0), the script fails with the following error:

### Repro steps

1. Create a file `build.fsx` with the following content:
[code]

2. Run the script like this: `fake run build.fsx -t Default`

### Expected behavior

The script runs successfull

[2022-02-01 15:22] ds185357 opened #2651 "Calling DotNet.exec from a script in AzureDevOps starts older version of dotnet command"
### Description

After update to Fake.DotNet.CLI 5.21 and 5.21.1, DotNet.exec command runs from system folder instead of the DotNet restored via `dotnet paket restore`

### Repro steps

Having two scripts `build.fsx` and `fantomas.fsx` where the former calls the later as shown below:

#### build.fsx excerpt
Target.create "CheckCodeFormat" (fun _ ->
    let r = DotNet.exec id "fake" "run fantomas.f

[2022-02-01 17:45] yazeedobaid commented on #2650
Can you please add a `global.json` file beside the script and use a Net6 SDK?
From the error message, it seems that the runner has defaulted to Nestandard2.0 reference assemblies and they don't contain this method. It is only specified in Net5 and Net6 per the documentation of the method [ReadAsStringAsync](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpcontent.readasstringasync?v

[2022-02-01 18:00] yazeedobaid commented on #2648
@mattiasdrp can you please check your environment variables? Specifically `PATH`, `DOTNET_HOST_PATH`, `DOTNET_ROOT`, and `DOTNET_ROOT(x86)`? Do you see an entry with `/usr/bin/dotnet`?

The default locations for linux is `/usr/share/dotnet/` and mac is `/usr/local/share/dotnet`? But the resolved path from logs is `usr/bin/packs/Microsoft.NETCore.App.Ref/6.0.0/ref/net6.0`

And in the resolution alg

[2022-02-01 18:10] yazeedobaid commented on #2642
I tried the sample you provided and it ran successfully. Following is the output I got:
[code]

[2022-02-01 18:28] marklam commented on #2642
That's very odd. Here's the info you requested:
`dotnet --info`
[code]
`dotnet fake -vv build -f broken.fsx`
[code]
Thanks for taking the time to dig into this one!

[2022-02-01 18:56] mattiasdrp commented on #2648
Sure!

[code]

[code]

My issue is that my dotnet version is 6.0.101 so there is no `/usr/local/share/dotnet/packs/Microsoft.NETCore.App.Ref/6.0.0/ref/net6.0.` whereas there is `/usr/local/share/dotnet/packs/Microsoft.NETCore.App.Ref/6.0.1/ref/net6.0/`, can it be related to that?

[2022-02-01 19:03] marklam commented on #2642
Inspired by that debug output, I cleared all my nuget packages from C:\Users\Mark\.nuget\packages, restored everything etc, and it fixed it.
I guess it was just a case of **doesn't** work on my machine!

Sorry to have wasted your time with my broken config!

[2022-02-01 19:45] marklam commented on #2642
Ok, it's not as simple as I thought.
If the global.json is present before the .fake folder is created, it's OK. If the global.json isn't present, here's what happens:
`dotnet --info`
[code]
`dotnet fake -vv build -f broken.fsx`
[code]

[2022-02-01 19:58] yazeedobaid commented on #2642
If you look at the reference assemblies, they are from `Netstandard.Library`. So FAKE runner defaulted to using Netstandard2.0 reference assemblies instead of Net6.
`"-r:C:\Users\Mark\.nuget\packages\netstandard.library\2.0.0\build\netstandard2.0\ref\System.Numerics.dll";`

When adding and removing the `global.json` file, you need to delete the FAKE cache directory to re-compile

[2022-02-01 20:03] yazeedobaid commented on #2648
Can you please check if you have this path in your file system?
`usr/bin/packs/Microsoft.NETCore.App.Ref/6.0.0/ref/net6.0`
Or if you have at least `dotnet` host in `usr/bin`?

[2022-02-01 20:21] marklam commented on #2642
Is it by design that without a global.json the reference assemblies are used instead of .net6 ?

[2022-02-01 20:42] mattiasdrp commented on #2648
I have dotnet in usr/bin:
[code]

I don't have `usr/bin/packs/Microsoft.NETCore.App.Ref/6.0.0/ref/net6.0`

[2022-02-02 08:29] otto-gebb commented on #2650
I added a `global.json` file with the following content:
[code]

And now I get a different error:

[2022-02-02 08:46] otto-gebb commented on #2650
Adding a `global.json` file alongside all my build scripts could be a workaround (not a solution), but unfortunately it doesn't work.

[2022-02-02 09:29] yazeedobaid commented on #2642
Yes, previously FAKE runner was using reference assemblies from this library `Netstandard.Library` version `2.0.3`. In that case, any packages that target Net 5 or above will not work with the FAKE runner, since it also pins its execution context to Netstandard2.0.
We have updated the runner to support Net 6 since it is the next LTS release of DotNet. So, to activate the Net 6 reference assemblies

[2022-02-02 09:37] marklam commented on #2642
I see now, that's very helpful.
Thanks again for your time!

[2022-02-02 09:37] #2642 closed

[2022-02-02 10:56] raghur commented on #2641
Similar issue - however, our default is not to have a global.json. In a gitpod env, even with the SDKs installed, have to have a global.json with the exact version of the sdk 6.0.101 for the build to work. Without global.json, get a cryptic

Script is not valid:
        unknown (1,0)-(1,0): Error FS0193: The module/namespace 'System' from compilation unit 'netstandard' did not contain the namespac

[2022-02-03 11:53] yazeedobaid commented on #2650
Adding a `global.json` file is not a workaround, it is used to enable Net6 reference assemblies. If no `global.json` is found beside script or in another directory it will fall back to Netstandard2.0 reference assemblies. This is by design, to not introduce a breaking change.

The specified SDK version of `6.0.100` has a matching runtime version of `6.0.0` which is the one that FAKE runner resolve

[2022-02-03 12:15] otto-gebb commented on #2650
@yazeedobaid I installed SDK `6.0.101`.
[code]

And added the `global.json` file:

[code]

And now the script runs successfully. Thanks for your help!

It's a bit sad that I now have to go and create a `global.json` file in a lot of places, especially considering that everything has worked fine without it for many years until now.

Is there a way to specify the runtime for FAKE (and only for FAKE)

[2022-02-03 12:15] #2650 closed

[2022-02-03 17:12] baronfel commented on #2648
Correct, if `dotnet` is a symlink the symlink should be followed to its root before doing the directory probing algorithm.

[2022-02-03 18:11] mattiasdrp commented on #2648
Hi, thanks for your answer ;-)

Build failing again. Once again it tries to find /usr/share/dotnet/packs/Microsoft.NETCore.App.Ref/**6.0.0**/ref/net6.0 when it should find /usr/share/dotnet/packs/Microsoft.NETCore.App.Ref/**6.0.1**/ref/net6.0 (6.0.0 instead of 6.0.1).

[code]

Dotnet info:
[code]

Path:
[code]

[2022-02-03 18:58] yazeedobaid commented on #2643
<details>
<summary>Log with nestandard2.0 framework restriction in paket.dependencies</summary>

[code]
</details>

<details>
<summary>Log with `nestandard2.0, net6 framework restriction in paket.dependencies</summary></summary>

[code]

</details>

The FAKE runner now pins its execution context to `netstandard2.0, net6`. So in the first log, it took what was specified in `paket.dependencies` file

[2022-02-03 19:59] BlythMeister commented on #2643
Yeah, I can see the difference.
Just was a bit of an unexpected breaking change.
Should that not have been released under a new major version number considering the impact?

I have 40-60 repos to now go and manually fix in order to prevent a break when someone tries to do an update.

Since last week, I've had about 7-10 people ask "why do I get this error when I update"

[2022-02-04 00:22] otto-gebb commented on #2650
Found another [workaround](https://github.com/eiriktsarpalis/TypeShape/blob/main/build.fsx#L5-L12):
- load packages via NuGet: `#r "nuget: Fake.Core.Target"`;
- add a code block initializing the FAKE execution context;
- run the script via `dotnet fsi ./build.fsx -t Default`.

After the adjustmets the script from the original post looks like this:

[code]

[2022-02-04 11:59] zhongjn opened #2653 "races in console trace"
### Description

While running commands with `Shell.Exec`, output from stdout or stderr gets wrong.

### Repro steps

1. Step A
Prepare a bash script `err.sh`:
[code]

2. Step B
Use `Shell.Exec` to execute the bash script. I executed the script multiple times here to make the problem more obvious.
[code]

### Expected behavior
Output are colored accordingly. Lines are not messed up.

### Actual be

[2022-02-04 12:06] zhongjn commented on #2653
The root cause shold be:

1. While running the command, callbacks are executed in different threads:

https://github.com/fsprojects/FAKE/blob/79aa1273d0311595bd404be5721d994301774552/src/app/Fake.Core.Process/Process.fs#L843-L850

2. `Trace` is not thread-safe, since `ConsoleTraceListener` is not thread-safe:

https://github.com/fsprojects/FAKE/blob/79aa1273d0311595bd404be5721d994301774552/src/app

[2022-02-07 08:44] yazeedobaid commented on #2653
Thanks for reporting. Can you please use the create process API instead? Since the `asyncShellExex` is marked with an obsolete attribute. https://github.com/fsprojects/FAKE/blob/79aa1273d0311595bd404be5721d994301774552/src/app/Fake.Core.Process/Process.fs#L826-L829

[2022-02-07 08:49] yazeedobaid commented on #2643
It should not be a breaking change (please correct me if I'm wrong) since Net 6 is backward compatible with Netstandard2.0, so it should resolve the packages. But maybe we had a case that we didn't cover or consider while making the change.

Also, does it execute the script without deleting the FAKE directory? Since if the runner still considers the cache to be valid it will pick up the assembly a

[2022-02-07 09:30] BlythMeister commented on #2643
On a complete clean checkout (taking the zip I uploaded to this issue) fake will not run.

I agree, netstandard should be compatible.  Hence my confusion.

But the only resolution I have found is to change the paket dependencies on all my repos to make the new version work
In my book...that's a breaking change 😂

[2022-02-07 09:42] yazeedobaid commented on #2643
Sorry for the hassle, it was unintended and a case that we didn't cover

[2022-02-08 14:42] queil commented on #2619
https://github.com/fsprojects/FAKE/issues/2641#issuecomment-1027815211 worked for me

[2022-02-09 08:51] hslaa commented on #2649
How did you end up solving this @sandeep-eroad? We're seeing the same issues here.

[2022-02-09 08:58] michaljosek commented on #2626
I had this exact problem, but I think I found a workaround.

So the problem is with .NET Arm64 version, when I switched to .NET x64 version it started to working.
Quick tip is also to create a link from x64 version, so all dotnet commands could work from terminal.
`sudo ln -s /usr/local/share/dotnet/x64/dotnet /usr/local/bin/`

[2022-02-10 01:51] sandeep-eroad commented on #2649
yes.
[code]

[2022-02-12 08:41] Smaug123 commented on #2626
Could this be the same as https://github.com/dotnet/runtime/issues/63240 ?

[2022-02-13 01:15] malclear commented on #2626
I'm having the same issue. My configuration is almost exactly as is @TomiLahtinen 's.

[2022-02-13 19:54] lucasteles commented on #2648
I'm having some problems after trying to update FAKE while setting the environment up too

[code]

More info:
[code]

[2022-02-16 15:04] michaljosek commented on #2626
@malclear I uninstalled ARM64 version. You can navigate to [Microsoft page](https://dotnet.microsoft.com/en-us/download) and download x64 version.
Create symbolic link as I mentioned earlier so you don't have to use "dotnetx64" in CLI (then "dotnet" command is available in CLI).
`sudo ln -s /usr/local/share/dotnet/x64/dotnet /usr/local/bin/`

[Here](https://docs.microsoft.com/en-us/dotnet/core/com

[2022-02-17 10:03] amis92 commented on #2641
Why is this not yet labelled as a bug?

I can reproduce this with `fake-cli` v5.22.0, OS Win10, I have .NET SDK v6.0.102 installed and unless my `global.json` contains exactly this version, it fails with

[code]

This is with `global.json`:
[code]

[2022-02-19 11:16] nojaf commented on #2648
Not sure if this is related but what helped in my case was setting the framework to `net6.0` in my paket.dependencies file:

[code]

before it was `netstandard2.0` and I was getting similar problems.
Oh, and your `global.json` really needs to be on point as well.

[2022-02-20 17:28] TheAngryByrd commented on #2641
I'm also encountering this fun bug in [FsToolkit.ErrorHandling](https://github.com/demystifyfp/FsToolkit.ErrorHandling/runs/5265728116?check_suite_focus=true#step:8:446)

[code]

[2022-02-21 16:36] MiloszKrajewski opened #2659 "Fake 5.22.0 crashes when Async module is used"
### Description

Any mention related to `Async` module makes fake fail with:

[code]

### Repro steps

Just use some async code in `build.fsx`, for example, add anywhere:

[code]

I've attached zipped folder but it can be easily done with:

1. Create fresh FAKE project
[code]

2. Use `async` (or `Async`) anywhere in `build.fsx` (anywhere because it does not need to be ran, it fails while compiling

[2022-02-22 13:05] thomrad opened #2660 "The namespace Sql ist not defined"
### Description

Adding the Sql namespace gives me the error "The namespace Sql ist not defined" - I want to use it for the SqlServer module. https://fake.build/sql-sqlserver.html

### Repro steps

I am using fake cli version 5.22.0 with .net 6.0 sdk

[code]

Deleting directory .fake
Deleting file build.fsx.lock

running fake build

Installs all Dependencies / Packages including Fake.Sql

Still do

[2022-02-23 10:59] thomrad commented on #2660
@yazeedobaid Unfortunately those packages are not available on nuget:

There was a problem while setting up the environment:
-> Unable to retrieve package versions for 'Fake.Sql.SqlServer'

How should I retrieve that package? Via github? If so, how do let my script know, that those packages are available? I am totally new to fake and paket and beginner level f# ....

[2022-02-23 11:48] yazeedobaid commented on #2660
@thomrad package `Fake.Sql.SqlServer` is not pushed to NuGet anymore. Please try the other two packages. Here are the links for them in NuGet.
[`Fake.Sql.DacPac`](https://www.nuget.org/packages/Fake.Sql.DacPac/)
[`Fake.Sql.SqlPackage`](https://www.nuget.org/packages/Fake.Sql.SqlPackage/)

[2022-02-23 12:54] thomrad commented on #2660
@yazeedobaid Thank you, that did the trick. But unfortunately the DacPac and SqlPackage don't help. SqlServer had what I needed and that is not part of those packages. So, the only thing I can do, is to build fake on my machine and then use that SqlServer module.

Thank's again for helping out.

[2022-02-23 12:54] #2660 closed

[2022-02-23 16:46] yazeedobaid commented on #2659
@MiloszKrajewski Can you please add a `global.json` file beside your script and specify a Net6 version in it? Since it seems FAKE has defaulted to netstandard2.0 reference assemblies when compiling the script. And [`IAsyncDisposable`](https://docs.microsoft.com/en-us/dotnet/api/system.iasyncdisposable?view=net-6.0#applies-to) is available on Netstandard2.1 and above.

[2022-02-23 16:48] yazeedobaid commented on #2660
@thomrad yes you can do that. Sorry I'm not aware of why the `SqlServer` module is not pushed to NuGet! I'll try to look and see why...

[2022-02-23 17:46] MiloszKrajewski commented on #2659
Closed by accident ;-)
I did not thought it through yet, but this worries me a little bit.
If I put `global.json` in root then I will force same SDK for build script and my own projects, right?
I was hoping `fake-cli` will (magically?) run using .NET 6 while I can still force SDK 5.0 to be used for my project.

I will test if this still works for me? Maybe I need to put fake-cli not in root of my

[2022-02-23 17:59] yazeedobaid commented on #2659
We have implemented it this way because the default was to use Netstabndard2.0 reference assemblies. And defaulting to Net6 would be a breaking change. Net6 should be the default for FAKE reference assemblies when the next major release is published.

[2022-02-23 19:04] MiloszKrajewski commented on #2659
Bad news: adding `global.json` did not help.
Good news: deleting `.fake` folder AND adding `global.json` did help.
Even better: after rebuilding `.fake` folder `global.json` file can be deleted. Although, AFAIU, `.fake` folder is not meant to be stored in repo so it needs to be and will be rebuilt over and over again. Juggling with `global.json` does not feel right.

I checked differences and the

[2022-02-24 10:17] pchinery opened #2661 "SetAssemblyVersion is too verbose"
### Description

Right now, `AssemblyInfo.setAssemblyVersion` is very verbose, which makes the logs hard to read.

Our build process is like this:

* Update multiple `AssemblyInfo.cs` files at the beginning of the build with the current version number (and additionally the current commit ID)
* Compile
* Revert the changes to all `AssemblyInfo.cs` files

As `AssemblyInfo.setAssemblyVersion` writes

[2022-02-28 11:19] pchinery commented on #2661
Sorry, I had copied the name of an internal helper method, I meant `AssemblyInfoFile.updateAttributes`

If I understand your snippet right, that's the "next step", meaning after all `AssemblyInfo` files were updated, they are added to the git index. What I meant is the actual process (and its output) of updating the `AssemblyInfo.cs` files

[2022-02-28 11:58] pchinery commented on #2661
I did not mean it as a direct quote, that's the line:

https://github.com/fsprojects/FAKE/blob/release/next/src/app/Fake.DotNet.AssemblyInfoFile/AssemblyInfoFile.fs#L447

That's triggered for each attribute in each file that is being updated and it completely clutters our build output (especially on the final target where we revert the temporary changes).

For now, we are detaching the Console dur

[2022-02-28 12:09] yazeedobaid commented on #2661
Ok, I see now. Sorry for all the trouble until I understand what is the issue! But yes if the output is cluttering the build we can condition the trace messages to verbose mode only. Please feel free to provide a PR for it.

Thanks

[2022-02-28 12:57] pchinery commented on #2661
Thanks, I will try to spend some time on that during the next days and will open a PR when I have something to show/discuss

[2022-03-15 07:06] peterhirn opened #2663 "Using `MetadataReaderProvider` in build scripts"
### Description

Using `System.Reflection.Metadata.MetadataReaderProvider` in build scripts used to work (`v5.20.4`) but now fails with a strange error message (`System.IO` doesn't contain `Stream`)

### Repro steps

[code]

`dotnet fake run`

### Actual behavior

[code]

### Related information

* Windows 10
* FAKE 5 - F# Make (5.22.0)
* dotnet 6.0.201
* paket 7.0.2

### Additional

Issue can be

[2022-03-18 21:34] ScottShingler commented on #2648
Ran into this today on Ubuntu 20.04 with .NET SDK 6.0.201. Setting the `DOTNET_HOST_PATH` environment variable as @2sComplement suggested worked.

### Environment

#### dotnet info

[code]

#### path

[code]

[2022-03-19 09:19] dsyme commented on #2619
@zelenij Thanks, the following worked for me too:

[code]

[2022-03-20 21:16] rosecodym commented on #2600
I'm seeing this too (after an update to .NET 6 in my case).

[2022-03-21 11:49] csmager commented on #2641
Was looking to see if I should log this - we use 'Scenario 3' (`6.0.100` with roll forward `latestFeature`), and updating to the latest CLI breaks.

[2022-03-21 12:24] NogginBops opened #2664 "Wrong version of MSBuild found if only Visual Studio 2022 is installed"
This code only looks in the `Program Files (x86)` folder for Visual Studio installations, but vs2022 installs in `Program Files`, so MSBuild provided with vs2022 will not be picked up by `Fake.DotNet.MSBuild`.

https://github.com/fsprojects/FAKE/blob/e313c3b25a2c3d683d0ceed735a1a2b9b15a4fb4/src/app/Fake.DotNet.MSBuild/MSBuild.fs#L236-L249

[2022-03-22 13:59] ImaginaryDevelopment commented on #2627
I think, at least in part, because of this [MiniScaffold](https://github.com/TheAngryByrd/MiniScaffold/tree/master/build), and other community projects have moved to using a build.fsproj and simply referencing and calling fake. @adam-c-anderson

[2022-03-28 19:46] mlaily opened #2666 "Trying to make sense of fake-cli syntax"
Hello,

I'm new to FAKE, and I'm having a hard time trying to make sense of the FAKE CLI.
After actually spending a few hours on this, I decided to open an issue here so maybe this can be improved. (And I can get answers :))

I don't find the `--help` very helpful on its own, maybe even convoluted to the point of being misleading, and https://fake.build/fake-commandline.html does not really answer

[2022-03-28 22:07] matthid commented on #2666
Yes the UX is not optimal and it is entirely my fault (I couldn't come up with something better). Rather than going full out technical let me try to motivate why it was implemented this way (we can decide to change that here and start a discussion).
Some relevant discussions (just if someone is interested in the archives):
- https://github.com/fsprojects/FAKE/issues/2151 (in particular [this comme

[2022-03-30 21:23] eglyph commented on #2604
Please also note that even if your project is using .NET 6.0, a 3.1 version still has to be installed for paket 7.3.1. to work. If you uninstalled it, it will produce the `Failed to initialize CoreCLR, HRESULT: 0x80004005` error.

[2022-03-31 06:39] mlaily commented on #2666
Thank you for this thorough reply!
I'm still processing it and reading all your links, while reading the code of `fake-cli` (the ultimate source of truth!).
I don't have enough free time right now but I will come back to this thread in a few days...

[2022-03-31 20:53] Smaug123 commented on #2626
(If my diagnosis above is correct, this should be fixed in .NET 6.0.3, by https://github.com/dotnet/runtime/pull/64266 .)

[2022-04-05 18:19] Luiz-Monad commented on #2627
I had a similar problem when cleaning everything for a NetCore50 update.  You need to at least do a first build before the intellisense can work.

[code]

Other thing the template misses is ignoring the `#r` directive, its doesn't work with `Ionide`, but that's no problem as long as you do the following, it will work.

[code]

`build.fsx`
[code]

[2022-04-05 20:45] mlaily commented on #2666
After digging more, it's kinda funny that I find the --help misleading while the command line is actually generated from it!

Docopt seems like the ultimate command line parser at first, but the more I play with it, the less I'm a fan of it.
 - The resulting parsed tokens have to be matched by name.
   (making it easy to break something if the source usage string changes. Tokens are defined once i

[2022-04-06 12:08] yazeedobaid commented on #2664
Thanks for reporting!
Would anyone like to send a PR for this issue?

[2022-04-06 12:13] yazeedobaid commented on #2663
I looked at the documentation for [`MetadataReaderProvider`](https://docs.microsoft.com/en-us/dotnet/api/system.reflection.metadata.metadatareaderprovider?view=net-6.0) and `FromPortablePdbImage` is the method that expects an immutable array.

Please feel free to re-open this issue or another one if you still have the issue.

Thanks

[2022-04-06 12:13] #2663 closed

[2022-04-06 12:20] aloisdg commented on #2664
@yazeedobaid I am willing to transform my pseudo code into something useful.

[2022-04-06 12:35] yazeedobaid commented on #2659
Is there anything still left in this issue?

[2022-04-09 18:40] MiloszKrajewski commented on #2659
Yeah, I think it can be closed.
I'm actually not sure what I would be positive outcome.

*So, as a summary*

starting at [5.21.1](https://www.nuget.org/packages/fake-cli/5.21.1) FAKE requires .NET 6 both while resolving `build.fsx.lock` file and running `build.fsx` if script mentions or uses `Async` module (for example: `[Fake.Api.GitHub](https://www.nuget.org/packages/Fake.Api.GitHub)`)

[2022-04-09 18:40] #2659 closed

[2022-04-17 08:53] cannorin commented on #2648
I'm trying to build Fable on Debian with .NET 6.0.202 and encountered a similar problem.

It seems like there are two separate issues going on, but one seems to be already fixed in `release/next` and the other seems to be a duplicate.

I think this issue may be safe to close?

## 1. FAKE tries to find the .NET SDK installation from `dotnet`, but fails because `/usr/bin/dotnet` is a symlink and FAK

[2022-04-25 13:26] #2641 closed

[2022-05-05 04:50] knocte opened #2669 "Referencing latest version of Fake.Core.Process (5.22.0) nuget gives FSharp.Core downgrade warnings at compile time and throws at runtime"
### Description

Referencing latest version of Fake.Core.Process (5.22.0) gives FSharp.Core downgrade warnings at compile time. I see them this way in VS4Mac:

<img width="538" alt="Screenshot 2022-05-05 at 12 41 50 PM" src="https://user-images.githubusercontent.com/331303/166864702-f40f75c0-7fa9-426a-b0b7-beafb0cb4932.png">

Then if I try to use the library, for example writing this in Program.fs

[2022-05-05 05:43] knocte opened #2670 "Basic usage of CreateProcess throws InvalidOperationException in .NET4.7.2"
### Description

Basic usage of CreateProcess throws exception in .NET4.7.2. There seems to be a problem with how FAKE.Core.Process implementation makes use of the StandardOutputEncoding API in .NET4.x (as opposed to .NET Core/5/newer).

### Repro steps

1. Create a new F# 4.7.2 project.
2. Reference Fake.Core.Process nuget package (at the time of writing this, last version is 5.22.0).
3. Write so

[2022-05-06 03:58] mocxi commented on #2619
It worked, update the packet, delete the lock file, run the command again to install. Thanks.

[code]

[2022-05-06 04:19] knocte opened #2671 "Test `Fake.Core.IntegrationTests/no dependencies hello world and casing #2314` is flaky in macOS's CI lane"
### Description

It seems there is an integration test that in macOS fails sometimes; which might lead to potential contributors (e.g. me) falsely assume that their change in an upcoming PR is wrong.

### Repro steps

1. Fork FAKE
2. Enable GitHubActions in your fork.
3. Push empty commit to `release/next` branch to your fork.
4. Watch GitHubActions CI run.

### Expected behavior

It should be gre

[2022-05-06 13:43] ImaginaryDevelopment commented on #2611
So in some contexts in fake FinalTarget means one that runs like a `finally` block, but here `FinalTarget` means the one that was actually requested?

[2022-05-11 13:41] akhansari opened #2676 "Release Notes - Conventional Changelog compatibility"
### Description

Release Notes module is not compatible with [Conventional Changelog](https://github.com/conventional-changelog/conventional-changelog).

This is an enhancement.

### Repro steps

`ReleaseNotes.load` on a file like [this](https://github.com/conventional-changelog/commitlint/blob/master/CHANGELOG.md).

### Expected behavior

Be able to parse Conventional changelogs and maybe ignore

[2022-05-11 13:45] baronfel commented on #2676
There's a Changelog module as well that you may prefer to use instead of the ReleaseNotes module. I've switched many of my repos over to it (or to Ionide.KeepAChangelog directly) as a result.

[2022-05-11 13:51] baronfel commented on #2676
I mean sure, yes, but I would instead just know that if I'm using a CHANGELOG.md then I need to use the Changelog module. You have to do an explicit migration right now from the FAKE-specific ReleaseNotes format to the more general Changelog format, so I don't really see a point to trying to automatically detect the format.

[2022-05-11 13:54] akhansari commented on #2676
OK it makes sense. thank you Chet 🙏🏻

[2022-05-11 13:54] #2676 closed

[2022-05-11 13:57] baronfel commented on #2676
If you want to migrate an existing Release Notes file, here's a one-time conversion function I made for FSAutoComplete when we moved: [fsharp/FsAutoComplete@`af81187` (#881)](https://github.com/fsharp/FsAutoComplete/pull/881/commits/af8118729e9737071c543de58223164134051fe4#diff-5ebd60ceb88910043c04c5a665d836197d7184488edcf52f590e8fcad6101519R196)

It might make sense for FAKE to have this, now tha

[2022-05-16 14:02] akhansari opened #2677 "getLastTag should have --tags as describe argument"
### Description

`Fake.Tools.Git.Information.getLastTag` should have --tags as describe argument.

### Repro steps

Run: `Fake.Tools.Git.Information.getLastTag ()` on a repository with tags.

### Expected behavior

Should return the last tag.

### Actual behavior

[code]

### Known workarounds

`Fake.Tools.Git.CommandHelper.runGitCommand "" "describe --tags --abbrev=0"`

### Related information

*

[2022-05-17 03:06] michaelsmithson commented on #2600
I just started getting this issue as well after upgrading to .NET 6.

For me commenting out the line "CreateProcess.withEnvironment" in the createProcess function here https://github.com/fsprojects/FAKE/blob/562dfc62301e1d553ab2b1c454997f2e009775c2/src/app/Fake.DotNet.Testing.NUnit/NUnit3.fs#L342 resolved it for me.

I'm not really sure why this was causing the issue as I was just passing an empty

[2022-05-18 15:14] InvisibleBacon opened #2678 "Fake 5.22.0 is not respecting `rollForward` property in global.json"
### Description

I am having to specify a sdk version in global.json in order to force Fake to use something greater than netstandard2.0 since our fake script uses async (see https://github.com/fsprojects/FAKE/issues/2659#issuecomment-1048985697 for details).

I was hoping to not require all our devs (and build servers) to require a specific patch of the .NET 6 sdk so I added `"rollForward": "late

[2022-05-18 15:25] InvisibleBacon commented on #2678
Ah.. well I see I should search through existing issues more carefully before creating a new one. This is a duplicate of https://github.com/fsprojects/FAKE/issues/2641

[2022-05-19 18:42] mclark1129 commented on #2641
I do not, a PR for the alpha build is here https://github.com/fsprojects/FAKE/pull/2668 but it is blocked because the Mac OS tests are failing for reasons I can't personally reproduce (works on my fork!).  That's basically where the fix has died for now, and my team has already started the process for moving to different build tooling.

[2022-05-19 20:00] InvisibleBacon commented on #2641
@mclark1129 That's unfortunate. Thank you for your efforts here.. Hopefully progress will be made.

[2022-05-25 13:59] CIKI21 opened #2679 "Allintitle index of/anonymous"

[2022-05-27 02:33] NightOwl888 opened #2680 "Release notes not parsing the last version"
### Description

I am attempting to patch an older version (1.9.1.1) and re-release it (1.9.1.2). The release notes have 2 higher version numbers, 1.9.3, and 1.9.4. However, the release notes logic always picks the highest version from the file instead of the one at the top of the file.

I thought it might be related to line endings or something like that, but I have checked and they are all the s

[2022-05-27 19:00] DalekBaldwin commented on #2680
I ran into this after updating Fake.Core.ReleaseNotes from 5.20.4 to 5.22.0 -- no problem grabbing the first listed version from the release notes file before that update.

[2022-06-16 19:17] voronoipotato commented on #2564
if https://github.com/fsharp/fslang-suggestions/issues/1144 were implemented using fsi might be a viable solution rather than just a workaround.

[2022-07-02 13:36] Arshia001 commented on #2618
@yazeedobaid It's been a while, but I'm getting an error that seems related to this issue.

I have .NET SDK versions 6.0.201 and 6.0.203 installed on a computer. This corresponds to runtime versions 6.0.3 and 6.0.5 respectively as per https://dotnet.microsoft.com/en-us/download/dotnet/6.0. However, the FAKE runner tries to access reference assemblies for version 6.0.2, which it cannot find and fai

[2022-07-09 19:24] rdewaele commented on #2626
problem seems to still exist on my system at least, with an empty build file
[code]

[2022-07-10 08:48] matthid opened #2682 "fake.build domain expires 2022-10-28"
This is an announcement to let you guys know that I cancelled the domain renewal. As I'm not involved in the project anymore it didn't make a lot of sense for me to own that domain.
Imho we have two ways forward,
- either someone or some business steps in to fund the domain for the project
- or we just use GitHub pages in the future, for this we need to remove the current redirect. Once the redire

[2022-07-11 20:21] aggieben commented on #2557
I think this may still be an issue and should be reopened.

[2022-07-11 20:22] Freymaurer commented on #2557
Yes sadly it is 😢 I am also having an eye on this issue

[2022-07-12 11:43] Freymaurer opened #2683 "ReleaseNotes.load does not parse SemVer correctly v2"
### Description

Issue #2557 is still not fixed. I could propably fix it and do a PR, but i need to know if this is wanted, as i see multiple stale PRs.

@forki

[2022-07-15 17:28] #2671 closed

[2022-07-15 17:29] yazeedobaid commented on #2683
@Freymaurer yes, please. That would be great

[2022-07-15 17:43] yazeedobaid commented on #2618
A new alpha release of the FAKE runner has been published now. Please test with that since we had a PR that fix the SDK runtime resolution logic.

[2022-07-15 17:55] yazeedobaid opened #2685 "Bump Version in Build is Causing Version issues after a Release"
### Description

After each release of FAKE, the build script updates the DotNet `fake-cli` tool in the tools JSON file in the repository with version `1.0.0-1`. The update happens as a way to pick up the newly released version of FAKE CLI and use it in the repository codebase. However, the version that the build set is not the most recent one and will cause subsequent builds to fail and it needs

[2022-07-18 23:20] gaven commented on #2648
If you're experiencing this issue on a Mac with a M1 processor (assuming you've installed the x64 version of the .NET SDK).  You'll need to create an environment variable named `DOTNET_HOST_PATH` and set it's value to `/usr/local/share/dotnet/x64/sdk`.

[2022-07-19 08:05] thinkbeforecoding commented on #2648
Had the same problem. adding framework: net6.0 in the #r "paket: ..." and removing the global.json fixed it.

[2022-07-20 14:41] falfaddaghi commented on #2682
I am willing to fund the domain.
if we decide to move to github pages I would rather not have it not have a deadline.
@matthid  let me know how you want to transfer the domain.

[2022-07-20 17:36] matthid commented on #2682
@falfaddaghi Thanks a lot!
Yes, tbh I wasn't sure about the best way forward, that's why I opened the issue.
Do you need anything else than the domain authorization code? I guess I'll file a secure way to send it to you?

[2022-07-20 18:57] falfaddaghi commented on #2682
can we setup a quick meeting to handle this?
can i send the invite to the same email? you used before?

On Wed, 20 Jul 2022, 8:36 pm Matthias Dittrich, ***@***.***>
wrote:

[2022-07-21 10:22] #2677 closed

[2022-07-21 13:45] yazeedobaid commented on #2685
More info:
So in GitHub workflows, we build FAKE runner with a version of `1.0.0-1` and then add it as a DotNet tool. This was done in this way to dogfood the build with the latest changes in the runner. Now since `fake-cli` tool is added to the solution with that version. Then when committing the bump version commit, it will use that version.

[2022-07-21 14:25] Freymaurer commented on #2683
Is there already a planned date when the next FAKE release will happen?

[2022-07-21 14:27] yazeedobaid commented on #2683
I'm planning for another alpha release today or tomorrow.

[2022-07-21 14:34] #2683 closed

[2022-07-21 14:56] #2685 closed

[2022-07-21 18:31] matthid commented on #2682
Yeah sure just send me an invite, I'll answer per mail if the time works out.

[2022-07-25 08:33] yazeedobaid commented on #2680
Thanks for reporting.
The `ReleaseNotes` module in FAKE follows guidelines in [keepachangelog](https://keepachangelog.com/en/1.1.0/) site. And changelog files should be ordered in chronological order based on the version, in which entries are ordered by version. So latest version comes first.

If you would like more control on which entry to get as latest, you can use `parseAll` method which parse

[2022-07-25 17:51] yazeedobaid commented on #2600
@michaelsmithson Thanks a lot for the hint at that location. It indeed was the cause of the issue.
I have opened PR #2690 which has a possible fix for the issue.
Feedback is highly appreciated.

[2022-07-30 07:15] koenmetsu opened #2691 "Targets defined as parallel run sequentially when they have a common dependency"
Hi

I'm trying to make 3 targets run in parallel, with a common first step. As soon as I add the common step, the targets don't seem to run in parallel anymore.

I added a small example script, which I run with ` dotnet fake run build-parallel.fsx --parallel 8`.

Is this a known issue, or am I missing something here?

[code]

[2022-07-31 08:24] razzmatazz opened #2692 "Fails on M1 (aarch64) Macs"
### Description

Current version of fake that uses dotnet-6 runtime cannot build FSAC or FAKE itself.

### Repro steps

This is on M1/macOS:

1. Checkout FAKE
2. Do `dotnet tool restore`
3. Do `dotnet fake build`

### Expected behavior

Fake builds sucessfully.

### Actual behavior

`fake build` fails with

[code]

### Known workarounds

Apparently the issue is https://github.com/dotnet/runtime/is

[2022-07-31 08:31] razzmatazz commented on #2692
looks to be duplicate of https://github.com/fsprojects/FAKE/issues/2626, sorry

[2022-07-31 08:31] #2692 closed

[2022-07-31 20:05] mlaily commented on #2666
I think most of the issues are still present, though hopefully better documented, but I understand if you want to close this issue as there is nothing easily actionable.

As I mentioned in my previous comment, I feel like the whole CLI would benefit from being rewritten using https://github.com/dotnet/command-line-api
I think it would solve most of the "feels unfamiliar an surprising to use" UX th

[2022-08-01 13:47] #2600 closed

[2022-08-01 14:34] yazeedobaid commented on #2600
The fix has been released in `5.23.0` release.

[2022-08-15 04:01] aboy021 opened #2695 "Add Documentation for build.fsproj pattern"
### Description

I've recently moved from using the FAKE script runner to having a stand alone **build.fsproj** project that uses FAKE libraries. It's an approach that others have been using, and I've found it to be excellent so far. It would be great if there were some documentation on the [Project Home Page](https://fake.build/) on how to do this.

The following projects both use the **build.fsp

[2022-08-18 08:06] yazeedobaid commented on #2695
Thanks a lot for suggesting the solution. Yes, absolutely we can add this approach to the different ways that FAKE can be used. I like the structure of your answer in StackOverflow. Would you like to send a PR with it?

By the way, we are currently experimenting with the solution of using `dotnet fsi` directly instead of the FAKE runner. Since now FSI supports resolving dependencies from the scrip

[2022-08-24 15:47] ralmeidalgc commented on #2521
Thanks @Wallace-Kelly it fixed

[2022-09-04 18:28] ShalokShalom opened #2696 "Documentation - Shell Command sanitized?"
### Description

I wonder if the `ShellCommand` and `RawCommand` runners are safe.

### Repro steps

Please provide the steps required to reproduce the problem

1. visit documentation at https://fake.build/apidocs/v5/fake-core-command.html

2. Wonder, whatever or not, both APIs provide a sanitized interface.

### Expected behavior

ShellCommand (which is probably unsafe) being described as vulnera

[2022-09-06 14:47] ShipraRay opened #2697 "How can i set build.fsx to pick VS2019 MSBuild toolversion"
How can i set build.fsx to pick VS2019 MSBuild toolversion

### Repro steps

In my local machine i have VS2019 where the soln.fsx file is building fine(I have set the MSBuild environment path as 'C:\Program Files (x86)\Microsoft Visual Studio\2019\Professional\MSBuild\Current\Bin')

But in Azure Devops pipeline it is failing, i am selecting Agent Specification as windows-2019

### Expected behavio

[2022-09-06 18:06] macklindemetrix commented on #2626
Is there a way to force FAKE to run with a particular SDK version?  My issue is that I need a net6 SDK to build my project, but I cannot run FAKE itself with net6 because of this bug.  The only workaround I've found so far is to uninstall the net6 SDK, run FAKE far enough through the build that something seems to get cached on disk that prevents recurrence of this bug when running again, then re-i

[2022-09-08 07:45] yazeedobaid commented on #2697
Thanks for reporting, so you know the path to MSBuild on the Azure pipeline but the MSBuild task from FAKE is not picking up that path? If that is the case, could you please provide the path you know so that we can debug it more? And as a workaround, can you try one of these options:
1. Try to set the MSBuild tool location from the AppSettings file using a parameter named `MSBuild`
2. Specify the

[2022-09-08 08:21] ShipraRay commented on #2697
In my build.fsx file added this to forcibly take VS 2019 version but still it didnot worked:

let toolsVersion = "Current"

let setParams defaults =
        { defaults with
            Verbosity = Some(Quiet)
            ToolsVersion = Some(toolsVersion)
            Targets = ["Build"]
            Properties =
                [
                    "Optimize", "True"
                    "DebugSymbo

[2022-09-08 08:41] yazeedobaid commented on #2697
Could you please share a complete build script that has the issue, the error message you get from Azure Pipeline, and the path to MSBuild in Azure Pipeline that FAKE is failing to find?

[2022-09-10 09:08] nickgravgaard opened #2701 "Code should search for sqlpackage in $PATH on Unix-like OSs"
Currently the path for sqlpackage is hard-coded as `/usr/local/bin/sqlpackage` if the user is using MacOS, Linux or other Unix-like operating systems. This works for MacOS, but results in the error `No SqlPackage.exe filename was given.` on my Arch based Linux system. On my system it's located at `/usr/bin/sqlpackage` as you can see in this terminal session:
[code]
I think a colleague also has the

[2022-09-10 12:56] babysnakes opened #2702 "`System.IO.Stream` error when using SharpCompress"
### Description

When trying to use the _SharpCompress_ library to create tar.gz archives (It seems that the functionality was removed in Fake 5) I used the following code:

[code]

(The complete script is attached as TXT file).

When running `dotnet fake build -t Publish` I get the following error:

[code]
### Repro steps

I guess running build script in an empty directory will generate the same

[2022-09-10 12:59] babysnakes commented on #2702
I accidently pressed the submit button before filling out the bug. I'll update the description and notify when ready. Sorry.

[2022-09-10 13:16] babysnakes commented on #2702
Ok, now the description is ready.

[2022-09-14 14:50] ShipraRay150 opened #2703 "How can i set build.fsx to pick VS2019 MSBuild toolversion"
How can i set build.fsx to pick VS2019 MSBuild toolversion

Repro steps
In my local machine i have VS2019 where the soln.fsx file is building fine(I have set the MSBuild environment path as 'C:\Program Files (x86)\Microsoft Visual Studio\2019\Professional\MSBuild\Current\Bin')

But in Azure Devops pipeline it is failing, i am selecting Agent Specification as windows-2019

Expected behavior
In my s

[2022-09-14 15:40] ShipraRay150 commented on #2703
@yazeedobaid

In pipelines i am not adding any MSBuild path. When agent specification selected as windows-2019 it should pick the current MSBuild path

[2022-09-14 15:42] #2703 closed

[2022-09-14 15:44] ShipraRay150 commented on #2703
@yazeedobaid Please help on this.

[2022-09-14 18:55] yazeedobaid commented on #2703
@ShipraRay150 can u please add a log statement to your Azure pipeline to output the path to MSBuild and share it so that I can debug why FAKE is failing to find that path?

[2022-09-15 05:57] ShipraRay150 commented on #2703
@yazeedobaid
Below is the log:
2022-08-30T08:02:07.8182988Z Starting task 'MSBuild': D:\a\1\s\source\ING.myLeo.Common\ING.myLeo.Common.sln
2022-08-30T08:02:07.8711593Z Building project: D:\a\1\s\source\ING.myLeo.Common\ING.myLeo.Common.sln
2022-08-30T08:02:07.8712600Z   c:\Windows\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe  D:\a\1\s\source\ING.myLeo.Common\ING.myLeo.Common.sln "/t:Clean,Build"

[2022-09-15 11:53] ShipraRay150 commented on #2703
I have added below line in my build.fsx script to set the default msbuiltpath but it is not working:
let msBuildPath ="C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Current\Bin\MSBuild.exe"

let setParams defaults =
        { defaults with
            Verbosity = Some(Quiet)
            ToolsVersion = Some(toolsVersion)
            ToolPath = msBuildPath
            Target

[2022-09-15 18:27] yazeedobaid commented on #2703
@ShipraRay150 ,
Thanks for providing the repro sample, I tried your sample locally and it worked, it picked the path that I'm providing as follows:
[code]

Here I have provided the path for Visual Studio V2022, notice that I provided the `myproject.sln` in projects list to make step fail and debugged the called command of MSBuild, and following is the result from executing the script:

[code]

Als

[2022-10-06 16:27] Rudraksh04 opened #2704 "Fake"

[2022-10-09 16:57] AndersBreg commented on #2626
@macklindemetrix You can choose to use a specific version of dotnet SDK, by specifying it in a global.json file, see https://learn.microsoft.com/en-gb/dotnet/core/tools/global-json. If you want to run FAKE using one Sdk, and want to run the app using another, I believe this can be accomplished using multiple global.json files.

[2022-10-21 14:10] #2670 closed

[2022-10-21 14:19] #2704 closed

[2022-10-21 14:19] yazeedobaid commented on #2703
@ShipraRay150 any updates on this?

[2022-10-21 14:20] yazeedobaid commented on #2697
Closing this issue since it is a duplicate of #2703

[2022-10-21 14:20] #2697 closed

[2022-10-21 14:22] yazeedobaid commented on #2680
closing this due to inactivity, please feel free to re-open or open a new issue if anything still needs to be addressed.

[2022-10-21 15:45] yazeedobaid commented on #2701
released in `5.23.1`

[2022-10-21 15:45] #2701 closed

[2022-10-25 15:21] awbv opened #2707 "Fake script fails with Error: `The specified file name or path is too long`"
### Description

While trying to run a task with fake, I get an error message saying
`Script is not valid:
	unknown (1,0)-(1,0): Error FS0193: The specified file name or path is too long, or a component of the specified path is too long.`
That happens for [SwaggerProvider](https://github.com/fsprojects/SwaggerProvider) on a `master` branch.

### Repro steps

1. Clone [SwaggerProvider](https://gith

[2022-10-26 11:43] mk185147 opened #2708 "Update Paket.Core to support .NET 7"
### Description

Today Fake uses Paket.Core 6.2.1 that doesn't support .NET 7. There already exists a stable package of Paket.Core 7.1.5 that works fine with .NET 7.

### Repro steps

If you have paket.lock file that was created for .NET 7 running dotnet fake build can fail with error:
[code]

[2022-10-26 16:11] otto-gebb opened #2709 "Error detecting msbuild version on Linux"
### Description

On Linux, FAKE outputs an error when it tries to detect the version of msbuild:

I tried issuing the same command as FAKE does, and got this result:
![image](https://user-images.githubusercontent.com/5798003/198075427-b838a0b8-a10a-4ea9-a121-900a4562ee0a.png)

As we see, the command would have succeeded if FAKE were using double dashes instead of slashes.

The relevant code, I bel

[2022-11-08 19:40] OnurGumus opened #2713 "Update to .NET 7"
### Description

Title says all.

[2022-11-11 12:18] #2708 closed

[2022-11-11 15:22] #2713 closed

[2022-11-11 15:23] yazeedobaid commented on #2703
closing this due to inactivity, please feel free to re-open.

[2022-11-12 20:01] OnurGumus commented on #2713
@yazeedobaid , while it works against .NET 7, it still requires .NET 6 SDK to exist

https://github.com/fsprojects/FAKE/blob/ada1877316c83eebb6c3695dd8e234c906276a0d/src/app/Fake.Runtime/SdkAssemblyResolver.fs#L203

So I don't think this problem is fixed.

[2022-11-14 09:19] yazeedobaid commented on #2713
@OnurGumus we are not planning to support .NET 7 in the runner. Currently, it is using .NET 6 since it is the current LTS release. Before this, we supported .NET 6 and NETSTANDARD reference assemblies and we had a lot of issues that we needed to do a workaround to fix them, which led us to drop support for NETSTANDARD in FAKE v6.

If you would like to use .NET 7 reference assemblies for any reason

[2022-11-14 10:31] OnurGumus commented on #2713
I understand but, In either case, doesn't this necessitate both .NET 6 and .NET 7 SDK's to exist in CI/CD or build images?
This doesn't sound ideal.

[2022-11-14 16:50] yazeedobaid commented on #2713
No, other approaches utilize .NET and FSI, so it will use the currently installed .NET SDK you have. The other two approaches use .NET and FSI to resolve the dependencies in the script file, instead of the FAKE runner. Which will parse the Paket section, determine the dependencies, and add the .NET SDK reference assemblies.

[2022-11-14 20:59] OnurGumus commented on #2713
Hello @yazeedobaid  when I tried the last approach I end up with
Unhandled exception. System.Exception: Cannot retrieve 'Fake.Core.Target.ArgResults' as we have no fake context
Any ideas?

[2022-11-14 21:40] OnurGumus commented on #2713
Second way also won't work
failing with /.fake/build.fsx/intellisense_lazy.fsx'  doesn't exist and it doesn't/

[2022-11-14 21:53] yazeedobaid commented on #2713
@OnurGumus for the last approach, you need to create a FAKE execution context in the build script. Like this:
[code]

You can check samples in the docs for that method. For example, in MiniScaffold, [these lines](https://github.com/TheAngryByrd/MiniScaffold/blob/c77b76bfba47b74e10774a7c3be61c6aa395d4f5/build/build.fs#L545-L550)

For the second way you also don't need the lazy file, it was for runn

[2022-11-15 09:03] nojaf opened #2719 "Could not find a suitable .NET 6 runtime version matching SDK version: 7.0.100"
### Description

I cannot my FAKE using dotnet 7 sdk.

### Repro steps

global.json:

[code]

install fake-cli `6.0.0-alpha003`.
Create empty `fsx` file.
Run `dotnet fake run build.fsx`

[code]

### Expected behavior

It should not fail.

### Actual behavior

I find it weird to see a complaint about finding no dotnet 6 runtime.
The check above did find the correct `7.0.100` version

### Known work

[2022-11-15 17:05] jrk94 commented on #2641
Did it work for you @InvisibleBacon ? Seems like it's still not working for me. It still is unable to roll forward

[2022-11-16 09:28] yazeedobaid commented on #2719
The FAKE runner is locked to .NET 6 runtime assemblies. In FAKE v6. the support for NETSTANDRD 2.0 has been dropped in the runner and it only searches for a .NET 6 SDK references assemblies. If it cannot find any, then the runner will fail with this message.

Supporting multiple reference assemblies causes problems before when we supported NETSTANDARD2.0 and NET 6, and we had to do some workaround

[2022-11-16 10:02] nojaf commented on #2719
Hello @yazeedobaid, thanks for explaining the problem space.
I'm currently trying to upgrade an open-source project that happens to use FAKE.
So, I would probably go for the easiest option and convert the script to a project. (If the maintainers approve of course)

The best solution would be to use the reference assemblies of the currently used SDK (assuming it is 6 or higher). But that smells lik

[2022-11-17 18:38] circusboy opened #2722 "DotNet.publish fails attempting to load Microsoft.Build.Framework, Version=15.1.0.0"
### Description

FAKE throws a `BuildFailedException` when running `DotNet.publish`.  An inner exception indicates that FAKE is trying to load `Microsoft.Build.Framework, Version=15.1.0.0`, which doesn't seem to exist on my machine.

I encountered this problem on a colleague's machine.  I couldn't reproduce it on my own machine (which has been using this build script for several years now) until I

[2022-11-17 19:05] yazeedobaid commented on #2722
Had the same issue on the GitHub action for the build. It seems due to the release of .NET 7. The dependency resolution in the script uses the newer versions of build packages that are released with .NET 7. We fixed it in FAKE by pinning the packages in the build script:
[code]

[2022-11-24 20:40] Prinz1k opened #2725 "Jsjsks"
Jsjsks
Avisos
Hsisks a
Jsisma
Jdis

[2022-11-25 09:34] #2725 closed

[2022-11-30 13:27] MortalFlesh commented on #2719
Hello,
I'm also trying to use net 7 in my project and I constantly get an error:
[code]

Before this I used `build.fsx` but as  @yazeedobaid mentioned, there are problems - so I'm trying to use build as a project (inspired by https://github.com/TheAngryByrd/MiniScaffold example).

`Foo` target works as expected (so does the `Clean` target).

But when there is a Fake package in use in the target (s